Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

.
  internal/provider/resource_entry_schema.go
  internal/provider/testdata/TestAccEntryResourceCreate/main.tf
  internal/provider/testdata/TestAccEntryResourceCreateWithID/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/main.tf
Due: provider

.
  internal/provider/resource_entry.go
Due: provider

.
  internal/provider/resource_entry.go
  internal/provider/resource_entry_test.go
Due: provider

.
  internal/provider/resource_entry.go
  internal/provider/typed_map.go
Due: provider

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

feat(contentful-management-go): implement content entry management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_entry.go
Due: contentful-management-go

feat(contentful-management-go): implement content entry publishing
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler_entry.go
Due: contentful-management-go

res
  docs/resources/entry.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/server_entry.go
  internal/provider/contentful_provider.go
  internal/provider/entry_model.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_content_type.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceCreate/main.tf
  internal/provider/testdata/TestAccEntryResourceCreateWithID/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccEntryResourceImport/main.tf
  internal/provider/testdata/TestAccEntryResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/main.tf
  internal/provider/typed_map.go
  internal/provider/use_state_for_unknown.go
Due: contentful-management-go, provider

feat(provider): introduce typedmap element inspection and mutation by key
  internal/provider/typed_map.go
  internal/provider/typed_map_test.go
Due: provider

feat(contentful-management-go): implement content entry management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/server_entry.go
Due: contentful-management-go

feat(provider): introduce content entry resource
  docs/resources/entry.md
  internal/provider/contentful_provider.go
  internal/provider/entry_model.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_content_type.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceCreate/main.tf
  internal/provider/testdata/TestAccEntryResourceCreateWithID/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/3/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/4/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/5/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/6/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/7/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/8/main.tf
  internal/provider/testdata/TestAccEntryResourceImport/main.tf
  internal/provider/testdata/TestAccEntryResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccEntryResourceMetadataTags/main.tf
  internal/provider/testdata/TestAccEntryResourceMissingFields/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/main.tf
  internal/provider/use_state_for_unknown.go
Due: provider

feat(contentful-management-go): implement content entry publishing
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler_entry.go
Due: contentful-management-go

feat(provider/entry): publish entries
  internal/provider/resource_entry.go
Due: provider

chore(github/workflows): test against terraform 1.14.0-rc1
  .github/workflows/test.yml
Due: none

ref(contentful-management-go): extract error schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/error/error.yml
  internal/contentful-management-go/openapi/schemas/error/fields.yml
  internal/contentful-management-go/openapi/schemas/error/sys-id.yml
  internal/contentful-management-go/openapi/schemas/error/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract link schema components into separate files
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/ogen.yml
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/links/annotation-link.yml
  internal/contentful-management-go/openapi/schemas/links/app-bundle-link.yml
  internal/contentful-management-go/openapi/schemas/links/app-definition-link.yml
  internal/contentful-management-go/openapi/schemas/links/content-type-link.yml
  internal/contentful-management-go/openapi/schemas/links/environment-link.yml
  internal/contentful-management-go/openapi/schemas/links/function-link.yml
  internal/contentful-management-go/openapi/schemas/links/organization-link.yml
  internal/contentful-management-go/openapi/schemas/links/preview-api-key-link.yml
  internal/contentful-management-go/openapi/schemas/links/resource-provider-link.yml
  internal/contentful-management-go/openapi/schemas/links/space-link.yml
  internal/contentful-management-go/openapi/schemas/links/sys.yml
  internal/contentful-management-go/openapi/schemas/links/tag-link.yml
  internal/contentful-management-go/openapi/schemas/links/taxonomy-concept-link.yml
  internal/contentful-management-go/openapi/schemas/links/taxonomy-concept-scheme-link.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-app-definition.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-content-type.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-id-and-version-and-published-version.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-id-and-version.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-id.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-organization.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-resource-provider.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-space-environment.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-space.yml
  internal/contentful-management-go/openapi/schemas/sys/sys-with-version.yml
  internal/contentful-management-go/openapi/schemas/sys/sys.yml
  internal/contentful-management-go/testing/handler_delivery_api_key.go
Due: contentful-management-go

ref(contentful-management-go): extract user schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/user/fields.yml
  internal/contentful-management-go/openapi/schemas/user/sys.yml
  internal/contentful-management-go/openapi/schemas/user/user.yml
Due: contentful-management-go

ref(contentful-management-go): extract api-key schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/api-key/api-key.yml
  internal/contentful-management-go/openapi/schemas/api-key/fields.yml
  internal/contentful-management-go/openapi/schemas/api-key/request-fields.yml
  internal/contentful-management-go/openapi/schemas/api-key/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract app-definition schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-definition/app-definition.yml
  internal/contentful-management-go/openapi/schemas/app-definition/fields.yml
  internal/contentful-management-go/openapi/schemas/app-definition/parameter.yml
  internal/contentful-management-go/openapi/schemas/app-definition/parameters.yml
  internal/contentful-management-go/openapi/schemas/app-definition/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract app-installation schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-installation/app-installation.yml
  internal/contentful-management-go/openapi/schemas/app-installation/fields.yml
  internal/contentful-management-go/openapi/schemas/app-installation/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract app-signing-secret schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-signing-secret/app-signing-secret.yml
  internal/contentful-management-go/openapi/schemas/app-signing-secret/fields.yml
  internal/contentful-management-go/openapi/schemas/app-signing-secret/request-fields.yml
  internal/contentful-management-go/openapi/schemas/app-signing-secret/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract content-type schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/content-type/content-type.yml
  internal/contentful-management-go/openapi/schemas/content-type/fields.yml
  internal/contentful-management-go/openapi/schemas/content-type/metadata-annotation-assignment.yml
  internal/contentful-management-go/openapi/schemas/content-type/metadata-taxonomy-item.yml
  internal/contentful-management-go/openapi/schemas/content-type/metadata.yml
  internal/contentful-management-go/openapi/schemas/content-type/request-fields.yml
  internal/contentful-management-go/openapi/schemas/content-type/resource-link.yml
  internal/contentful-management-go/openapi/schemas/content-type/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract entry schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/entry/entry.yml
  internal/contentful-management-go/openapi/schemas/entry/fields.yml
  internal/contentful-management-go/openapi/schemas/entry/metadata.yml
  internal/contentful-management-go/openapi/schemas/entry/request.yml
  internal/contentful-management-go/openapi/schemas/entry/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract editor-interface schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/editor-interface/editor-interface.yml
  internal/contentful-management-go/openapi/schemas/editor-interface/fields.yml
  internal/contentful-management-go/openapi/schemas/editor-interface/layout-items.yml
  internal/contentful-management-go/openapi/schemas/editor-interface/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract personal-access-token schema fragments",
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/personal-access-token/fields.yml
  internal/contentful-management-go/openapi/schemas/personal-access-token/personal-access-token.yml
  internal/contentful-management-go/openapi/schemas/personal-access-token/request-fields.yml
  internal/contentful-management-go/openapi/schemas/personal-access-token/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract preview-api-key schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/preview-api-key/fields.yml
  internal/contentful-management-go/openapi/schemas/preview-api-key/preview-api-key.yml
  internal/contentful-management-go/openapi/schemas/preview-api-key/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract extension schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/extension/extension.yml
  internal/contentful-management-go/openapi/schemas/extension/fields.yml
  internal/contentful-management-go/openapi/schemas/extension/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract resource-provider schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/resource-provider/fields.yml
  internal/contentful-management-go/openapi/schemas/resource-provider/request-sys.yml
  internal/contentful-management-go/openapi/schemas/resource-provider/request.yml
  internal/contentful-management-go/openapi/schemas/resource-provider/resource-provider.yml
  internal/contentful-management-go/openapi/schemas/resource-provider/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract resource-type schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/resource-type/default-field-mapping.yml
  internal/contentful-management-go/openapi/schemas/resource-type/fields.yml
  internal/contentful-management-go/openapi/schemas/resource-type/resource-type.yml
  internal/contentful-management-go/openapi/schemas/resource-type/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract role schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/role/fields.yml
  internal/contentful-management-go/openapi/schemas/role/role.yml
  internal/contentful-management-go/openapi/schemas/role/sys.yml
Due: contentful-management-go

ref(contentful-management-go): extract space-enablement schema fragments
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/space-enablement/field.yml
  internal/contentful-management-go/openapi/schemas/space-enablement/fields.yml
  internal/contentful-management-go/openapi/schemas/space-enablement/space-enablement.yml
  internal/contentful-management-go/openapi/schemas/space-enablement/sys.yml
Due: contentful-management-go
