Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

fixup! fix(internal/provider): allow computed null entry fields
  docs/resources/entry.md
Due: none

fix(internal/provider): allow nullable entry fields state
  internal/provider/resource_entry_schema.go
Due: provider

feat(cmd/terraform-provider-contentful-migrate): add config migration tool
  cmd/terraform-provider-contentful-migrate/main.go
  go.mod
  internal/migrate/entry_fields.go
  internal/migrate/entry_fields_test.go
  internal/migrate/migrate.go
Due: none

fix(provider): improve configuration diagnostics
  docs/index.md
  internal/provider/contentful_provider.go
  internal/provider/contentful_provider_test.go
Due: provider

docs(development): document development workflow
  DEVELOPMENT.md
  README.md
Due: none

fix(provider): validate preview environment requests
  internal/provider/preview_environment_model_request.go
  internal/provider/preview_environment_model_test.go
  internal/provider/resource_preview_environment_schema.go
Due: provider

docs(research): align CMA catalogue with current provider
  docs/research/contentful-cma-manageable-settings.md
Due: none

fix(locale): align with current provider contracts
  README.md
  docs/data-sources/locale.md
  docs/resources/locale.md
  internal/contentful-management-go/locale_response_test.go
  internal/contentful-management-go/locale_sys.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/locale/locale.yml
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_locale.go
  internal/contentful-management-go/testing/handler_locale_test.go
  internal/contentful-management-go/testing/locale.go
  internal/provider/data_source_locale.go
  internal/provider/data_source_locale_model.go
  internal/provider/data_source_locale_schema.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_locale.go
  internal/provider/list_resource_locale_config.go
  internal/provider/list_resource_request_test.go
  internal/provider/locale_model.go
  internal/provider/locale_model_response.go
  internal/provider/resource_locale_schema.go
  internal/provider/resource_locale_test.go
Due: contentful-management-go, provider

fix(provider/entry): align localized fields with current contracts
  go.mod
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_request_test.go
  internal/provider/entry_model_response.go
  internal/provider/entry_model_response_internal_test.go
  internal/provider/list_resource_entry.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/entry_model.go
Due: provider

fix(provider): align write-only secrets with current lifecycle
  docs/resources/webhook.md
  docs/write-only-and-ephemeral-secrets.md
  internal/provider/app_signing_secret_model_request.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_app_signing_secret_test.go
  internal/provider/resource_webhook.go
  internal/provider/resource_webhook_schema.go
  internal/provider/resource_webhook_test.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_header_value.go
  internal/provider/webhook_header_value_response.go
  internal/provider/webhook_header_value_test.go
  internal/provider/webhook_model.go
  internal/provider/webhook_model_request.go
  internal/provider/webhook_model_request_test.go
  internal/provider/webhook_model_response.go
  internal/provider/webhook_request_values_test.go
  internal/provider/write_only_resource_models_test.go
  internal/provider/write_only_secret.go
  internal/provider/write_only_secret_test.go
Due: provider

fix(provider): bound write-only private state writes
  internal/provider/write_only_secret.go
  internal/provider/write_only_secret_test.go
Due: provider

refactor(provider): centralize known value conversion
  internal/provider/known_values.go
  internal/provider/known_values_test.go
  internal/provider/request_object_list.go
  internal/provider/request_string_list_test.go
Due: provider

docs(provider): record Terraform value semantics
  README.md
  docs/design/terraform-value-semantics.md
Due: none

refactor(list): stage list resource results
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
  internal/provider/list_result.go
  internal/provider/list_result_test.go
Due: provider

refactor(provider): clarify post-mutation state construction
  docs/design/terraform-value-semantics.md
  internal/provider/content_type_model_response.go
  internal/provider/editor_interface_model_response.go
  internal/provider/entry_model_response.go
  internal/provider/entry_model_response_internal_test.go
  internal/provider/list_resource_entry.go
  internal/provider/list_result.go
  internal/provider/list_result_test.go
  internal/provider/mutation_response_test.go
  internal/provider/mutation_state_test.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_role.go
  internal/provider/resource_state_test.go
  internal/provider/resource_webhook.go
  internal/provider/role_model_response.go
  internal/provider/webhook_filters_response_test.go
  internal/provider/webhook_header_value_response.go
  internal/provider/webhook_headers_response.go
  internal/provider/webhook_model_response.go
Due: provider

fix(provider): enforce strict request value conversion
  internal/provider/app_definition_model_request_test.go
  internal/provider/app_key_model_request.go
  internal/provider/delivery_api_key_model_request.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/personal_access_token_model_request.go
  internal/provider/resource_taxonomy_conversion_barrier_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/taxonomy_model_conversion.go
  internal/provider/taxonomy_model_conversion_test.go
  internal/provider/taxonomy_models.go
  internal/provider/webhook_headers_request_test.go
  internal/provider/webhook_model_request_test.go
Due: provider

fix(provider): stage managed resource results
  internal/provider/contentful_provider_test.go
  internal/provider/entry_model_response_internal_test.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_key.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_state.go
  internal/provider/resource_state_test.go
  internal/provider/resource_tag.go
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_webhook.go
Due: provider

fix(provider): project response values leniently
  internal/provider/content_type_metadata_response.go
  internal/provider/content_type_metadata_response_test.go
  internal/provider/content_type_model_response.go
  internal/provider/editor_interface_layout_response_test.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_editor_layout_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group_item.go
  internal/provider/editor_interface_model_response.go
  internal/provider/mutation_response_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_role.go
  internal/provider/resource_webhook.go
  internal/provider/role_model_permissions_response.go
  internal/provider/role_model_policies_response.go
  internal/provider/role_model_response.go
  internal/provider/role_model_response_actions_test.go
  internal/provider/webhook_filters_response.go
  internal/provider/webhook_filters_response_test.go
  internal/provider/webhook_model_response.go
Due: provider

fix(provider): omit secret-bearing log payloads
  internal/provider/data_source_app_definition.go
  internal/provider/data_source_preview_api_key.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_webhook.go
  internal/provider/secret_payload_logging_test.go
Due: provider

docs(agents): add repository-wide coding guidance
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

fix(webhook): validate filter operators
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_filters_schema_test.go
Due: provider

fix(provider): reject invalid opaque JSON boundaries
  internal/provider/jsontypes_test.go
  internal/provider/util/jx.go
  internal/provider/util/jx_test.go
Due: provider

fix(provider): preserve opaque JSON number precision
  internal/provider/app_installation_model_response_test.go
  internal/provider/jsontypes.go
  internal/provider/jsontypes_test.go
  internal/provider/util/jx.go
  internal/provider/util/jx_test.go
Due: provider

docs(provider): mark omitted sensitive log fields
  internal/provider/data_source_preview_api_key.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_webhook.go
  internal/provider/secret_payload_logging_test.go
Due: provider

test(provider): remove source-inspection logging test
  internal/provider/secret_payload_logging_test.go
Due: provider

docs(agents): sharpen repository guidance
  AGENTS.md
Due: none

docs(agents): preserve current audit guidance
  AGENTS.md
Due: none

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
