Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

test(app-key): cover generated and provided keys
  internal/provider/resource_app_key_test.go
  internal/provider/testdata/TestAccAppKeyResourceGenerate/main.tf
  internal/provider/testdata/TestAccAppKeyResourceGenerate/vars.tf
  internal/provider/testdata/TestAccAppKeyResourceImport/main.tf
  internal/provider/testdata/TestAccAppKeyResourceImport/vars.tf
  internal/provider/testdata/TestAccAppKeyResourceJWK/main.tf
  internal/provider/testdata/TestAccAppKeyResourceJWK/vars.tf
  internal/provider/testdata/TestAccAppKeyResourceNullJWK/main.tf
Due: provider

docs(app-key): document key workflows
  README.md
  docs/resources/app_key.md
  examples/resources/contentful_app_key/import-by-identity.tf
  examples/resources/contentful_app_key/import-by-string-id.tf
  examples/resources/contentful_app_key/import.sh
  examples/resources/contentful_app_key/resource.tf
  examples/resources/contentful_app_key/variables.tf
  templates/resources/app_key.md.tmpl
Due: none

fix(contentful-management-go/testing): validate content type pagination
  internal/contentful-management-go/testing/error.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_test.go
Due: contentful-management-go

fix(contentful-management-go/testing): match content type metadata semantics
  docs/resources/content_type.md
  internal/contentful-management-go/testing/content_type.go
  internal/contentful-management-go/testing/error.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_metadata_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_test.go
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/3/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/3/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/4/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/4/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/annotations_only/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/annotations_only/vars.tf
Due: contentful-management-go, provider

fix(contentful-management-go/testing): match content type publication lifecycle
  internal/contentful-management-go/testing/content_type.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_lifecycle_test.go
Due: contentful-management-go

fix(contentful-management-go/testing): match editor interface lifecycle
  internal/contentful-management-go/testing/editor_interface.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_lifecycle_test.go
  internal/contentful-management-go/testing/handler_editor_interface.go
  internal/contentful-management-go/testing/handler_editor_interface_test.go
Due: contentful-management-go

test(provider): deduplicate metadata removal fixture
  internal/provider/resource_content_type_test.go
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/4/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/4/vars.tf
Due: provider

test(provider): cover content type metadata serialization
  internal/provider/content_type_metadata_request_test.go
Due: provider

fix(provider): reconcile content type metadata plans
  internal/provider/content_type_metadata_plan.go
  internal/provider/content_type_metadata_plan_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_test.go
Due: provider

test(provider): verify metadata plan reconciliation
  internal/provider/content_type_metadata_plan_test.go
  internal/provider/resource_content_type_test.go
Due: provider

feat(contentful-management-go): add taxonomy entity management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/taxonomy-concept-scheme/request.yml
  internal/contentful-management-go/openapi/schemas/taxonomy-concept-scheme/taxonomy-concept-scheme.yml
  internal/contentful-management-go/openapi/schemas/taxonomy-concept/request.yml
  internal/contentful-management-go/openapi/schemas/taxonomy-concept/taxonomy-concept.yml
  internal/contentful-management-go/openapi/schemas/taxonomy/localized.yml
  internal/contentful-management-go/openapi/schemas/taxonomy/patch.yml
  internal/contentful-management-go/openapi/schemas/taxonomy/sys.yml
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_taxonomy.go
  internal/contentful-management-go/testing/handler_taxonomy_test.go
  internal/contentful-management-go/testing/organization_map.go
Due: contentful-management-go

fix(provider): preserve configured taxonomy label maps
  internal/contentful-management-go/testing/handler_taxonomy.go
  internal/contentful-management-go/testing/handler_taxonomy_test.go
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/taxonomy_model_conversion.go
  internal/provider/taxonomy_model_conversion_test.go
  internal/provider/testdata/TestAccTaxonomyResourcesCreateUpdate/main.tf
Due: contentful-management-go, provider

feat(provider): add taxonomy entity resources
  .golangci.yml
  docs/resources/taxonomy_concept.md
  docs/resources/taxonomy_concept_scheme.md
  examples/resources/contentful_taxonomy_concept/import-by-identity.tf
  examples/resources/contentful_taxonomy_concept/import-by-string-id.tf
  examples/resources/contentful_taxonomy_concept/resource.tf
  examples/resources/contentful_taxonomy_concept/variables.tf
  examples/resources/contentful_taxonomy_concept_scheme/import-by-identity.tf
  examples/resources/contentful_taxonomy_concept_scheme/import-by-string-id.tf
  examples/resources/contentful_taxonomy_concept_scheme/resource.tf
  examples/resources/contentful_taxonomy_concept_scheme/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_taxonomy_schema.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/taxonomy_model_conversion.go
  internal/provider/taxonomy_model_conversion_test.go
  internal/provider/taxonomy_models.go
  internal/provider/testdata/TestAccTaxonomyResourcesCreateUpdate/main.tf
  internal/provider/testdata/TestAccTaxonomyResourcesCreateUpdate/vars.tf
Due: provider

test(taxonomy): exercise lifecycle and failure semantics
  .gitignore
  internal/contentful-management-go/testing/handler_taxonomy.go
  internal/contentful-management-go/testing/handler_taxonomy_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/taxonomy_model_conversion_test.go
Due: contentful-management-go, provider

docs(research): catalogue Contentful management settings
  docs/research/contentful-cma-manageable-settings-adversarial-review.md
  docs/research/contentful-cma-manageable-settings.md
Due: none

docs(research): add environment path survey
  docs/research/contentful-cma-manageable-settings-adversarial-review.md
  docs/research/contentful-cma-manageable-settings.md
Due: none

docs(research): present final findings only
  docs/research/contentful-cma-manageable-settings-adversarial-review.md
  docs/research/contentful-cma-manageable-settings.md
Due: none

docs(research): consolidate CMA findings
  docs/research/contentful-cma-manageable-settings-adversarial-review.md
  docs/research/contentful-cma-manageable-settings.md
Due: none

docs(research): document CMA mutation semantics
  docs/research/contentful-cma-manageable-settings.md
Due: none

docs(research): validate direct CMA semantics
  docs/research/contentful-cma-manageable-settings.md
Due: none

feat(contentful-management-go): add preview environment API
  internal/contentful-management-go/integration_tests/preview_environment_test.go
  internal/contentful-management-go/integration_tests/server_test.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/collection.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/configuration.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/data.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/preview-environment.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/sys.yml
  internal/contentful-management-go/preview_environment_data.go
  internal/contentful-management-go/preview_environment_data_test.go
  internal/contentful-management-go/preview_environment_error_status_code.go
  internal/contentful-management-go/preview_environment_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_preview_environment.go
  internal/contentful-management-go/testing/preview_environment.go
  internal/contentful-management-go/testing/preview_environment_store.go
  internal/contentful-management-go/testing/server_preview_environment.go
Due: contentful-management-go

feat(provider): manage content preview platforms
  docs/resources/preview_environment.md
  examples/resources/contentful_preview_environment/import-by-identity.tf
  examples/resources/contentful_preview_environment/import-by-string-id.tf
  examples/resources/contentful_preview_environment/import.sh
  examples/resources/contentful_preview_environment/resource.tf
  examples/resources/contentful_preview_environment/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/preview_environment_model.go
  internal/provider/preview_environment_model_request.go
  internal/provider/preview_environment_model_response.go
  internal/provider/preview_environment_model_test.go
  internal/provider/resource_preview_environment.go
  internal/provider/resource_preview_environment_schema.go
  internal/provider/resource_preview_environment_test.go
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/1/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/1/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/2/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/2/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/3/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/3/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/4/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/4/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/5/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/5/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/6/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceSelectedID/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceSelectedID/vars.tf
Due: provider

docs(research): document preview environment CMA contract
  research/content-preview-environments.md
Due: none

feat(contentful-management-go): add app key API
  internal/contentful-management-go/app_key_jwk.go
  internal/contentful-management-go/app_key_jwk_test.go
  internal/contentful-management-go/app_key_sys.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-key/app-key.yml
  internal/contentful-management-go/openapi/schemas/app-key/collection.yml
  internal/contentful-management-go/openapi/schemas/app-key/data.yml
  internal/contentful-management-go/openapi/schemas/app-key/generated.yml
  internal/contentful-management-go/openapi/schemas/app-key/jwk.yml
  internal/contentful-management-go/openapi/schemas/app-key/request-data.yml
  internal/contentful-management-go/openapi/schemas/app-key/sys.yml
  internal/contentful-management-go/openapi/schemas/links/user-link.yml
  internal/contentful-management-go/openapi/schemas/sys/with-created-by.yml
  internal/contentful-management-go/openapi/schemas/sys/with-updated-by.yml
  internal/contentful-management-go/optdatetime.go
  internal/contentful-management-go/testing/app_key.go
  internal/contentful-management-go/testing/app_key_dsa.go
  internal/contentful-management-go/testing/error.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/contentful-management-go/testing/handler_app_key_direct_test.go
  internal/contentful-management-go/testing/handler_app_key_http_test.go
  internal/contentful-management-go/testing/handler_app_key_support_test.go
  internal/contentful-management-go/testing/server_app_key.go
  internal/contentful-management-go/user_link.go
Due: contentful-management-go

feat(app-key): manage caller-supplied public keys
  README.md
  docs/resources/app_key.md
  examples/resources/contentful_app_key/import-by-identity.tf
  examples/resources/contentful_app_key/import-by-string-id.tf
  examples/resources/contentful_app_key/import.sh
  examples/resources/contentful_app_key/resource.tf
  examples/resources/contentful_app_key/variables.tf
  internal/provider/app_key_model.go
  internal/provider/app_key_model_request.go
  internal/provider/app_key_model_request_test.go
  internal/provider/app_key_model_response.go
  internal/provider/contentful_provider.go
  internal/provider/resource_app_key.go
  internal/provider/resource_app_key_acceptance_live_test.go
  internal/provider/resource_app_key_acceptance_mock_test.go
  internal/provider/resource_app_key_acceptance_support_test.go
  internal/provider/resource_app_key_schema.go
Due: provider

refactor(contentful-management-go): simplify app key mock
  internal/contentful-management-go/testing/app_key.go
  internal/contentful-management-go/testing/app_key_store.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/contentful-management-go/testing/server_app_key.go
Due: contentful-management-go

fix(app-key): align encoding and deletion verification
  docs/resources/app_key.md
  internal/contentful-management-go/app_key_jwk.go
  internal/contentful-management-go/app_key_jwk_test.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/provider/app_key_model_request.go
  internal/provider/resource_app_key_acceptance_destroy_test.go
  internal/provider/resource_app_key_acceptance_live_test.go
  internal/provider/resource_app_key_acceptance_mock_test.go
  internal/provider/resource_app_key_schema.go
Due: contentful-management-go, provider

refactor(contentful-management-go): remove generated app keys
  internal/contentful-management-go/app_key_jwk.go
  internal/contentful-management-go/app_key_jwk_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/app-key/data.yml
  internal/contentful-management-go/openapi/schemas/app-key/generated.yml
  internal/contentful-management-go/openapi/schemas/app-key/jwk.yml
  internal/contentful-management-go/openapi/schemas/app-key/request-data.yml
  internal/contentful-management-go/testing/app_key.go
  internal/contentful-management-go/testing/app_key_dsa.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/contentful-management-go/testing/handler_app_key_direct_test.go
  internal/contentful-management-go/testing/handler_app_key_http_test.go
  internal/contentful-management-go/testing/handler_app_key_support_test.go
  internal/contentful-management-go/testing/server_app_key.go
Due: contentful-management-go

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
