Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, provider

ref(provider/role_resource): extract test input files
  internal/provider/role_resource_test.go
  internal/provider/testdata/TestAccRoleResourceImport/main.tf
  internal/provider/testdata/TestAccRoleResourceImport/vars.tf
  internal/provider/testdata/TestAccRoleResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccRoleResourceImportNotFound/vars.tf
Due: provider

ref(provider/delivery_api_key_resource): extract test input files
  internal/provider/delivery_api_key_resource_test.go
  internal/provider/testdata/TestAccDeliveryApiKeyResource/main.tf
  internal/provider/testdata/TestAccDeliveryApiKeyResource/vars.tf
  internal/provider/testdata/TestAccDeliveryApiKeyResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccDeliveryApiKeyResourceImportNotFound/vars.tf
Due: provider

ref(provider/editor_interface_resource): extract test input files
  internal/provider/editor_interface_resource_test.go
  internal/provider/testdata/TestAccEditorInterfaceResourceCreateNotFoundContentType/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceCreateNotFoundContentType/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceCreateNotFoundEnvironment/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceCreateNotFoundEnvironment/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceImport/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceImport/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceImportNotFound/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/1/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/1/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/2/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/2/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/3/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/3/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/4/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/4/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/5/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/5/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/6/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/6/vars.tf
Due: provider

ref(provider/content_type_resource): extract test input files
  internal/provider/content_type_resource_test.go
  internal/provider/testdata/TestAccContentTypeResourceCreate/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceCreate/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceCreateNotFoundEnvironment/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceCreateNotFoundEnvironment/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceDeleted/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceDeleted/2/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceDeleted/3/main.tf
  internal/provider/testdata/TestAccContentTypeResourceDeleted/3/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceImport/main.tf
  internal/provider/testdata/TestAccContentTypeResourceImport/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccContentTypeResourceImportNotFound/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdate/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdate/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdate/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdate/2/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdate/3/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdate/3/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdate/4/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdate/4/vars.tf
Due: provider

ref(provider/personal_access_token_resource): extract test input files
  internal/provider/personal_access_token_resource_test.go
  internal/provider/testdata/TestAccPersonalAccessTokenResource/main.tf
  internal/provider/testdata/TestAccPersonalAccessTokenResource/vars.tf
  internal/provider/testdata/TestAccPersonalAccessTokenResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccPersonalAccessTokenResourceImportNotFound/vars.tf
  internal/provider/testdata/TestAccPersonalAccessTokenResourceInvalidScopes/main.tf
  internal/provider/testdata/TestAccPersonalAccessTokenResourceInvalidScopes/vars.tf
Due: provider

ref(provider/app_installation_resource): extract test input files
  internal/provider/app_installation_resource_test.go
  internal/provider/testdata/TestAccAppInstallationResource/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResource/1/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceCreateNotFound/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceCreateNotFound/1/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/1/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/2/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/3/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/3/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceImport/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceImport/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceImportNotFound/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/1/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/2/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/2/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/3/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/3/vars.tf
Due: provider

ref(provider/preview_api_key_data_source): extract test input files
  internal/provider/preview_api_key_data_source_test.go
  internal/provider/testdata/TestAccPreviewApiKeyDataSourceNotFound/main.tf
  internal/provider/testdata/TestAccPreviewApiKeyDataSourceNotFound/vars.tf
Due: provider

ref(provider/webhook_resource): extract test input files
  internal/provider/testdata/TestAccWebhookResourceCreate/main.tf
  internal/provider/testdata/TestAccWebhookResourceCreate/vars.tf
  internal/provider/testdata/TestAccWebhookResourceImport/main.tf
  internal/provider/testdata/TestAccWebhookResourceImport/vars.tf
  internal/provider/testdata/TestAccWebhookResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccWebhookResourceImportNotFound/vars.tf
  internal/provider/testdata/TestAccWebhookResourceUpdate/1/main.tf
  internal/provider/testdata/TestAccWebhookResourceUpdate/1/vars.tf
  internal/provider/testdata/TestAccWebhookResourceUpdate/2/main.tf
  internal/provider/testdata/TestAccWebhookResourceUpdate/2/vars.tf
  internal/provider/testdata/TestAccWebhookResourceUpdate/3/main.tf
  internal/provider/testdata/TestAccWebhookResourceUpdate/3/vars.tf
  internal/provider/testdata/TestAccWebhookResourceUpdate/4/main.tf
  internal/provider/testdata/TestAccWebhookResourceUpdate/4/vars.tf
  internal/provider/webhook_resource_test.go
Due: provider

ref(contentful-management-go): simplify request payload types
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/app_installation_model.go
  internal/provider/app_installation_model_test.go
  internal/provider/app_installation_resource.go
  internal/provider/content_type_model.go
  internal/provider/content_type_model_test.go
  internal/provider/content_type_resource.go
  internal/provider/delivery_api_key_model.go
  internal/provider/delivery_api_key_resource.go
  internal/provider/editor_interface_model.go
  internal/provider/editor_interface_model_controls.go
  internal/provider/editor_interface_model_controls_test.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_group_controls.go
  internal/provider/editor_interface_model_sidebar.go
  internal/provider/editor_interface_model_sidebar_test.go
  internal/provider/editor_interface_model_test.go
  internal/provider/editor_interface_resource.go
  internal/provider/personal_access_token_model.go
  internal/provider/personal_access_token_resource.go
  internal/provider/role_model_permissions_request.go
  internal/provider/role_model_permissions_update.go
  internal/provider/role_model_policies_request.go
  internal/provider/role_model_policies_update.go
  internal/provider/role_model_request.go
  internal/provider/role_model_request_create.go
  internal/provider/role_model_request_create_test.go
  internal/provider/role_model_request_test.go
  internal/provider/role_resource.go
  internal/provider/webhook_model_create.go
  internal/provider/webhook_model_request.go
  internal/provider/webhook_model_request_test.go
  internal/provider/webhook_resource.go
  internal/provider/webhook_transformation_value_create.go
  internal/provider/webhook_transformation_value_request.go
Due: contentful-management-go, provider

feat(provider): accept server url and access token as provider options
  internal/provider/contentful_provider.go
Due: provider

test(provider/role_resource): mock crud acctest
  internal/provider/role_resource_test.go
Due: provider

feat(contentful-management-go): implement a test server
  internal/contentful-management-go/testserver/error_handler.go
  internal/contentful-management-go/testserver/error_not_found.go
  internal/contentful-management-go/testserver/error_response.go
  internal/contentful-management-go/testserver/handle_me.go
  internal/contentful-management-go/testserver/handle_personal_access_tokens.go
  internal/contentful-management-go/testserver/handle_space_api_keys.go
  internal/contentful-management-go/testserver/handle_space_environment_app_installations.go
  internal/contentful-management-go/testserver/handle_space_environment_content_types.go
  internal/contentful-management-go/testserver/handle_space_preview_api_keys.go
  internal/contentful-management-go/testserver/handle_space_roles.go
  internal/contentful-management-go/testserver/handle_space_webhooks.go
  internal/contentful-management-go/testserver/pointer.go
  internal/contentful-management-go/testserver/response.go
  internal/contentful-management-go/testserver/testserver.go
Due: contentful-management-go

feat(provider): introduce mockability for acceptance tests
  internal/provider/app_installation_resource_test.go
  internal/provider/content_type_resource_test.go
  internal/provider/contentful_provider_testing_test.go
  internal/provider/delivery_api_key_resource_test.go
  internal/provider/editor_interface_resource_test.go
  internal/provider/personal_access_token_resource_test.go
  internal/provider/preview_api_key_data_source_test.go
  internal/provider/role_resource_test.go
  internal/provider/webhook_resource_test.go
Due: provider

hack codecov
  codecov.yml
Due: none

fixup! test(provider/role_resource): mock crud acctest
  internal/provider/role_resource_test.go
Due: provider

rename testserver
  internal/contentful-management-testserver/error_handler.go
  internal/contentful-management-testserver/error_not_found.go
  internal/contentful-management-testserver/error_response.go
  internal/contentful-management-testserver/handle_me.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/handle_space_preview_api_keys.go
  internal/contentful-management-testserver/handle_space_roles.go
  internal/contentful-management-testserver/handle_space_webhooks.go
  internal/contentful-management-testserver/pointer.go
  internal/contentful-management-testserver/response.go
  internal/contentful-management-testserver/testserver.go
Due: none

ts
  internal/contentful-management-testserver/handle_me.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/handle_space_preview_api_keys.go
  internal/contentful-management-testserver/handle_space_roles.go
  internal/contentful-management-testserver/handle_space_webhooks.go
  internal/contentful-management-testserver/request.go
  internal/contentful-management-testserver/spaced_map.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/app_installation_model.go
  internal/provider/role_resource_test.go
Due: provider

ts
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/space_environment_map.go
  internal/contentful-management-testserver/space_map.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/app_installation_model.go
  internal/provider/app_installation_resource_test.go
Due: provider

hack
  internal/contentful-management-testserver/error_bad_request.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/handle_space_preview_api_keys.go
  internal/contentful-management-testserver/handle_space_roles.go
  internal/contentful-management-testserver/handle_space_webhooks.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/app_installation_resource_test.go
  internal/provider/content_type_resource_test.go
  internal/provider/delivery_api_key_resource_test.go
  internal/provider/editor_interface_resource_test.go
  internal/provider/personal_access_token_resource_test.go
  internal/provider/preview_api_key_data_source_test.go
  internal/provider/role_resource_test.go
  internal/provider/webhook_resource_test.go
Due: provider

hack
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_webhooks.go
Due: none

hack
  .golangci.yml
  codecov.yml
  internal/contentful-management-go/client.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/handle_space_webhooks.go
  internal/contentful-management-testserver/request.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/app_installation_resource_test.go
  internal/provider/content_type_resource_test.go
  internal/provider/delivery_api_key_resource_test.go
  internal/provider/editor_interface_resource_test.go
  internal/provider/personal_access_token_resource_test.go
  internal/provider/preview_api_key_data_source_test.go
  internal/provider/role_resource_test.go
  internal/provider/webhook_resource_test.go
Due: contentful-management-go, provider

hack
  internal/contentful-management-go/client.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_api_keys.go
Due: contentful-management-go

test mocked in ci
  .github/workflows/test.yml
Due: none

hack
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/error_bad_request.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/provider/content_type_model.go
  internal/provider/editor_interface_resource_test.go
  internal/provider/personal_access_token_resource_test.go
Due: contentful-management-go, provider

hack
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/personal_access_token_resource_test.go
Due: provider

hack
  internal/contentful-management-testserver/handle_space_environment_content_types.go
Due: none

hack
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/api_key.go
  internal/contentful-management-testserver/app_installation.go
  internal/contentful-management-testserver/content_type.go
  internal/contentful-management-testserver/editor_interface.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/handle_space_preview_api_keys.go
  internal/contentful-management-testserver/handle_space_roles.go
  internal/contentful-management-testserver/personal_access_token.go
  internal/contentful-management-testserver/role.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/app_installation_resource_test.go
  internal/provider/content_type_resource_test.go
  internal/provider/editor_interface_resource_test.go
  internal/provider/role_resource_test.go
Due: contentful-management-go, provider

hack
  internal/contentful-management-testserver/content_type.go
  internal/contentful-management-testserver/convert.go
  internal/contentful-management-testserver/editor_interface.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/handle_space_preview_api_keys.go
Due: none

hack
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/handle_space_roles.go
  internal/contentful-management-testserver/handle_space_webhooks.go
  internal/contentful-management-testserver/webhook_definition.go
Due: contentful-management-go

hack
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_webhooks.go
  internal/provider/webhook_resource_test.go
Due: provider

hack
  internal/contentful-management-testserver/preview_api_key.go
Due: none

fix(contentful-management-go): correct nullability of content_type.description
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/content_type_model.go
Due: contentful-management-go, provider

style(provider/app_installation): align variable naming with fields type
  internal/provider/app_installation_model.go
Due: provider

feat(contentful-management-go): handle space and environment identifiers in resource responses
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(contentful-management-go): handle content type links in editor interface resource responses
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(contentful-management-go): handle app definition links in app installation resource responses
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

chore(provider/webhook_resource_test): update test webhook id
  internal/provider/webhook_resource_test.go
Due: provider

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
