Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

refactor(provider): centralize resource timeout policy
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_key.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_timeouts.go
  internal/provider/resource_timeouts_internal_test.go
  internal/provider/resource_webhook.go
Due: provider

refactor(provider): simplify CMA response classification
  internal/provider/contentful_management_response.go
  internal/provider/contentful_management_response_test.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_key.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_webhook.go
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

refactor(provider): remove unused scaffolding
  internal/provider/attrs_test.go
  internal/provider/extension_model.go
  internal/provider/private_provider_data.go
  internal/provider/private_provider_data_test.go
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
  internal/provider/webhook_filter_test.go
Due: provider

fix(provider): correct typed value equality
  internal/provider/content_type_model_response.go
  internal/provider/resource_content_type.go
  internal/provider/typed_map.go
  internal/provider/typed_map_test.go
  internal/provider/typed_object.go
  internal/provider/typed_object_test.go
  internal/provider/typed_object_type.go
  internal/provider/typed_object_type_test.go
  internal/terraform-plugin-framework-reflection/attribute_types.go
Due: provider, terraform-plugin-framework-reflection

feat(provider): implement locale resources
  docs/data-sources/locale.md
  docs/list-resources/locale.md
  docs/resources/locale.md
  examples/data-sources/contentful_locale/data-source.tf
  examples/data-sources/contentful_locale/variables.tf
  examples/list-resources/contentful_locale/list-resource.tfquery.hcl
  examples/list-resources/contentful_locale/variables.tf
  examples/resources/contentful_locale/import-by-identity.tf
  examples/resources/contentful_locale/import-by-string-id.tf
  examples/resources/contentful_locale/resource.tf
  examples/resources/contentful_locale/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/data_source_locale.go
  internal/provider/data_source_locale_model.go
  internal/provider/data_source_locale_schema.go
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_locale.go
  internal/provider/list_resource_locale_config.go
  internal/provider/list_resource_locale_test.go
  internal/provider/locale_model.go
  internal/provider/locale_model_request.go
  internal/provider/locale_model_response.go
  internal/provider/resource_locale.go
  internal/provider/resource_locale_schema.go
  internal/provider/resource_locale_test.go
  internal/provider/resource_tag.go
  internal/provider/testdata/TestAccLocaleDataSource/main.tf
  internal/provider/testdata/TestAccLocaleDataSource/vars.tf
  internal/provider/testdata/TestAccLocaleDataSourceNotFound/main.tf
  internal/provider/testdata/TestAccLocaleDataSourceNotFound/vars.tf
  internal/provider/testdata/TestAccLocaleResource/main.tf
  internal/provider/testdata/TestAccLocaleResource/vars.tf
  internal/provider/testdata/TestAccLocaleResourceImport/main.tf
  internal/provider/testdata/TestAccLocaleResourceImport/vars.tf
Due: provider

feat(contentful-management-go): implement locales
  internal/contentful-management-go/locale_sys.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/locale/collection.yml
  internal/contentful-management-go/openapi/schemas/locale/data.yml
  internal/contentful-management-go/openapi/schemas/locale/locale.yml
  internal/contentful-management-go/openapi/schemas/locale/sys.yml
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_locale.go
  internal/contentful-management-go/testing/locale.go
  internal/contentful-management-go/testing/server_locale.go
Due: contentful-management-go

fixup! fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/resource_locale_test.go
Due: provider

fixup! fixup! fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/resource_locale_test.go
Due: provider

fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/locale_model_response.go
Due: provider

fix(locale): align with current provider contracts
  docs/data-sources/locale.md
  docs/resources/locale.md
  internal/contentful-management-go/locale_response_test.go
  internal/contentful-management-go/locale_sys.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/locale/locale.yml
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_locale.go
  internal/contentful-management-go/testing/handler_locale_test.go
  internal/contentful-management-go/testing/locale.go
  internal/provider/data_source_locale.go
  internal/provider/data_source_locale_model.go
  internal/provider/data_source_locale_schema.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_locale.go
  internal/provider/list_resource_locale_config.go
  internal/provider/list_resource_request_test.go
  internal/provider/locale_model.go
  internal/provider/locale_model_response.go
  internal/provider/resource_locale_schema.go
  internal/provider/resource_locale_test.go
Due: contentful-management-go, provider

refactor(provider/locale): use shared required string conversion
  internal/provider/list_resource_locale_config.go
Due: provider

chore(provider/locale): remove obsolete lint directives
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_locale.go
  internal/provider/resource_locale.go
  internal/provider/resource_tag.go
Due: provider

docs(research): document preview environment CMA contract
  research/content-preview-environments.md
Due: none

feat(contentful-management-go): add preview environment API
  internal/contentful-management-go/integration_tests/preview_environment_test.go
  internal/contentful-management-go/integration_tests/server_test.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/collection.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/configuration.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/data.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/preview-environment.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/sys.yml
  internal/contentful-management-go/preview_environment_data.go
  internal/contentful-management-go/preview_environment_data_test.go
  internal/contentful-management-go/preview_environment_error_status_code.go
  internal/contentful-management-go/preview_environment_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_preview_environment.go
  internal/contentful-management-go/testing/preview_environment.go
  internal/contentful-management-go/testing/preview_environment_store.go
  internal/contentful-management-go/testing/server_preview_environment.go
Due: contentful-management-go

fix(provider): validate preview environment requests
  internal/provider/preview_environment_model_request.go
  internal/provider/preview_environment_model_test.go
  internal/provider/resource_preview_environment_schema.go
Due: provider

feat(provider): manage content preview platforms
  docs/resources/preview_environment.md
  examples/resources/contentful_preview_environment/import-by-identity.tf
  examples/resources/contentful_preview_environment/import-by-string-id.tf
  examples/resources/contentful_preview_environment/import.sh
  examples/resources/contentful_preview_environment/resource.tf
  examples/resources/contentful_preview_environment/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/preview_environment_model.go
  internal/provider/preview_environment_model_request.go
  internal/provider/preview_environment_model_response.go
  internal/provider/preview_environment_model_test.go
  internal/provider/resource_preview_environment.go
  internal/provider/resource_preview_environment_schema.go
  internal/provider/resource_preview_environment_test.go
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/1/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/1/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/2/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/2/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/3/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/3/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/4/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/4/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/5/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/5/vars.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceLifecycle/6/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceSelectedID/main.tf
  internal/provider/testdata/TestAccPreviewEnvironmentResourceSelectedID/vars.tf
Due: provider

refactor(provider/locale): use shared resource policies
  internal/provider/resource_locale.go
  internal/provider/resource_private_version_barrier_test.go
Due: provider

fix(provider/locale): enforce request and publication barriers
  internal/provider/list_resource_locale.go
  internal/provider/locale_model_request.go
  internal/provider/locale_model_request_test.go
  internal/provider/resource_locale.go
  internal/provider/resource_mutation_request_conversion_barrier_test.go
Due: provider

fix(preview-environment): align lifecycle semantics
  docs/resources/preview_environment.md
  internal/provider/preview_environment_model_request.go
  internal/provider/preview_environment_model_response.go
  internal/provider/preview_environment_model_test.go
  internal/provider/resource_mutation_request_conversion_barrier_test.go
  internal/provider/resource_preview_environment.go
  internal/provider/resource_preview_environment_checkpoint_test.go
  internal/provider/resource_preview_environment_create_test.go
  internal/provider/resource_preview_environment_schema.go
  internal/provider/resource_preview_environment_schema_test.go
  internal/provider/resource_private_version_barrier_test.go
  research/content-preview-environments.md
Due: provider

refactor(cma): remove unused preview environment listing
  internal/contentful-management-go/integration_tests/preview_environment_test.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/collection.yml
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_preview_environment.go
  internal/contentful-management-go/testing/preview_environment_store.go
Due: contentful-management-go

fix(preview-environment): strengthen mutation contract evidence
  docs/design/terraform-value-semantics.md
  internal/contentful-management-go/preview_environment_data.go
  internal/contentful-management-go/preview_environment_data_test.go
  internal/contentful-management-go/testing/handler_preview_environment.go
  internal/provider/preview_environment_model_test.go
  internal/provider/resource_preview_environment_create_test.go
Due: contentful-management-go, provider

docs(development): document development workflow
  DEVELOPMENT.md
  README.md
Due: none

fix(provider): improve configuration diagnostics
  docs/index.md
  internal/provider/contentful_provider.go
  internal/provider/contentful_provider_test.go
Due: provider

fix(team): configure default description
  docs/resources/team.md
  internal/provider/data_source_teams_internal_test.go
  internal/provider/resource_team_schema.go
  internal/provider/resource_team_test.go
Due: provider

test(provider): guard private version representatives
  internal/provider/resource_private_version_barrier_test.go
Due: provider

fix(entry): omit content type from updates
  internal/provider/resource_entry.go
  internal/provider/resource_entry_publication_test.go
  internal/provider/resource_entry_specified_id_test.go
  internal/provider/resource_entry_test_faults_test.go
  internal/provider/resource_entry_test_recorder_test.go
Due: provider

test(entry): model update header boundary
  docs/research/specified-id-put-version-header.md
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_entry_put_test.go
  internal/provider/resource_entry_publication_test.go
  internal/provider/resource_entry_specified_id_test.go
  internal/provider/resource_entry_test_faults_test.go
  internal/provider/resource_entry_test_recorder_test.go
Due: contentful-management-go, provider

docs(entry): separate PUT evidence from policy
  docs/design/terraform-value-semantics.md
  docs/research/cma-test-server-conformance.md
  docs/research/entry-and-content-type-put-headers.md
  docs/research/specified-id-put-version-header.md
Due: none

fix(webhook): report unsupported term properties
  internal/provider/webhook_filters_response.go
  internal/provider/webhook_filters_response_test.go
Due: provider
