Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

fix(provider): return after client creation failure
  internal/provider/contentful_provider.go
  internal/provider/contentful_provider_test.go
Due: provider

fix(list-resource): paginate contentful results
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_test.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
Due: contentful-management-go, provider

fix(provider/preview_api_key): report failure to retrieve preview api keys
  internal/provider/data_source_app_definition.go
  internal/provider/data_source_preview_api_key.go
  internal/provider/data_source_preview_api_key_test.go
Due: provider

fix(provider): redact sensitive log fields
  internal/provider/data_source_preview_api_key.go
  internal/provider/log_redaction.go
  internal/provider/log_redaction_test.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_webhook.go
Due: provider

feat(provider): apply a small minimum duration to resource timeouts read from state
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_timeouts.go
  internal/provider/resource_webhook.go
Due: provider

chore(lint): update golangci-lint
  .github/workflows/golangci.yml
  .golangci.yml
  AGENTS.md
  internal/provider/util/contentful_management.go
  internal/provider/util/http_client_user_agent.go
  internal/provider/webhook_filters_request.go
Due: provider

fix(provider): paginate list resource results
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_test.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
Due: contentful-management-go, provider

ref(provider): extract a common implementation of list resource collection pagination
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_test.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
  internal/provider/list_resource_entry_test.go
  internal/provider/list_resource_entry_unit_test.go
  internal/provider/list_resource_pagination.go
  internal/provider/list_resource_pagination_test.go
Due: contentful-management-go, provider

test(contentful-management-go/testing): use localised entry field values
  internal/contentful-management-go/testing/entry_test.go
  internal/provider/list_resource_entry_test.go
  internal/provider/list_resource_entry_unit_test.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceImportPropertyOrderDiff/main.tf
Due: contentful-management-go, provider

fix(provider): include null timeouts in list resources responses
  internal/provider/content_type_model_response.go
  internal/provider/entry_model_response.go
  internal/provider/resource_timeouts.go
  internal/provider/testdata/content_type_model.go
  internal/provider/testdata/entry_model.go
Due: provider

test(provider): cover query configuration generation
  internal/provider/list_resource_content_type_test.go
  internal/provider/list_resource_entry_test.go
Due: provider

feat(contentful-management-go): implement locales
  internal/contentful-management-go/locale_sys.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/locale/collection.yml
  internal/contentful-management-go/openapi/schemas/locale/data.yml
  internal/contentful-management-go/openapi/schemas/locale/locale.yml
  internal/contentful-management-go/openapi/schemas/locale/sys.yml
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_locale.go
  internal/contentful-management-go/testing/locale.go
  internal/contentful-management-go/testing/server_locale.go
Due: contentful-management-go

feat(provider): implement locale resources
  docs/data-sources/locale.md
  docs/list-resources/locale.md
  docs/resources/locale.md
  examples/data-sources/contentful_locale/data-source.tf
  examples/data-sources/contentful_locale/variables.tf
  examples/list-resources/contentful_locale/list-resource.tfquery.hcl
  examples/list-resources/contentful_locale/variables.tf
  examples/resources/contentful_locale/import-by-identity.tf
  examples/resources/contentful_locale/import-by-string-id.tf
  examples/resources/contentful_locale/resource.tf
  examples/resources/contentful_locale/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/data_source_locale.go
  internal/provider/data_source_locale_model.go
  internal/provider/data_source_locale_schema.go
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_locale.go
  internal/provider/list_resource_locale_config.go
  internal/provider/list_resource_locale_test.go
  internal/provider/locale_model.go
  internal/provider/locale_model_request.go
  internal/provider/locale_model_response.go
  internal/provider/resource_locale.go
  internal/provider/resource_locale_schema.go
  internal/provider/resource_locale_test.go
  internal/provider/testdata/TestAccLocaleDataSource/main.tf
  internal/provider/testdata/TestAccLocaleDataSource/vars.tf
  internal/provider/testdata/TestAccLocaleDataSourceNotFound/main.tf
  internal/provider/testdata/TestAccLocaleDataSourceNotFound/vars.tf
  internal/provider/testdata/TestAccLocaleResource/main.tf
  internal/provider/testdata/TestAccLocaleResource/vars.tf
  internal/provider/testdata/TestAccLocaleResourceImport/main.tf
  internal/provider/testdata/TestAccLocaleResourceImport/vars.tf
Due: provider

fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/locale_model_response.go
Due: provider

fixup! fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/resource_locale_test.go
Due: provider

fixup! fixup! fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/resource_locale_test.go
Due: provider

test(provider/entry): cover localised entry fields
  docs/resources/entry.md
  examples/resources/contentful_entry/resource.tf
  internal/provider/resource_entry_test.go
Due: provider

feat(provider/entry): encode localised entry fields in schema
  docs/resources/entry.md
  examples/resources/contentful_entry/resource.tf
  internal/provider/entry_model.go
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/list_resource_entry_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_state_upgrade.go
  internal/provider/resource_entry_state_upgrade_test.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceCreate/main.tf
  internal/provider/testdata/TestAccEntryResourceCreateWithID/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/3/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/4/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/5/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/6/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/7/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/8/main.tf
  internal/provider/testdata/TestAccEntryResourceImport/main.tf
  internal/provider/testdata/TestAccEntryResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccEntryResourceImportPropertyOrderDiff/main.tf
  internal/provider/testdata/TestAccEntryResourceImportWhitespaceDiff/main.tf
  internal/provider/testdata/TestAccEntryResourceMetadataConcepts/main.tf
  internal/provider/testdata/TestAccEntryResourceMetadataTags/main.tf
  internal/provider/testdata/TestAccEntryResourceMissingFields/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/main.tf
  internal/provider/testdata/entry_model.go
Due: provider

fixup! feat(provider/entry): encode localised entry fields in schema
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry_state_upgrade.go
  internal/provider/resource_entry_state_upgrade_test.go
  internal/provider/resource_entry_test.go
Due: provider

fixup! fixup! feat(provider/entry): encode localised entry fields in schema
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_fields_merge_test.go
  internal/provider/resource_entry_state_upgrade.go
  internal/provider/resource_entry_state_upgrade_test.go
Due: provider

fix(internal/provider): preserve raw null entry field values
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry_state_upgrade_test.go
Due: provider

fixup! feat(provider/entry): encode localised entry fields in schema
  internal/provider/entry_model_fields_test.go
Due: provider

test(internal/provider): make entry acceptance JSON assertion order-independent
  internal/provider/resource_entry_test.go
Due: provider

fix(internal/provider): allow computed null entry fields
  internal/provider/resource_entry_schema.go
Due: provider

fix(internal/provider): allow nullable entry fields state
  internal/provider/resource_entry_schema.go
Due: provider

fixup! fix(internal/provider): allow computed null entry fields
  docs/resources/entry.md
Due: none

chore(.github/workflows): use cyspbot-action for dependency updates
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(.github/workflows): remove step-security harden-runner
  .github/workflows/go-dependency-submission.yml
  .github/workflows/gogenerate.yml
  .github/workflows/golangci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-indirect-dependencies.yml
Due: none
