Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

ref(provider): dot-import provider in provider tests
  .golangci.yml
  internal/provider/app_definition_model_test.go
  internal/provider/app_installation_model_request_test.go
  internal/provider/app_installation_model_response_test.go
  internal/provider/content_type_field_items_value_test.go
  internal/provider/content_type_field_value_test.go
  internal/provider/content_type_model_request_test.go
  internal/provider/contentful_provider_test.go
  internal/provider/contentful_provider_testing_test.go
  internal/provider/editor_interface_model_controls_test.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/editor_interface_model_sidebar_test.go
  internal/provider/environment_links_test.go
  internal/provider/extension_model_test.go
  internal/provider/model_type_test.go
  internal/provider/private_provider_data_test.go
  internal/provider/provider_data_test.go
  internal/provider/role_model_request_test.go
  internal/provider/role_policy_value_test.go
  internal/provider/typed_list_type_test.go
  internal/provider/typed_map_test.go
  internal/provider/webhook_filter_equals_test.go
  internal/provider/webhook_filter_equals_value_test.go
  internal/provider/webhook_filter_in_test.go
  internal/provider/webhook_filter_in_value_test.go
  internal/provider/webhook_filter_not_value_test.go
  internal/provider/webhook_filter_regexp_test.go
  internal/provider/webhook_filter_regexp_value_test.go
  internal/provider/webhook_filter_test.go
  internal/provider/webhook_filter_value_test.go
  internal/provider/webhook_filters_request_test.go
  internal/provider/webhook_filters_response_test.go
  internal/provider/webhook_filters_roundtrip_test.go
  internal/provider/webhook_header_type_test.go
  internal/provider/webhook_header_value_test.go
  internal/provider/webhook_model_request_test.go
  internal/provider/webhook_transformation_type_test.go
  internal/provider/webhook_transformation_value_test.go
Due: provider

ref(provider): remove unnecessary context and diags from typed map constructors
  internal/provider/model_type_test.go
  internal/provider/resource_role_schema.go
  internal/provider/role_model_permissions_response.go
  internal/provider/typed_map.go
  internal/provider/typed_map_test.go
  internal/provider/typed_map_type.go
  internal/provider/webhook_headers_response.go
  internal/provider/webhook_model_request_test.go
Due: provider

feat(provider): introduce generic typed model object
  internal/provider/typed_object.go
  internal/provider/typed_object_test.go
  internal/provider/typed_object_type.go
  internal/terraform-plugin-framework-reflection/attr_value.go
  internal/terraform-plugin-framework-reflection/attribute_types.go
  internal/terraform-plugin-framework-reflection/attribute_values.go
  internal/terraform-plugin-framework-reflection/set_attribute_values.go
  internal/terraform-plugin-framework-reflection/set_attributes_in_value.go
Due: provider, terraform-plugin-framework-reflection

ref(provider/content_type): use generic typed model object
  internal/provider/content_type_field_allowed_resource_item_contentful_entry_type.go
  internal/provider/content_type_field_allowed_resource_item_contentful_entry_value.go
  internal/provider/content_type_field_allowed_resource_item_external_type.go
  internal/provider/content_type_field_allowed_resource_item_external_value.go
  internal/provider/content_type_field_allowed_resource_item_type.go
  internal/provider/content_type_field_allowed_resource_item_value.go
  internal/provider/content_type_field_items_type.go
  internal/provider/content_type_field_items_value.go
  internal/provider/content_type_field_items_value_test.go
  internal/provider/content_type_field_type.go
  internal/provider/content_type_field_value.go
  internal/provider/content_type_model.go
  internal/provider/content_type_model_fields.go
  internal/provider/content_type_model_request.go
  internal/provider/content_type_model_request_test.go
  internal/provider/content_type_model_response.go
  internal/provider/content_type_model_test.go
  internal/provider/model_type_test.go
  internal/provider/resource_content_type_schema.go
Due: provider

chore: remove now-dead code
  internal/provider/attr_values.go
  internal/provider/schema.go
  internal/terraform-plugin-framework-reflection/test_invalid_value_test.go
  internal/terraform-plugin-framework-reflection/test_value_test.go
  internal/terraform-plugin-framework-reflection/unexpected_value_state_error.go
  internal/terraform-plugin-framework-reflection/value_attributes_equal.go
  internal/terraform-plugin-framework-reflection/value_to_object_value.go
  internal/terraform-plugin-framework-reflection/value_to_terraform_value.go
  internal/terraform-plugin-framework-reflection/value_to_terraform_value_test.go
  internal/terraform-plugin-framework-reflection/values_equal.go
Due: provider, terraform-plugin-framework-reflection

ref(provider/editor_interface): use generic typed model object
  internal/provider/editor_interface_control_type.go
  internal/provider/editor_interface_control_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_field_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_field_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_item_field_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_item_field_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_item_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_item_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_value.go
  internal/provider/editor_interface_editor_layout_item_group_type.go
  internal/provider/editor_interface_editor_layout_item_group_value.go
  internal/provider/editor_interface_editor_layout_item_type.go
  internal/provider/editor_interface_editor_layout_item_value.go
  internal/provider/editor_interface_group_control_type.go
  internal/provider/editor_interface_group_control_value.go
  internal/provider/editor_interface_model.go
  internal/provider/editor_interface_model_controls.go
  internal/provider/editor_interface_model_controls_test.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_editor_layout_item.go
  internal/provider/editor_interface_model_editor_layout_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_field.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group_item.go
  internal/provider/editor_interface_model_group_controls.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/editor_interface_model_response.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/editor_interface_model_sidebar.go
  internal/provider/editor_interface_model_sidebar_test.go
  internal/provider/editor_interface_sidebar_type.go
  internal/provider/editor_interface_sidebar_value.go
  internal/provider/model_type_test.go
  internal/provider/resource_editor_interface_schema.go
Due: provider

ref(provider/content_type_metadata): use generic typed model object
  internal/provider/content_type_metadata.go
  internal/provider/content_type_metadata_request.go
  internal/provider/content_type_metadata_response.go
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_type.go
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_value.go
  internal/provider/content_type_metadata_taxonomy_item_concept_type.go
  internal/provider/content_type_metadata_taxonomy_item_concept_value.go
  internal/provider/content_type_metadata_taxonomy_item_type.go
  internal/provider/content_type_metadata_taxonomy_item_value.go
  internal/provider/content_type_metadata_type.go
  internal/provider/content_type_metadata_value.go
  internal/provider/content_type_model.go
  internal/provider/content_type_model_request.go
  internal/provider/model_type_test.go
  internal/provider/resource_content_type_schema.go
Due: provider

feat(terraform-plugin-framework-reflection): detect excess attributes when setting attribute values
  internal/provider/typed_object_test.go
  internal/terraform-plugin-framework-reflection/set_attribute_values.go
Due: provider, terraform-plugin-framework-reflection

ref(provider/role): use generic typed model object
  internal/provider/model_type_test.go
  internal/provider/resource_role_schema.go
  internal/provider/role_model.go
  internal/provider/role_model_policies_request.go
  internal/provider/role_model_policies_response.go
  internal/provider/role_policy_type.go
  internal/provider/role_policy_value.go
  internal/provider/role_policy_value_test.go
Due: provider

ref(provider): consolidate model type testcases
  internal/provider/model_type_test.go
Due: provider

docs(resources): add missing resource examples
  docs/resources/app_definition.md
  docs/resources/app_definition_resource_provider.md
  docs/resources/app_definition_resource_type.md
  docs/resources/app_signing_secret.md
  examples/resources/contentful_app_definition/import.sh
  examples/resources/contentful_app_definition/resource.tf
  examples/resources/contentful_app_definition_resource_provider/resource.tf
  examples/resources/contentful_app_definition_resource_type/import.sh
  examples/resources/contentful_app_definition_resource_type/resource.tf
  examples/resources/contentful_app_signing_secret/import.sh
  examples/resources/contentful_app_signing_secret/resource.tf
Due: none

ref(provider/resource_resource_type): rename from app_definition_resource_type
  docs/resources/resource_type.md
  examples/resources/contentful_resource_type/import.sh
  examples/resources/contentful_resource_type/resource.tf
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/handler_resource_type.go
  internal/contentful-management-go/testing/resource_type.go
  internal/provider/contentful_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_resource_type_schema.go
  internal/provider/resource_resource_type_test.go
  internal/provider/resource_type_model.go
  internal/provider/resource_type_model_request.go
  internal/provider/resource_type_model_response.go
  internal/provider/testdata/TestAccResourceTypeResource/1/main.tf
  internal/provider/testdata/TestAccResourceTypeResource/1/vars.tf
  internal/provider/testdata/TestAccResourceTypeResource/2/main.tf
  internal/provider/testdata/TestAccResourceTypeResource/2/vars.tf
  internal/provider/testdata/TestAccResourceTypeResourceImport/main.tf
  internal/provider/testdata/TestAccResourceTypeResourceImport/vars.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/1/main.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/1/vars.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/2/main.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/2/vars.tf
Due: contentful-management-go, provider

ref(provider/resource_resource_provider): rename from app_definition_resource_provider
  docs/resources/resource_provider.md
  examples/resources/contentful_resource_provider/import.sh
  examples/resources/contentful_resource_provider/resource.tf
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/handler_app_definition_resource_type.go
  internal/contentful-management-go/testing/handler_resource_provider.go
  internal/contentful-management-go/testing/resource_provider.go
  internal/contentful-management-go/testing/server_resource_provider.go
  internal/provider/contentful_provider.go
  internal/provider/resource_app_definition_resource_provider_test.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_provider_model.go
  internal/provider/resource_provider_model_request.go
  internal/provider/resource_provider_model_response.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_provider_schema.go
  internal/provider/resource_resource_provider_test.go
  internal/provider/testdata/TestAccResourceProviderResource/1/main.tf
  internal/provider/testdata/TestAccResourceProviderResource/1/vars.tf
  internal/provider/testdata/TestAccResourceProviderResource/2/main.tf
  internal/provider/testdata/TestAccResourceProviderResource/2/vars.tf
  internal/provider/testdata/TestAccResourceProviderResourceImport/main.tf
  internal/provider/testdata/TestAccResourceProviderResourceImport/vars.tf
  internal/provider/testdata/TestAccResourceProviderResourceMovedFromAppDefinitionResourceProvider/1/main.tf
  internal/provider/testdata/TestAccResourceProviderResourceMovedFromAppDefinitionResourceProvider/1/vars.tf
  internal/provider/testdata/TestAccResourceProviderResourceMovedFromAppDefinitionResourceProvider/2/main.tf
  internal/provider/testdata/TestAccResourceProviderResourceMovedFromAppDefinitionResourceProvider/2/vars.tf
Due: contentful-management-go, provider

feat(provider/resource_resource_type): remove unnecessary resource_provider_id argument
  docs/resources/resource_type.md
  internal/provider/resource_resource_provider_test.go
  internal/provider/resource_resource_type_schema.go
  internal/provider/resource_resource_type_test.go
  internal/provider/testdata/TestAccResourceTypeResource/1/main.tf
  internal/provider/testdata/TestAccResourceTypeResource/1/vars.tf
  internal/provider/testdata/TestAccResourceTypeResource/2/main.tf
  internal/provider/testdata/TestAccResourceTypeResource/2/vars.tf
  internal/provider/testdata/TestAccResourceTypeResourceImport/main.tf
  internal/provider/testdata/TestAccResourceTypeResourceImport/vars.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/2/main.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/2/vars.tf
Due: provider

docs(resources/contentful_resource_type): correct example resource configuration
  docs/resources/resource_type.md
  examples/resources/contentful_resource_type/resource.tf
Due: none

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
