Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

feat(contentful-management-go): implement team space membership management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/links/role-link.yml
  internal/contentful-management-go/openapi/schemas/links/team-link.yml
  internal/contentful-management-go/openapi/schemas/sys/with-team.yml
  internal/contentful-management-go/openapi/schemas/team-space-membership/data.yml
  internal/contentful-management-go/openapi/schemas/team-space-membership/sys.yml
  internal/contentful-management-go/openapi/schemas/team-space-membership/team-space-membership.yml
  internal/contentful-management-go/team_link.go
  internal/contentful-management-go/team_space_membership_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_team_space_membership.go
  internal/contentful-management-go/testing/server_team_space_membership.go
  internal/contentful-management-go/testing/team_space_membership.go
Due: contentful-management-go

ref(provider/app_definition): rename internal resource type to remove duplication
  internal/provider/resource_app_definition.go
Due: provider

feat(provider): remove deprecated app definition resource provider and resource type
  docs/resources/app_definition_resource_provider.md
  docs/resources/app_definition_resource_type.md
  examples/resources/contentful_app_definition_resource_provider/import.sh
  examples/resources/contentful_app_definition_resource_provider/resource.tf
  examples/resources/contentful_app_definition_resource_type/import.sh
  examples/resources/contentful_app_definition_resource_type/resource.tf
  internal/provider/contentful_provider.go
  internal/provider/resource_app_definition_resource_provider.go
  internal/provider/resource_app_definition_resource_provider_schema.go
  internal/provider/resource_app_definition_resource_provider_test.go
  internal/provider/resource_app_definition_resource_type.go
  internal/provider/resource_app_definition_resource_type_schema.go
  internal/provider/resource_app_definition_resource_type_test.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_provider_test.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_resource_type_test.go
  internal/provider/testdata/TestAccAppDefinitionResourceProviderImport/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderImport/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderResource/1/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderResource/1/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderResource/2/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderResource/2/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeImport/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeImport/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeResource/1/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeResource/1/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeResource/2/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeResource/2/vars.tf
  internal/provider/testdata/TestAccResourceProviderResourceMovedFromAppDefinitionResourceProvider/1/main.tf
  internal/provider/testdata/TestAccResourceProviderResourceMovedFromAppDefinitionResourceProvider/1/vars.tf
  internal/provider/testdata/TestAccResourceProviderResourceMovedFromAppDefinitionResourceProvider/2/main.tf
  internal/provider/testdata/TestAccResourceProviderResourceMovedFromAppDefinitionResourceProvider/2/vars.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/1/main.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/1/vars.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/2/main.tf
  internal/provider/testdata/TestAccResourceTypeResourceMovedFromAppDefinitionResourceType/2/vars.tf
Due: provider

fix(github/workflows/update-indirect-dependencies): use go version from go.mod
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

feat(provider/content_type): reduce diff noise of default field values
  internal/provider/resource_content_type_schema.go
Due: provider

chore(github/workflows): test against terraform 1.14
  .github/workflows/test.yml
Due: none

docs(provider): update to current templates
  docs/data-sources/app_definition.md
  docs/data-sources/marketplace_app_definition.md
  docs/data-sources/preview_api_key.md
  docs/index.md
  docs/resources/app_definition.md
  docs/resources/app_installation.md
  docs/resources/app_signing_secret.md
  docs/resources/content_type.md
  docs/resources/delivery_api_key.md
  docs/resources/editor_interface.md
  docs/resources/entry.md
  docs/resources/environment.md
  docs/resources/environment_alias.md
  docs/resources/extension.md
  docs/resources/personal_access_token.md
  docs/resources/resource_provider.md
  docs/resources/resource_type.md
  docs/resources/role.md
  docs/resources/space_enablements.md
  docs/resources/team.md
  docs/resources/team_space_membership.md
  docs/resources/webhook.md
  templates/data-sources.md.tmpl
  templates/index.md.tmpl
  templates/resources.md.tmpl
Due: none

docs(provider): document team and team space membership resources
  docs/resources/team.md
  docs/resources/team_space_membership.md
  examples/resources/contentful_team/import.sh
  examples/resources/contentful_team/resource.tf
  examples/resources/contentful_team_space_membership/import.sh
  examples/resources/contentful_team_space_membership/resource.tf
Due: none

feat(provider/content_type): implement list resource
  docs/list-resources/content_type.md
  examples/list-resources/contentful_content_type/list-resource.tfquery.hcl
  examples/list-resources/contentful_content_type/variables.tf
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/space_environment_map.go
  internal/provider/contentful_provider.go
  internal/provider/resource_content_type_list.go
  internal/provider/resource_content_type_list_schema.go
  internal/provider/resource_content_type_list_test.go
Due: contentful-management-go, provider

ref(contentful-management-go): extract a named type for content type collection responses
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/content-type/collection.yml
  internal/contentful-management-go/testing/handler_content_type.go
  internal/provider/resource_content_type_list.go
Due: contentful-management-go, provider

ref(contentful-management-go): organise openapi route definitions
  internal/contentful-management-go/client.go
  internal/contentful-management-go/openapi/openapi.yml
Due: contentful-management-go

feat(contentful-management-go): enable request options
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/ogen.yml
Due: contentful-management-go

chore(github/workflows): use cyspbot to update indirect dependencies
  .github/workflows/update-indirect-dependencies.yml
Due: none
