Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

docs(provider): qualify Contentful 429 retry evidence
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  internal/provider/contentful_http_client.go
Due: provider

build(go): simplify govulncheck workflow
  .github/workflows/govulncheck.yml
Due: none

docs(agents): generalize simplicity guidance
  AGENTS.md
Due: none

build(go): require Go 1.26.6
  .github/workflows/govulncheck.yml
  go.mod
Due: none

feat(cli): report provider build identity
  main.go
  main_test.go
Due: none

refactor(space-enablement): simplify conformance coverage
  docs/resources/space_enablements.md
  internal/contentful-management-go/testing/handler_space_enablements_test.go
  internal/provider/resource_space_enablements_schema.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/main.tf
Due: contentful-management-go, provider

docs(provider): simplify 429 evidence boundary
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  internal/provider/contentful_http_client.go
Due: provider

docs(space-enablement): restore general guidance
  docs/resources/space_enablements.md
  examples/resources/contentful_space_enablements/resource.tf
  internal/provider/resource_space_enablements_schema.go
Due: provider

docs(provider/app-signing-secret): focus lifecycle contract
  docs/research/app-signing-secret.md
  docs/resources/app_signing_secret.md
  internal/provider/provider_documentation_test.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_app_signing_secret_test.go
Due: provider

test(space-enablement): focus conformance coverage
  docs/research/cma-test-server-conformance.md
  internal/contentful-management-go/testing/handler_space_enablements_test.go
  internal/provider/resource_space_enablements_test.go
Due: contentful-management-go, provider

docs(provider/app-signing-secret): disclose state persistence
  docs/research/app-signing-secret.md
  docs/resources/app_signing_secret.md
  internal/provider/provider_documentation_test.go
  internal/provider/resource_app_signing_secret_schema.go
Due: provider

fix(space-enablement): align example and CMA fake
  docs/research/cma-test-server-conformance.md
  docs/resources/space_enablements.md
  examples/resources/contentful_space_enablements/resource.tf
  internal/contentful-management-go/testing/handler_space_enablements.go
  internal/contentful-management-go/testing/handler_space_enablements_test.go
  internal/provider/resource_space_enablements_schema.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/main.tf
Due: contentful-management-go, provider

ci(release): cordon signing secrets
  .github/workflows/release.yml
Due: none

fix(entry): reject specified ID creation collisions
  docs/research/specified-id-put-version-header.md
  docs/resources/entry.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/testing/entry_test.go
  internal/contentful-management-go/testing/handler_collection_conformance_test.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_entry_lifecycle_test.go
  internal/contentful-management-go/testing/handler_entry_put_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_fields_test.go
  internal/provider/resource_entry_import_test.go
  internal/provider/resource_entry_publication_recovery_test.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_specified_id_test.go
  internal/provider/resource_entry_test_faults_test.go
  internal/provider/resource_entry_test_recorder_test.go
Due: contentful-management-go, provider

fix(content-type): reject specified ID creation collisions
  docs/research/specified-id-put-version-header.md
  docs/resources/content_type.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_lifecycle_test.go
  internal/contentful-management-go/testing/handler_content_type_metadata_test.go
  internal/contentful-management-go/testing/handler_content_type_put_test.go
  internal/contentful-management-go/testing/handler_editor_interface_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_specified_id_test.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_content_type_upgrade_test.go
Due: contentful-management-go, provider

docs(provider): document ambiguous generated-ID creation
  README.md
  docs/resources/entry.md
  internal/provider/contentful_http_client_internal_test.go
  templates/resources/entry.md.tmpl
Due: provider

fix(content-type): activate only provider-authored drafts
  docs/design/terraform-value-semantics.md
  docs/resources/content_type.md
  internal/provider/private_provider_data.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_content_type_ignore_changes_test.go
  internal/provider/resource_content_type_lifecycle_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_content_type_upgrade_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_lifecycle.go
  internal/provider/resource_entry_lifecycle_internal_test.go
  internal/provider/resource_private_version_barrier_test.go
  internal/provider/resource_private_version_internal_test.go
Due: provider

fix(entry): publish only newly written drafts
  docs/design/terraform-value-semantics.md
  docs/resources/entry.md
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_lifecycle.go
  internal/provider/resource_entry_lifecycle_internal_test.go
  internal/provider/resource_entry_publication_test.go
  internal/provider/resource_private_version_barrier_test.go
  templates/resources/entry.md.tmpl
Due: provider

fix(provider): align private version handling
  docs/design/terraform-value-semantics.md
  docs/research/cma-test-server-conformance.md
  docs/research/taxonomy-delete-version.md
  docs/research/taxonomy-version.md
  internal/provider/private_provider_data.go
  internal/provider/resource_content_type_specified_id_test.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry_specified_id_test.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_private_version_barrier_test.go
  internal/provider/resource_private_version_internal_test.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_taxonomy_http_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/resource_taxonomy_version.go
  internal/provider/resource_taxonomy_version_test.go
  internal/provider/resource_team.go
  internal/provider/resource_webhook.go
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

fix(entry): version-lock destroy mutations
  docs/design/terraform-value-semantics.md
  docs/research/entry-destroy-version-locking.md
  docs/research/entry-publication-lifecycle-evidence.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_entry_lifecycle_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_destroy_test.go
  internal/provider/resource_entry_fields_test.go
  internal/provider/resource_entry_lifecycle.go
  internal/provider/resource_entry_lifecycle_internal_test.go
  internal/provider/resource_entry_publication_test.go
  internal/provider/resource_entry_test_faults_test.go
  internal/provider/resource_entry_test_fixture_test.go
  internal/provider/resource_entry_test_recorder_test.go
  internal/provider/resource_private_version_barrier_test.go
Due: contentful-management-go, provider

docs(entry): record live destroy endpoint behavior
  docs/research/entry-destroy-version-locking.md
Due: none

docs(entry): record zero-version consequence
  docs/research/entry-destroy-version-locking.md
Due: none

fix(entry): align destroy with CMA lifecycle
  docs/design/terraform-value-semantics.md
  docs/research/cma-test-server-conformance.md
  docs/research/entry-destroy-lifecycle.md
  docs/resources/entry.md
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_entry_lifecycle_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_destroy_test.go
  templates/resources/entry.md.tmpl
Due: contentful-management-go, provider

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
