Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

feat(contentful-management-go): add App Action management API endpoints
  docs/research/app-framework/actions.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-action/app-action.yml
  internal/contentful-management-go/openapi/schemas/app-action/collection.yml
  internal/contentful-management-go/openapi/schemas/app-action/data.yml
  internal/contentful-management-go/openapi/schemas/app-action/sys.yml
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_action.go
  internal/contentful-management-go/testing/handler_app_action_test.go
  internal/contentful-management-go/testing/handler_app_definition.go
Due: contentful-management-go

test(provider): verify applied imports and Locale selection guards
  internal/provider/data_source_discovery_test.go
  internal/provider/resource_app_action_lifecycle_test.go
  internal/provider/resource_app_event_subscription_test.go
  internal/provider/resource_locale_lifecycle_test.go
Due: provider

test(provider): extract Locale and App Event Subscription fixtures
  internal/provider/data_source_discovery_test.go
  internal/provider/resource_app_event_subscription_test.go
  internal/provider/resource_locale_lifecycle_test.go
  internal/provider/testdata/TestAccAppEventSubscriptionResourceParentReplacement/create_before_destroy.tf
  internal/provider/testdata/TestAccLocaleResourceLifecycle/import.tf
  internal/provider/testdata/TestAccLocaleResourceLifecycle/main.tf
  internal/provider/testdata/TestAccLocalesDataSourceSelectionGuard/code.tf
  internal/provider/testdata/TestAccLocalesDataSourceSelectionGuard/default.tf
  internal/provider/testdata/app_event_subscription/import.tf
  internal/provider/testdata/app_event_subscription/main.tf
Due: provider

test(provider): give App Event Subscription tests their own fixtures
  internal/provider/resource_app_event_subscription_test.go
  internal/provider/resource_locale_lifecycle_test.go
  internal/provider/testdata/TestAccAppEventSubscriptionResourceExistingSingleton/main.tf
  internal/provider/testdata/TestAccAppEventSubscriptionResourceInvalidTarget/main.tf
  internal/provider/testdata/TestAccAppEventSubscriptionResourceLifecycle/import.tf
  internal/provider/testdata/TestAccAppEventSubscriptionResourceLifecycle/main.tf
  internal/provider/testdata/TestAccAppEventSubscriptionResourceParentDisappears/main.tf
  internal/provider/testdata/TestAccAppEventSubscriptionResourceParentReplacement/main.tf
  internal/provider/testdata/TestAccAppEventSubscriptionResourceRecoveryState/main.tf
Due: provider

test(provider): preserve non-empty Locale fallback creation coverage
  internal/provider/resource_locale_lifecycle_test.go
Due: provider

docs(provider): correct signing secret coverage reference
  docs/design/cma-test-server-conformance.md
Due: none

chore(release): bump GoReleaser to 2.18.2
  .github/workflows/goreleaser.yml
  .github/workflows/release.yml
Due: none

chore(release): share GoReleaser version across workflows
  .github/workflows/goreleaser.yml
  .github/workflows/release.yml
  .tool-versions
Due: none

fix(provider): publish App Definition data source array items
  docs/data-sources/app_definition.md
  docs/data-sources/marketplace_app_definition.md
  internal/provider/app_definition_model_response.go
  internal/provider/data_source_app_definition_items_test.go
  internal/provider/data_source_app_definition_location_schema.go
  internal/provider/data_source_app_definition_model.go
  internal/provider/data_source_app_definition_schema.go
  internal/provider/data_source_marketplace_app_definition_schema.go
Due: provider

fix(provider)!: expose App Definition data source items as an object
  docs/data-sources/app_definition.md
  docs/data-sources/marketplace_app_definition.md
  docs/guides/app-definition-items.md
  examples/data-sources/contentful_app_definition/data-source.tf
  examples/data-sources/contentful_marketplace_app_definition/data-source.tf
  internal/provider/data_source_app_definition_items_test.go
  internal/provider/data_source_app_definition_location_schema.go
  internal/provider/data_source_app_definition_schema.go
  internal/provider/data_source_app_definition_transitions_test.go
  internal/provider/data_source_marketplace_app_definition_schema.go
  templates/guides/app-definition-items.md
Due: provider

test(provider): cover irregular App Definition data source values
  docs/data-sources/app_definition.md
  docs/data-sources/marketplace_app_definition.md
  internal/provider/data_source_app_definition_items_test.go
  internal/provider/data_source_app_definition_location_schema.go
  internal/provider/data_source_app_definition_transitions_test.go
Due: provider

fix(provider): validate App Definition locations before writes
  docs/design/terraform-value-semantics.md
  docs/research/app-framework/configuration.md
  docs/resources/app_definition.md
  examples/resources/contentful_app_definition/resource.tf
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_definition_locations.go
  internal/provider/resource_app_definition_locations_internal_test.go
  internal/provider/resource_app_definition_locations_lifecycle_test.go
  internal/provider/resource_app_definition_locations_test.go
  internal/provider/resource_app_definition_schema.go
  templates/resources/app_definition.md.tmpl
Due: provider

feat(contentful-management-go): add space roles collection GET
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/role/collection.yml
  internal/contentful-management-go/testing/handler_role.go
Due: contentful-management-go

feat(provider): add Role discovery data sources
  docs/data-sources/role.md
  docs/data-sources/roles.md
  docs/design/configuration-data-sources.md
  docs/guides/existing-configuration.md
  examples/data-sources/contentful_role/data-source.tf
  examples/data-sources/contentful_roles/data-source.tf
  internal/provider/contentful_provider.go
  internal/provider/data_source_discovery_internal_test.go
  internal/provider/data_source_role.go
  internal/provider/data_source_role_internal_test.go
  internal/provider/data_source_role_model.go
  internal/provider/data_source_role_response.go
  internal/provider/data_source_role_schema.go
  internal/provider/data_source_role_test.go
  internal/provider/data_source_roles.go
  internal/provider/role_model_response.go
  internal/provider/testdata/TestAccRoleDataSourcesComposition/main.tf
  internal/provider/testdata/discovery/role.json
  templates/guides/existing-configuration.md.tmpl
Due: provider

fix(provider): require one Role in discovery example
  docs/data-sources/roles.md
  examples/data-sources/contentful_roles/data-source.tf
Due: none

docs(provider): streamline Role discovery guidance
  docs/data-sources/role.md
  docs/data-sources/roles.md
  docs/design/configuration-data-sources.md
  docs/guides/existing-configuration.md
  docs/research/configuration-discovery.md
  examples/data-sources/contentful_role/data-source.tf
  examples/data-sources/contentful_roles/data-source.tf
  internal/provider/data_source_role_internal_test.go
  internal/provider/data_source_role_response.go
  internal/provider/data_source_role_schema.go
  internal/provider/data_source_roles.go
  templates/guides/existing-configuration.md.tmpl
Due: provider

docs(provider): remove stale discovery test count
  docs/design/configuration-data-sources.md
Due: none

feat(provider): allow specified App Action IDs on create
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  docs/research/app-framework/actions.md
  docs/resources/app_action.md
  examples/resources/contentful_app_action/resource.tf
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-action/create-data.yml
  internal/contentful-management-go/testing/handler_app_action.go
  internal/provider/app_action_model_request.go
  internal/provider/resource_app_action.go
  internal/provider/resource_app_action_import_test.go
  internal/provider/resource_app_action_internal_test.go
  internal/provider/resource_app_action_lifecycle_test.go
  internal/provider/resource_app_action_schema.go
  internal/provider/resource_app_action_specified_id_test.go
  internal/provider/resource_app_action_test.go
  internal/provider/testdata/TestAccAppActionResourceLifecycle/main.tf
Due: contentful-management-go, provider

feat(provider): add Content Type discovery data sources
  docs/data-sources/content_type.md
  docs/data-sources/content_types.md
  docs/design/configuration-data-sources.md
  docs/guides/existing-configuration.md
  docs/research/configuration-discovery.md
  examples/data-sources/contentful_content_type/data-source.tf
  examples/data-sources/contentful_content_types/data-source.tf
  internal/provider/content_type_model_response.go
  internal/provider/contentful_provider.go
  internal/provider/data_source_content_type.go
  internal/provider/data_source_content_type_internal_test.go
  internal/provider/data_source_content_type_model.go
  internal/provider/data_source_content_type_response.go
  internal/provider/data_source_content_type_schema.go
  internal/provider/data_source_content_type_test.go
  internal/provider/data_source_content_types.go
  internal/provider/data_source_locales.go
  internal/provider/testdata/TestAccContentTypeDataSourcesComposition/main.tf
  internal/provider/testdata/discovery/content_type.json
  templates/guides/existing-configuration.md.tmpl
Due: provider

docs(provider): tighten Content Type discovery guidance
  docs/data-sources/content_type.md
  docs/data-sources/content_types.md
  docs/design/configuration-data-sources.md
  docs/guides/existing-configuration.md
  examples/data-sources/contentful_content_type/data-source.tf
  examples/data-sources/contentful_content_types/data-source.tf
  internal/provider/data_source_content_type_response.go
  internal/provider/data_source_content_type_schema.go
  internal/provider/data_source_content_types.go
  internal/provider/data_source_locales.go
  templates/guides/existing-configuration.md.tmpl
Due: provider

feat(provider): support Role cursor pagination
  docs/data-sources/roles.md
  docs/design/README.md
  docs/design/cma-test-server-conformance.md
  docs/design/configuration-data-sources.md
  docs/research/collections-and-errors.md
  docs/research/configuration-discovery.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/role/collection.yml
  internal/contentful-management-go/testing/handler_role.go
  internal/contentful-management-go/testing/handler_role_pagination_test.go
  internal/provider/data_source_discovery_internal_test.go
  internal/provider/data_source_role_internal_test.go
  internal/provider/data_source_role_response.go
  internal/provider/data_source_role_schema.go
  internal/provider/data_source_role_test.go
  internal/provider/data_source_roles_pagination_internal_test.go
Due: contentful-management-go, provider

fix(contentful-management-go): bound Role pagination values
  docs/design/cma-test-server-conformance.md
  internal/contentful-management-go/testing/handler_role.go
  internal/contentful-management-go/testing/handler_role_pagination_test.go
Due: contentful-management-go

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
