Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

fix(personal-access-token): preserve token on timeout update
  internal/provider/resource_personal_access_token.go
Due: provider

fix(provider): report cancelled environment readiness waits
  internal/provider/data_source_environment_status_ready.go
  internal/provider/data_source_environment_status_ready_internal_test.go
Due: provider

docs(provider): explain environment readiness timeouts
  docs/data-sources/environment_status_ready.md
  docs/guides/operation-timeouts.md
  docs/resources/environment.md
  examples/data-sources/contentful_environment_status_ready/data-source.tf
  examples/resources/contentful_environment/resource.tf
  internal/provider/data_source_environment_status_ready_schema.go
  internal/provider/resource_environment_schema.go
  templates/guides/operation-timeouts.md
  templates/resources/environment.md.tmpl
Due: provider

ci(generate): make generation reproducible
  .github/workflows/gogenerate.yml
  DEVELOPMENT.md
  main.go
Due: none

test(personal-access-token): reproduce timeout update failure
  internal/provider/resource_personal_access_token_timeout_test.go
Due: provider

docs(agents): focus guidance on provider development
  AGENTS.md
  DEVELOPMENT.md
Due: none

docs(provider): correct stale research guidance
  docs/research/cma-test-server-conformance.md
  docs/research/delivery-api-key-environments.md
  docs/research/entry-publication-lifecycle-evidence.md
Due: none

refactor(contentful-management-go): remove unused nullable integer conversions
  internal/contentful-management-go/optnilint.go
  internal/contentful-management-go/optnilint_test.go
Due: contentful-management-go

refactor(contentful-management): collapse transport client wrappers
  internal/contentful-management-go/ogen_http_client.go
  internal/contentful-management-go/ogen_http_client_test.go
Due: contentful-management-go

refactor(provider): share provider data assignment policy
  internal/provider/provider_data.go
  internal/provider/provider_data_test.go
Due: provider

test(provider): cover opaque JSON normalization contracts
  internal/provider/util/jx_test.go
Due: provider

docs: improve contributor guidance and onboarding
  DEVELOPMENT.md
  README.md
  docs/releasing.md
  main.go
Due: none

docs(provider): improve practitioner onboarding
  docs/index.md
  docs/resources/role.md
  examples/provider/provider.tf
  examples/resources/contentful_role/import-by-identity.tf
  examples/resources/contentful_role/import-by-string-id.tf
  examples/resources/contentful_role/import.sh
  internal/provider/contentful_provider.go
  templates/index.md.tmpl
Due: provider

docs(resource): clarify lifecycle guidance
  templates/resources/content_type.md.tmpl
  templates/resources/entry.md.tmpl
Due: none

docs: regenerate lifecycle documentation
  docs/resources/content_type.md
  docs/resources/entry.md
Due: none

docs(list): explain resource discovery workflow
  internal/provider/list_resource_content_type_config.go
  internal/provider/list_resource_entry_config.go
  templates/guides/resource-discovery.md
  templates/list-resources.md.tmpl
Due: provider

docs: regenerate resource discovery documentation
  docs/guides/resource-discovery.md
  docs/list-resources/content_type.md
  docs/list-resources/entry.md
Due: none

docs(webhook): explain filter and transformation semantics
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_transformation_schema.go
Due: provider

docs: regenerate webhook documentation
  docs/resources/webhook.md
Due: none

docs: explain secrets and Terraform state
  docs/guides/secrets-and-state.md
  templates/guides/secrets-and-state.md
Due: none

docs: complete contributor documentation guidance
  DEVELOPMENT.md
Due: none

docs(design): add design documentation map
  docs/design/README.md
Due: none

ci(docs): validate Registry documentation
  .github/workflows/gogenerate.yml
Due: none

docs(provider): add getting started guide
  templates/guides/getting-started.md
Due: none

docs(provider): regenerate getting started guide
  docs/guides/getting-started.md
Due: none

docs(provider): link practitioner workflows
  templates/index.md.tmpl
Due: none

docs(provider): regenerate practitioner workflow links
  docs/index.md
Due: none

docs(role): clarify Terraform resource identifier
  internal/provider/resource_role_schema.go
Due: provider

docs(role): regenerate composite identifier description
  docs/resources/role.md
Due: none

docs(entry): link operation timeout guidance
  templates/resources/entry.md.tmpl
Due: none

docs(content-type): link operation timeout guidance
  templates/resources/content_type.md.tmpl
Due: none

docs(entry): regenerate operation timeout link
  docs/resources/entry.md
Due: none

docs(content-type): regenerate operation timeout link
  docs/resources/content_type.md
Due: none

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
