Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

feat(contentful-management-go): support app definitions
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/app_definition.go
  internal/contentful-management-testserver/handle_organization_app_definitions.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/app_definition_resource_provider_resource_test.go
  internal/provider/app_definition_resource_type_resource_test.go
  internal/provider/app_installation_resource_test.go
Due: contentful-management-go, contentful-management-testserver, provider

feat(provider): implement app definition management
  docs/resources/app_definition.md
  internal/provider/app_definition_resource.go
  internal/provider/app_definition_resource_model.go
  internal/provider/app_definition_resource_model_request.go
  internal/provider/app_definition_resource_model_response.go
  internal/provider/app_definition_resource_model_test.go
  internal/provider/app_definition_resource_test.go
  internal/provider/contentful_provider.go
  internal/provider/testdata/TestAccAppDefinitionResource/1/main.tf
  internal/provider/testdata/TestAccAppDefinitionResource/1/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResource/2/main.tf
  internal/provider/testdata/TestAccAppDefinitionResource/2/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceImport/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceImport/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceImportNotFound/vars.tf
Due: provider

chore(provider): namespace data source and resource types
  internal/provider/data_source_preview_api_key.go
  internal/provider/data_source_preview_api_key_test.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_definition_resource_provider.go
  internal/provider/resource_app_definition_resource_provider_test.go
  internal/provider/resource_app_definition_resource_type.go
  internal/provider/resource_app_definition_resource_type_test.go
  internal/provider/resource_app_definition_test.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_installation_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_delivery_api_key_test.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_editor_interface_test.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_personal_access_token_test.go
  internal/provider/resource_role.go
  internal/provider/resource_role_test.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/resource_webhook.go
  internal/provider/resource_webhook_test.go
Due: provider

chore(provider): extract schema definitions
  internal/provider/app_definition_model.go
  internal/provider/app_definition_resource_provider_model.go
  internal/provider/app_definition_resource_type_model.go
  internal/provider/app_installation_model.go
  internal/provider/content_type_model.go
  internal/provider/data_source_preview_api_key_schema.go
  internal/provider/delivery_api_key_model.go
  internal/provider/editor_interface_model.go
  internal/provider/personal_access_token_model.go
  internal/provider/preview_api_key_model.go
  internal/provider/resource_app_definition_resource_provider_schema.go
  internal/provider/resource_app_definition_schema.go
  internal/provider/resource_app_installation_schema.go
  internal/provider/resource_appdefinition_resource_type_schema.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_delivery_api_key_schema.go
  internal/provider/resource_editor_interface_schema.go
  internal/provider/resource_personal_access_token_schema.go
  internal/provider/resource_role_schema.go
  internal/provider/resource_space_enablements_schema.go
  internal/provider/resource_webhook_schema.go
  internal/provider/role_model.go
  internal/provider/space_enablements_model.go
  internal/provider/webhook_model.go
Due: provider

feat(provider): introduce ephemeral personal access token resource
  docs/ephemeral-resources/personal_access_token.md
  internal/provider/contentful_provider.go
  internal/provider/ephemeral_personal_access_token.go
  internal/provider/ephemeral_personal_access_token_schema.go
  internal/provider/provider_data.go
  internal/provider/resource_personal_access_token.go
Due: provider

chore(provider): correct filename of resource type schema
  internal/provider/resource_app_definition_resource_type_schema.go
Due: provider

chore(github/workflows): test with terraform 1.12
  .github/workflows/test.yml
Due: none

feat(provider): implement resource identity
  internal/provider/import_state.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_definition_resource_provider.go
  internal/provider/resource_app_definition_resource_type.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_webhook.go
Due: provider

feat(contentful-management-testserver): support ui extensions
  internal/contentful-management-testserver/extension.go
  internal/contentful-management-testserver/handle_space_environment_extensions.go
  internal/contentful-management-testserver/testserver.go
Due: contentful-management-testserver

hack
  docs/resources/extension.md
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/extension_model_response.go
  internal/provider/extension_resource_model.go
Due: contentful-management-go, provider

feat(contentful-management-go): support ui extension management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(provider): support ui extensions
  docs/resources/extension.md
  internal/provider/contentful_provider.go
  internal/provider/extension_model_request.go
  internal/provider/extension_model_response.go
  internal/provider/extension_resource.go
  internal/provider/extension_resource_model.go
Due: provider

hack
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/extension_model_response.go
  internal/provider/extension_resource_model.go
Due: contentful-management-go, provider

feat(provider): implement ui extension management
  docs/resources/extension.md
  internal/provider/contentful_provider.go
  internal/provider/extension_model.go
  internal/provider/extension_model_request.go
  internal/provider/extension_model_response.go
  internal/provider/extension_model_test.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_content_type.go
  internal/provider/resource_extension.go
  internal/provider/resource_extension_schema.go
  internal/provider/resource_extension_test.go
  internal/provider/testdata/TestAccExtensionResource/1/main.tf
  internal/provider/testdata/TestAccExtensionResource/1/vars.tf
  internal/provider/testdata/TestAccExtensionResource/2/main.tf
  internal/provider/testdata/TestAccExtensionResource/2/vars.tf
  internal/provider/testdata/TestAccExtensionResource/3/main.tf
  internal/provider/testdata/TestAccExtensionResource/3/vars.tf
Due: provider

feat(contentful-management-testserver): support ui extensions
  internal/contentful-management-testserver/extension.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_extensions.go
  internal/contentful-management-testserver/testserver.go
Due: contentful-management-testserver

fix(provider/resource_extension): correct optionality of field type items
  docs/resources/extension.md
  internal/provider/resource_extension_schema.go
Due: provider

feat(provider): introduce app definition datasource
  docs/data-sources/app_definition.md
  internal/provider/contentful_provider.go
  internal/provider/data_source_app_definition.go
  internal/provider/data_source_app_definition_schema.go
Due: provider

fix(contentful-management-go): allow arbitrary strings for app definition locations
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/app_definition.go
  internal/provider/app_definition_model_request.go
  internal/provider/app_definition_model_response.go
  internal/provider/app_definition_model_test.go
Due: contentful-management-go, contentful-management-testserver, provider

fix(provider/resource_app_definition): correct type of location field items to be a single object
  docs/resources/app_definition.md
  internal/provider/resource_app_definition_schema.go
Due: provider

chore(github/workflows): introduce go dependency submission
  .github/workflows/go-dependency-submission.yml
Due: none
