Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

docs(secrets): clarify credentials and Webhook behavior
  docs/guides/secrets-and-state.md
  docs/resources/app_key.md
  docs/resources/app_signing_secret.md
  docs/resources/delivery_api_key.md
  docs/resources/personal_access_token.md
  docs/resources/webhook.md
  internal/provider/resource_app_key_schema.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_delivery_api_key_schema.go
  internal/provider/resource_personal_access_token_schema.go
  internal/provider/resource_webhook_schema.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_transformation_schema.go
  templates/guides/secrets-and-state.md
Due: provider

docs(provider): clarify configuration and authentication
  docs/index.md
  examples/provider/provider.tf
  internal/provider/contentful_provider.go
  templates/index.md.tmpl
Due: provider

docs(list): explain Contentful discovery and import
  docs/guides/resource-discovery.md
  docs/list-resources/content_type.md
  docs/list-resources/entry.md
  internal/provider/list_resource_content_type_config.go
  internal/provider/list_resource_entry_config.go
  templates/guides/resource-discovery.md
  templates/list-resources.md.tmpl
Due: provider

docs(resource): clarify Entry and Content Type lifecycle
  docs/resources/content_type.md
  docs/resources/entry.md
  examples/resources/contentful_content_type/import-by-identity.tf
  examples/resources/contentful_content_type/import-by-string-id.tf
  examples/resources/contentful_content_type/resource.tf
  examples/resources/contentful_entry/import-by-identity.tf
  examples/resources/contentful_entry/import-by-string-id.tf
  examples/resources/contentful_entry/resource.tf
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_entry_schema.go
  templates/resources/content_type.md.tmpl
  templates/resources/entry.md.tmpl
Due: provider

refactor(preview-environment): follow shared API and model conventions
  docs/research/cma-test-server-conformance.md
  docs/research/content-preview-environments.md
  internal/contentful-management-go/integration_tests/preview_environment_test.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/configuration.yml
  internal/contentful-management-go/openapi/schemas/preview-environment/data.yml
  internal/contentful-management-go/preview_environment_data.go
  internal/contentful-management-go/preview_environment_data_test.go
  internal/contentful-management-go/preview_environment_error_status_code.go
  internal/contentful-management-go/testing/handler_preview_environment.go
  internal/provider/preview_environment_model_request.go
  internal/provider/preview_environment_model_response.go
  internal/provider/preview_environment_model_test.go
  internal/provider/resource_preview_environment.go
Due: contentful-management-go, provider

test(preview-environment): wait for deletion visibility
  docs/research/cma-test-server-conformance.md
  internal/provider/resource_preview_environment_cleanup_test.go
  internal/provider/resource_preview_environment_test.go
Due: provider

test(preview-environment): use external test package
  internal/provider/resource_mutation_request_conversion_barrier_test.go
  internal/provider/resource_preview_environment_conversion_barrier_test.go
  internal/provider/resource_preview_environment_create_test.go
  internal/provider/resource_preview_environment_export_test.go
Due: provider

ci(test): update Terraform minor version coverage
  .github/workflows/test.yml
  DEVELOPMENT.md
Due: none

feat(live-preview-variables): add CMA document operations and mock
  internal/contentful-management-go/integration_tests/live_preview_variables_test.go
  internal/contentful-management-go/live_preview_variables_error.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/live-preview-variables/data.yml
  internal/contentful-management-go/openapi/schemas/live-preview-variables/error.yml
  internal/contentful-management-go/openapi/schemas/live-preview-variables/live-preview-variables.yml
  internal/contentful-management-go/openapi/schemas/live-preview-variables/sys.yml
  internal/contentful-management-go/testing/error_handler.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_environment.go
  internal/contentful-management-go/testing/handler_live_preview_variables.go
  internal/contentful-management-go/testing/handler_live_preview_variables_http_test.go
  internal/contentful-management-go/testing/live_preview_variables_validation.go
Due: contentful-management-go

feat(live-preview-variables): manage variables documents with Terraform
  docs/resources/live_preview_variables.md
  internal/provider/contentful_provider.go
  internal/provider/live_preview_variables_model.go
  internal/provider/live_preview_variables_model_request.go
  internal/provider/live_preview_variables_model_response.go
  internal/provider/live_preview_variables_model_test.go
  internal/provider/resource_live_preview_variables.go
  internal/provider/resource_live_preview_variables_protocol_test.go
  internal/provider/resource_live_preview_variables_schema.go
  internal/provider/resource_live_preview_variables_test.go
  internal/provider/resource_private_version_barrier_test.go
  internal/provider/testdata/TestAccLivePreviewVariablesResource/main.tf
  internal/provider/testdata/TestAccLivePreviewVariablesResourceIgnoreChanges/main.tf
  internal/provider/testdata/TestAccLivePreviewVariablesResourceImport/main.tf
Due: provider

docs(live-preview-variables): explain ownership and recovery
  docs/design/terraform-value-semantics.md
  docs/research/cma-test-server-conformance.md
  docs/research/live-preview-variables.md
  docs/resources/live_preview_variables.md
  examples/resources/contentful_live_preview_variables/import-by-identity.tf
  examples/resources/contentful_live_preview_variables/import-by-string-id.tf
  examples/resources/contentful_live_preview_variables/import.sh
  examples/resources/contentful_live_preview_variables/resource.tf
  examples/resources/contentful_live_preview_variables/variables.tf
  templates/resources/live_preview_variables.md.tmpl
Due: none

test(provider): avoid incidental rate limiting in lifecycle fixtures
  internal/provider/content_type_metadata_response_test.go
  internal/provider/data_source_app_definition_test.go
  internal/provider/data_source_environment_status_ready_test.go
  internal/provider/data_source_marketplace_app_definition_test.go
  internal/provider/data_source_preview_api_key_test.go
  internal/provider/data_source_teams_test.go
  internal/provider/list_resource_content_type_test.go
  internal/provider/list_resource_entry_test.go
  internal/provider/resource_app_definition_test.go
  internal/provider/resource_app_installation_test.go
  internal/provider/resource_app_key_acceptance_mock_test.go
  internal/provider/resource_app_signing_secret_logging_test.go
  internal/provider/resource_app_signing_secret_test.go
  internal/provider/resource_delivery_api_key_test.go
  internal/provider/resource_environment_alias_test.go
  internal/provider/resource_environment_test.go
  internal/provider/resource_extension_test.go
  internal/provider/resource_personal_access_token_test.go
  internal/provider/resource_personal_access_token_timeout_test.go
  internal/provider/resource_preview_environment_test.go
  internal/provider/resource_resource_provider_test.go
  internal/provider/resource_resource_type_test.go
  internal/provider/resource_role_test.go
  internal/provider/resource_secret_presentation_test.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/resource_tag_test.go
  internal/provider/resource_taxonomy_conversion_barrier_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/resource_team_space_membership_test.go
  internal/provider/resource_team_test.go
  internal/provider/resource_webhook_test.go
Due: provider

fix(entry): omit content from lifecycle logs
  docs/resources/entry.md
  internal/provider/entry_logging.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_logging_test.go
  templates/resources/entry.md.tmpl
Due: provider

test(resource): verify remote destroy and retention contracts
  docs/resources/editor_interface.md
  docs/resources/personal_access_token.md
  docs/resources/space_enablements.md
  internal/provider/resource_delete_remote_test.go
  internal/provider/resource_destroy_retention_test.go
  internal/provider/resource_editor_interface_schema.go
  internal/provider/resource_personal_access_token_schema.go
  internal/provider/resource_space_enablements_schema.go
Due: provider

refactor(provider): colocate response equivalence with resource models
  internal/provider/editor_interface_model_response.go
  internal/provider/mutation_response_equivalence.go
  internal/provider/role_model_response.go
  internal/provider/webhook_model_response.go
Due: provider

refactor(taxonomy): separate concept and scheme mutations
  internal/provider/taxonomy_concept_mutation.go
  internal/provider/taxonomy_concept_scheme_mutation.go
  internal/provider/taxonomy_mutation.go
Due: provider

fix(extension): freeze version-zero state decoding
  docs/design/terraform-value-semantics.md
  internal/provider/extension_state_v0.go
  internal/provider/extension_state_v0_test.go
  internal/provider/resource_extension_upgrade.go
  internal/provider/testdata/extension_state_v0_type.json
Due: provider

fix(app-signing-secret): preserve secrets on timeout-only updates
  docs/guides/secrets-and-state.md
  docs/resources/app_signing_secret.md
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_app_signing_secret_logging_test.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_app_signing_secret_timeout_test.go
  internal/provider/resource_mutation_request_conversion_barrier_test.go
  templates/guides/secrets-and-state.md
Due: provider

docs: clarify documentation authoring and release workflows
  DEVELOPMENT.md
  docs/releasing.md
  docs/research/provider-documentation.md
Due: none

docs(provider): improve setup and workflow guides
  README.md
  docs/guides/secrets-and-state.md
  docs/index.md
  docs/list-resources/content_type.md
  docs/list-resources/entry.md
  examples/guides/resource-discovery/query.tfquery.hcl
  internal/provider/contentful_provider.go
  templates/guides/operation-timeouts.md
  templates/guides/operation-timeouts.md.tmpl
  templates/guides/resource-discovery.md
  templates/guides/resource-discovery.md.tmpl
  templates/guides/secrets-and-state.md
  templates/index.md.tmpl
  templates/list-resources.md.tmpl
Due: provider

docs: organize design contracts and endpoint evidence
  docs/design/README.md
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  docs/research/app-signing-secret.md
  docs/research/cma-test-server-conformance.md
  docs/research/content-preview-environments.md
  docs/research/delivery-api-key-environments.md
  docs/research/entry-and-content-type-put-headers.md
  docs/research/entry-destroy-lifecycle.md
  docs/research/entry-null-and-omission.md
  docs/research/entry-publication-lifecycle-evidence.md
  docs/research/entry-unpublish-version.md
  docs/research/extension-source-values.md
  docs/research/live-preview-variables.md
  docs/research/space-enablement-values.md
  docs/research/taxonomy-version.md
Due: none

docs(provider): lead timeout guidance with configuration
  docs/guides/operation-timeouts.md
  docs/index.md
  examples/guides/operation-timeouts/timeouts.tf
  templates/guides/operation-timeouts.md.tmpl
  templates/index.md.tmpl
Due: none

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
