Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

ref(contentful-management-go): change error facade from one-of to any-of
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

chore(github/workflows): test against terraform 1.13
  .github/workflows/test.yml
Due: none

chore(github/workflows): test against terraform 1.14.0-beta2
  .github/workflows/test.yml
Due: none

feat(provider/content_type): implement list resource
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/space_environment_map.go
  internal/provider/contentful_provider.go
  internal/provider/resource_content_type_list.go
  internal/provider/resource_content_type_list_schema.go
  internal/provider/resource_content_type_list_test.go
  internal/provider/testdata/TestAccContentTypeListResource/vars.tf
  internal/provider/testdata/TestAccContentTypeListResourceNotFoundEnvironment/main.tfquery.hcl
  internal/provider/testdata/TestAccContentTypeListResourceNotFoundEnvironment/vars.tf
Due: contentful-management-go, provider

.
  go.mod
  go.sum
  internal/provider/resource_content_type_list_test.go
  internal/provider/testdata/TestAccContentTypeListResource/main.tfquery.hcl
Due: provider

.
  internal/provider/resource_content_type_list_test.go
Due: provider

.
  internal/provider/resource_content_type_list.go
Due: provider

feat(provider): populate resource identity during import
  internal/provider/import_state.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_space_enablements.go
Due: provider

feat(terraform-plugin-framework-reflection): support fields in embedded structs
  internal/terraform-plugin-framework-reflection/attribute_types.go
  internal/terraform-plugin-framework-reflection/attribute_values.go
  internal/terraform-plugin-framework-reflection/set_attribute_values.go
Due: terraform-plugin-framework-reflection

feat(provider): introduce function for copying matching attributes between object types
  internal/provider/copy_attribute_values.go
Due: provider

ref(provider): extract a general id identity model
  internal/provider/app_definition_model.go
  internal/provider/app_definition_model_response.go
  internal/provider/app_installation_model.go
  internal/provider/app_installation_model_response.go
  internal/provider/app_installation_model_response_test.go
  internal/provider/app_signing_secret_model.go
  internal/provider/app_signing_secret_model_response.go
  internal/provider/content_type_model.go
  internal/provider/content_type_model_response.go
  internal/provider/delivery_api_key_model.go
  internal/provider/delivery_api_key_model_response.go
  internal/provider/editor_interface_model.go
  internal/provider/editor_interface_model_response.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/extension_model.go
  internal/provider/extension_model_response.go
  internal/provider/id_identity_model.go
  internal/provider/personal_access_token_model.go
  internal/provider/personal_access_token_model_response.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_provider_model.go
  internal/provider/resource_provider_model_response.go
  internal/provider/resource_type_model.go
  internal/provider/resource_type_model_response.go
  internal/provider/role_model.go
  internal/provider/role_model_response.go
  internal/provider/space_enablements_model.go
  internal/provider/space_enablements_model_response.go
  internal/provider/webhook_model.go
  internal/provider/webhook_model_response.go
Due: provider

chore(github/workflows): use custom github token for indirect dependency updates
  .github/workflows/update-indirect-dependencies.yml
Due: none

feat(provider/content_type): implement list resource
  go.mod
  go.sum
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/space_environment_map.go
  internal/provider/contentful_provider.go
  internal/provider/resource_content_type_list.go
  internal/provider/resource_content_type_list_schema.go
  internal/provider/resource_content_type_list_test.go
  internal/provider/testdata/TestAccContentTypeListResource/main.tfquery.hcl
  internal/provider/testdata/TestAccContentTypeListResource/vars.tf
  internal/provider/testdata/TestAccContentTypeListResourceNotFoundEnvironment/main.tfquery.hcl
  internal/provider/testdata/TestAccContentTypeListResourceNotFoundEnvironment/vars.tf
Due: contentful-management-go, provider

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
