Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

chore(github/workflows): use cyspbot to update indirect dependencies
  .github/workflows/update-indirect-dependencies.yml
Due: none

ref(provider/content_type): rename list resource implementation
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_content_type_config.go
  internal/provider/list_resource_content_type_test.go
Due: provider

ref(provider/content_type): simplify response handling and diagnostics
  internal/provider/list_resource_content_type.go
Due: provider

feat(provider/entry): introduce list resource
  docs/list-resources/entry.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/entry/collection.yml
  internal/contentful-management-go/testing/handler_entry.go
  internal/provider/contentful_provider.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
  internal/provider/list_resource_entry_config.go
  internal/provider/list_resource_entry_test.go
Due: contentful-management-go, provider

feat(provider/entry): implement taxonomy concept linking
  docs/resources/entry.md
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/entry/metadata.yml
  internal/contentful-management-go/taxonomy_concept_link.go
  internal/provider/entry_model.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceMetadataConcepts/main.tf
Due: contentful-management-go, provider

chore: gitignore build product
  .gitignore
Due: none

docs(provider): add example for entry list resource
  docs/list-resources/entry.md
  examples/list-resources/contentful_entry/list-resource.tfquery.hcl
  examples/list-resources/contentful_entry/variables.tf
Due: none

test(provider/editor_interface): test content type resource interaction
  internal/provider/resource_editor_interface_test.go
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdateWithContentType/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdateWithContentType/vars.tf
Due: provider

feat(contentful-management-go/testing): implement optimistic locking
  internal/contentful-management-go/client.go
  internal/contentful-management-go/testing/error.go
  internal/contentful-management-go/testing/handler_app_definition.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_delivery_api_key.go
  internal/contentful-management-go/testing/handler_editor_interface.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_environment.go
  internal/contentful-management-go/testing/handler_environment_alias.go
  internal/contentful-management-go/testing/handler_role.go
  internal/contentful-management-go/testing/handler_space_enablements.go
  internal/contentful-management-go/testing/handler_team.go
  internal/contentful-management-go/testing/handler_webhook_definition.go
  internal/provider/resource_editor_interface_test.go
Due: contentful-management-go, provider

ref(contentful-management-go): move resource map types from testing to cmgo
  internal/contentful-management-go/space_environment_map.go
  internal/contentful-management-go/space_map.go
  internal/contentful-management-go/testing/handler.go
Due: contentful-management-go

fix(provider/editor_interface): maintain per-space-environment version offsets on content type changes
  internal/provider/content_type_counter.go
  internal/provider/content_type_counter_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_editor_interface_test.go
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdateWithContentTypeMultipleSpaceEnvironments/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdateWithContentTypeMultipleSpaceEnvironments/vars.tf
Due: provider

ref(provider): simplify identity model creation for multipart ids
  internal/provider/app_definition_model_response.go
  internal/provider/app_installation_model_response.go
  internal/provider/app_installation_model_response_test.go
  internal/provider/app_signing_secret_model_response.go
  internal/provider/content_type_model_response.go
  internal/provider/delivery_api_key_model_response.go
  internal/provider/editor_interface_model_response.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/entry_model_response.go
  internal/provider/environment_alias_model_response.go
  internal/provider/environment_model_response.go
  internal/provider/extension_model_response.go
  internal/provider/id_identity_model.go
  internal/provider/personal_access_token_model_response.go
  internal/provider/resource_provider_model_response.go
  internal/provider/resource_type_model_response.go
  internal/provider/role_model_response.go
  internal/provider/space_enablements_model_response.go
  internal/provider/team_model_response.go
  internal/provider/team_space_membership_model_response.go
  internal/provider/webhook_model_response.go
Due: provider

ref(provider): simplify multipart identity model construction
  internal/provider/app_definition_model_response.go
  internal/provider/app_installation_model_response.go
  internal/provider/app_installation_model_response_test.go
  internal/provider/app_signing_secret_model_response.go
  internal/provider/content_type_model_response.go
  internal/provider/delivery_api_key_model_response.go
  internal/provider/editor_interface_model_response.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/entry_model_response.go
  internal/provider/environment_alias_model_response.go
  internal/provider/environment_model_response.go
  internal/provider/extension_model_response.go
  internal/provider/id_identity_model.go
  internal/provider/personal_access_token_model_response.go
  internal/provider/resource_provider_model_response.go
  internal/provider/resource_type_model_response.go
  internal/provider/role_model_response.go
  internal/provider/space_enablements_model_response.go
  internal/provider/team_model_response.go
  internal/provider/team_space_membership_model_response.go
  internal/provider/webhook_model_response.go
Due: provider

fix(provider): correctly roundtrip entry model metadata
  go.mod
  go.sum
  internal/provider/entry_model_rapid_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/testdata/.gitignore
Due: provider

Update entry_model_rapid_test.go
  internal/provider/entry_model_rapid_test.go
Due: provider

tag
  docs/resources/tag.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/tag/data.yml
  internal/contentful-management-go/openapi/schemas/tag/request.yml
  internal/contentful-management-go/openapi/schemas/tag/sys.yml
  internal/contentful-management-go/openapi/schemas/tag/tag.yml
  internal/contentful-management-go/tag_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_tag.go
  internal/contentful-management-go/testing/tag.go
  internal/provider/contentful_provider.go
  internal/provider/resource_tag.go
  internal/provider/resource_tag_schema.go
  internal/provider/tag_model.go
  internal/provider/tag_model_request.go
  internal/provider/tag_model_response.go
Due: contentful-management-go, provider

ref(provider/typed): allow the zero value for null and unknown lists and maps
  internal/provider/typed_list.go
  internal/provider/typed_map.go
Due: provider

ref(provider/entry): introduce constructor for entry identity models
  internal/provider/entry_model.go
  internal/provider/entry_model_response.go
  internal/provider/list_resource_entry.go
Due: provider

fix(provider/entry): correctly roundtrip entry metadata
  .golangci.yml
  go.mod
  go.sum
  internal/provider/entry_model_rapid_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/list_resource_entry.go
  internal/provider/testdata/.gitignore
Due: provider

test(provider/content-type): test round-tripping content types
  internal/provider/content_type_model_rapid_test.go
Due: provider

feat(contentful-management-go): implement tag management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/tag/collection.yml
  internal/contentful-management-go/openapi/schemas/tag/data.yml
  internal/contentful-management-go/openapi/schemas/tag/request-sys.yml
  internal/contentful-management-go/openapi/schemas/tag/request.yml
  internal/contentful-management-go/openapi/schemas/tag/sys.yml
  internal/contentful-management-go/openapi/schemas/tag/tag.yml
  internal/contentful-management-go/tag_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_tag.go
  internal/contentful-management-go/testing/server_tag.go
  internal/contentful-management-go/testing/tag.go
Due: contentful-management-go

feat(provider/tag): introduce tag resource
  docs/resources/tag.md
  internal/provider/contentful_provider.go
  internal/provider/resource_tag.go
  internal/provider/resource_tag_schema.go
  internal/provider/resource_tag_test.go
  internal/provider/tag_model.go
  internal/provider/tag_model_request.go
  internal/provider/tag_model_response.go
  internal/provider/testdata/TestAccTagResource/1/main.tf
  internal/provider/testdata/TestAccTagResource/1/vars.tf
  internal/provider/testdata/TestAccTagResource/2/main.tf
  internal/provider/testdata/TestAccTagResource/2/vars.tf
  internal/provider/testdata/TestAccTagResource/main.tf
  internal/provider/testdata/TestAccTagResource/vars.tf
  internal/provider/testdata/TestAccTagResourceImport/main.tf
  internal/provider/testdata/TestAccTagResourceImport/vars.tf
  internal/provider/testdata/TestAccTagResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccTagResourceImportNotFound/vars.tf
  internal/provider/testdata/TestAccTagResourceRecreateVisibility/1/main.tf
  internal/provider/testdata/TestAccTagResourceRecreateVisibility/1/vars.tf
  internal/provider/testdata/TestAccTagResourceRecreateVisibility/2/main.tf
  internal/provider/testdata/TestAccTagResourceRecreateVisibility/2/vars.tf
  internal/provider/testdata/TestAccTagResourceRecreateVisibility/main.tf
  internal/provider/testdata/TestAccTagResourceRecreateVisibility/vars.tf
Due: provider
