Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

fix(editor-interface): account for first activation during recovery
  docs/design/terraform-value-semantics.md
  docs/resources/editor_interface.md
  internal/provider/resource_content_type.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_editor_interface_process_test.go
  internal/provider/resource_editor_interface_schema.go
  internal/provider/resource_editor_interface_test.go
  internal/provider/resource_mutation_reconciliation_callers_test.go
  internal/provider/testdata/TestAccEditorInterfaceResourceCreateAfterContentTypeUpdateUsesVersionOffset/1/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceCreateAfterContentTypeUpdateUsesVersionOffset/1/vars.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceCreateAfterContentTypeUpdateUsesVersionOffset/2/main.tf
  internal/provider/testdata/TestAccEditorInterfaceResourceCreateAfterContentTypeUpdateUsesVersionOffset/2/vars.tf
Due: provider

test(editor-interface): cover first activation and deactivation lifecycles
  internal/contentful-management-go/testing/handler_editor_interface_test.go
  internal/provider/resource_editor_interface_activation_test.go
Due: contentful-management-go, provider

fix(contentful-management): remove editor interface on deactivation
  internal/contentful-management-go/testing/handler_content_type.go
Due: contentful-management-go

test(provider): require setup success and complete handler cleanup
  internal/contentful-management-go/testing/handler_me_test.go
  internal/provider/contentful_provider_test.go
  internal/provider/contentful_provider_testing_test.go
  internal/provider/data_source_app_definition_test.go
  internal/provider/data_source_environment_status_ready_test.go
  internal/provider/data_source_marketplace_app_definition_test.go
  internal/provider/data_source_preview_api_key_test.go
  internal/provider/data_source_teams_test.go
  internal/provider/list_resource_content_type_test.go
  internal/provider/list_resource_entry_test.go
  internal/provider/resource_app_definition_test.go
  internal/provider/resource_app_installation_test.go
  internal/provider/resource_app_key_acceptance_mock_test.go
  internal/provider/resource_app_signing_secret_test.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_delivery_api_key_test.go
  internal/provider/resource_editor_interface_test.go
  internal/provider/resource_entry_test.go
  internal/provider/resource_environment_alias_test.go
  internal/provider/resource_environment_test.go
  internal/provider/resource_extension_test.go
  internal/provider/resource_personal_access_token_test.go
  internal/provider/resource_resource_provider_test.go
  internal/provider/resource_resource_type_test.go
  internal/provider/resource_role_test.go
  internal/provider/resource_secret_presentation_test.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/resource_tag_test.go
  internal/provider/resource_team_space_membership_test.go
  internal/provider/resource_team_test.go
  internal/provider/resource_webhook_test.go
Due: contentful-management-go, provider

test(provider): consistently gate Terraform execution with TF_ACC
  DEVELOPMENT.md
  internal/provider/resource_content_type_upgrade_test.go
  internal/provider/resource_extension_upgrade_test.go
  internal/provider/resource_secret_presentation_test.go
Due: provider

test(provider): share configurations for scalar lifecycle changes
  internal/provider/resource_app_installation_test.go
  internal/provider/resource_delivery_api_key_test.go
  internal/provider/resource_resource_provider_test.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/2/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/3/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/3/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/vars.tf
  internal/provider/testdata/TestAccResourceProviderResourceLifecycle/1/main.tf
  internal/provider/testdata/TestAccResourceProviderResourceLifecycle/2/vars.tf
  internal/provider/testdata/TestAccResourceProviderResourceLifecycle/main.tf
  internal/provider/testdata/TestAccResourceProviderResourceLifecycle/vars.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/vars.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/vars.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/vars.tf
Due: provider

refactor(editor-interface): simplify conflict checks and guidance
  docs/design/terraform-value-semantics.md
  docs/resources/editor_interface.md
  internal/provider/resource_editor_interface.go
  internal/provider/resource_editor_interface_process_test.go
  internal/provider/resource_editor_interface_schema.go
Due: provider

test(provider): verify imported state and secret preservation
  internal/provider/acceptance_import_test.go
  internal/provider/resource_app_definition_test.go
  internal/provider/resource_app_installation_test.go
  internal/provider/resource_app_signing_secret_test.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_editor_interface_test.go
  internal/provider/resource_environment_alias_test.go
  internal/provider/resource_environment_test.go
  internal/provider/resource_personal_access_token_test.go
  internal/provider/resource_resource_provider_test.go
  internal/provider/resource_resource_type_test.go
  internal/provider/resource_role_test.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/resource_tag_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/resource_team_space_membership_test.go
  internal/provider/resource_team_test.go
  internal/provider/resource_webhook_test.go
  internal/provider/testdata/TestAccTaxonomyResourcesCreateUpdate/main.tf
Due: provider

test(provider): assert lifecycle values and versioned requests
  internal/provider/data_source_marketplace_app_definition_test.go
  internal/provider/data_source_teams_test.go
  internal/provider/resource_app_installation_test.go
  internal/provider/resource_delivery_api_key_test.go
  internal/provider/resource_entry_publication_test.go
  internal/provider/resource_environment_alias_test.go
  internal/provider/resource_environment_test.go
  internal/provider/resource_resource_provider_test.go
  internal/provider/resource_resource_type_test.go
  internal/provider/resource_role_test.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/resource_tag_test.go
  internal/provider/resource_team_space_membership_test.go
Due: provider

docs(lifecycle): complete recovery and destruction guidance
  docs/resources/content_type.md
  docs/resources/entry.md
  examples/resources/contentful_entry/resource.tf
  templates/resources/content_type.md.tmpl
  templates/resources/entry.md.tmpl
Due: none

docs(secrets): explain header import and public key lifecycle
  docs/guides/secrets-and-state.md
  templates/guides/secrets-and-state.md
Due: none

docs(list): complete discovery setup and query semantics
  docs/guides/resource-discovery.md
  docs/list-resources/content_type.md
  docs/list-resources/entry.md
  internal/provider/list_resource_entry_config.go
  templates/guides/resource-discovery.md
  templates/list-resources.md.tmpl
Due: provider

docs(webhook): clarify body defaults and header transformations
  docs/resources/webhook.md
  internal/provider/webhook_filters_schema.go
Due: provider

docs(provider): verify first-plan and authentication guidance
  docs/index.md
  internal/provider/contentful_provider.go
  templates/guides/getting-started.md
  templates/guides/getting-started.md.tmpl
  templates/index.md.tmpl
Due: provider

docs(resource): align example inputs and JSON guidance
  docs/resources/app_installation.md
  docs/resources/editor_interface.md
  docs/resources/extension.md
  examples/resources/contentful_app_installation/import-by-identity.tf
  examples/resources/contentful_app_installation/import-by-string-id.tf
  examples/resources/contentful_app_installation/variables.tf
  examples/resources/contentful_editor_interface/resource.tf
  examples/resources/contentful_extension/resource.tf
  internal/provider/resource_app_installation_schema.go
  internal/provider/resource_extension_schema.go
Due: provider

docs(delivery-api-key): clarify environment access defaults
  docs/resources/delivery_api_key.md
  internal/provider/resource_delivery_api_key_schema.go
Due: provider

docs(content-type): explain JSON field configuration
  docs/resources/content_type.md
  examples/resources/contentful_content_type/resource.tf
  internal/provider/resource_content_type_schema.go
Due: provider

docs(secrets): clarify token import and paired credentials
  docs/guides/secrets-and-state.md
  docs/resources/personal_access_token.md
  internal/provider/resource_personal_access_token_schema.go
  templates/guides/secrets-and-state.md
Due: provider

docs(resource): complete consequential schema and identifier guidance
  docs/data-sources/app_definition.md
  docs/data-sources/environment_status_ready.md
  docs/data-sources/marketplace_app_definition.md
  docs/resources/app_definition.md
  docs/resources/app_installation.md
  docs/resources/environment.md
  docs/resources/extension.md
  docs/resources/tag.md
  internal/provider/data_source_app_definition_schema.go
  internal/provider/data_source_environment_status_ready_schema.go
  internal/provider/data_source_marketplace_app_definition_schema.go
  internal/provider/resource_app_definition_schema.go
  internal/provider/resource_app_installation_schema.go
  internal/provider/resource_environment_schema.go
  internal/provider/resource_extension_schema.go
  internal/provider/resource_tag_schema.go
Due: provider

docs(webhook): require paired Basic credentials
  docs/resources/webhook.md
  internal/provider/resource_webhook_schema.go
Due: provider

docs(secrets): clarify credentials and Webhook behavior
  docs/guides/secrets-and-state.md
  docs/resources/app_key.md
  docs/resources/app_signing_secret.md
  docs/resources/delivery_api_key.md
  docs/resources/personal_access_token.md
  docs/resources/webhook.md
  internal/provider/resource_app_key_schema.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_delivery_api_key_schema.go
  internal/provider/resource_personal_access_token_schema.go
  internal/provider/resource_webhook_schema.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_transformation_schema.go
  templates/guides/secrets-and-state.md
Due: provider

docs(list): explain Contentful discovery and import
  docs/guides/resource-discovery.md
  docs/list-resources/content_type.md
  docs/list-resources/entry.md
  internal/provider/list_resource_content_type_config.go
  internal/provider/list_resource_entry_config.go
  templates/guides/resource-discovery.md
  templates/list-resources.md.tmpl
Due: provider

docs: document repository workflows and documentation ownership
  .github/workflows/gogenerate.yml
  DEVELOPMENT.md
  README.md
  docs/design/README.md
  docs/releasing.md
  main.go
Due: none

docs(provider): clarify configuration and authentication
  docs/index.md
  examples/provider/provider.tf
  internal/provider/contentful_provider.go
  templates/index.md.tmpl
Due: provider

docs(resource): clarify Entry and Content Type lifecycle
  docs/resources/content_type.md
  docs/resources/entry.md
  examples/resources/contentful_content_type/import-by-identity.tf
  examples/resources/contentful_content_type/import-by-string-id.tf
  examples/resources/contentful_content_type/resource.tf
  examples/resources/contentful_entry/import-by-identity.tf
  examples/resources/contentful_entry/import-by-string-id.tf
  examples/resources/contentful_entry/resource.tf
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_entry_schema.go
  templates/resources/content_type.md.tmpl
  templates/resources/entry.md.tmpl
Due: provider
