Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

feat(contentful-management-go): implement tag management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/tag/collection.yml
  internal/contentful-management-go/openapi/schemas/tag/data.yml
  internal/contentful-management-go/openapi/schemas/tag/request-sys.yml
  internal/contentful-management-go/openapi/schemas/tag/request.yml
  internal/contentful-management-go/openapi/schemas/tag/sys.yml
  internal/contentful-management-go/openapi/schemas/tag/tag.yml
  internal/contentful-management-go/tag_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_tag.go
  internal/contentful-management-go/testing/server_tag.go
  internal/contentful-management-go/testing/tag.go
Due: contentful-management-go

feat(provider/tag): introduce tag resource
  docs/resources/tag.md
  internal/contentful-management-go/testing/server_tag.go
  internal/provider/contentful_provider.go
  internal/provider/resource_tag.go
  internal/provider/resource_tag_schema.go
  internal/provider/resource_tag_test.go
  internal/provider/tag_model.go
  internal/provider/tag_model_request.go
  internal/provider/tag_model_response.go
  internal/provider/testdata/TestAccTagResourceCreateUpdate/main.tf
  internal/provider/testdata/TestAccTagResourceCreateUpdate/vars.tf
  internal/provider/testdata/TestAccTagResourceImport/main.tf
  internal/provider/testdata/TestAccTagResourceImport/vars.tf
  internal/provider/testdata/TestAccTagResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccTagResourceImportNotFound/vars.tf
Due: contentful-management-go, provider

test(provider/entry): refactor model conversion to use existing utility
  internal/provider/entry_model_rapid_test.go
Due: provider

test(provider/entry): refactor rapid generator
  internal/provider/entry_model_rapid_test.go
Due: provider

chore(golangci-lint): disable noglobals in test files
  .golangci.yml
  internal/provider/contentful_provider_test.go
Due: provider

chore(github/workflows): run integration tests using only the latest terraform version
  .github/workflows/test.yml
Due: none

chore(github/workflows): limit acceptance test steps to only run acceptance tests
  .github/workflows/test.yml
Due: none

test(contentful-management-go): refactor integration test to use local test server
  internal/contentful-management-go/integration_tests/client_test.go
  internal/contentful-management-go/integration_tests/server_test.go
  internal/contentful-management-go/integration_tests/users_test.go
  internal/contentful-management-go/testing/error_handler.go
  internal/contentful-management-go/testing/handler_me.go
  internal/contentful-management-go/testing/handler_me_test.go
  internal/contentful-management-go/testing/security_handler.go
  internal/contentful-management-go/testing/server.go
  internal/contentful-management-go/testing/server_me.go
  internal/provider/contentful_provider_testing_test.go
Due: contentful-management-go, provider

ref(provider): prioritise injected configuration
  internal/provider/contentful_provider.go
Due: provider

Allow empty allowed resources in generator
  internal/provider/content_type_model_rapid_test.go
Due: provider

chore(deps): use go 1.25
  go.mod
Due: none

chore(github/workflows): bump golangci-lint to v2.7.2
  .github/workflows/golangci.yml
Due: none

test(provider): extract useful test data generators
  internal/provider/entry_model_rapid_test.go
  internal/provider/testdata/generators.go
Due: provider

test(provider): organise entry test data
  internal/provider/entry_model_rapid_test.go
  internal/provider/testdata/alphanumeric.go
  internal/provider/testdata/entry_model.go
  internal/provider/testdata/zeroable.go
Due: provider

fix(provider/content-type): preserve null metadata annotations
  internal/provider/content_type_metadata_request.go
Due: provider

test(provider/content-type): test round-tripping content-type model
  internal/provider/content_type_model.go
  internal/provider/content_type_model_rapid_test.go
  internal/provider/testdata/content_type_model.go
  internal/provider/testdata/jsontypes.go
Due: provider

ref(contentful-management-go): remove unused created-at and updated-at timestamp fields
  internal/contentful-management-go/environment_alias_sys.go
  internal/contentful-management-go/environment_sys.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi/schemas/sys/with-version.yml
  internal/contentful-management-go/testing/environment.go
  internal/contentful-management-go/testing/environment_alias.go
Due: contentful-management-go

docs: create readme
  README.md
Due: none

docs: update overview description
  docs/index.md
  internal/provider/contentful_provider.go
Due: provider

fix(provider/app_signing_secret): use correct log identifiers
  internal/provider/resource_app_signing_secret.go
Due: provider

feat(provider): respect rate limit response headers
  internal/provider/contentful_provider.go
  internal/provider/util/http_retry_contentful.go
  internal/provider/util/http_retry_contentful_test.go
Due: provider
