Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

docs(agents): add repository-wide coding guidance
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

docs(agents): preserve current audit guidance
  AGENTS.md
Due: none

docs(agents): sharpen repository guidance
  AGENTS.md
Due: none

fix(extension): preserve response-owned sources
  docs/design/terraform-value-semantics.md
  docs/research/extension-source-values.md
  docs/resources/extension.md
  internal/provider/extension_model_request.go
  internal/provider/extension_model_request_test.go
  internal/provider/extension_model_response.go
  internal/provider/extension_model_response_test.go
  internal/provider/extension_model_test.go
  internal/provider/resource_extension.go
  internal/provider/resource_extension_modify_plan_test.go
  internal/provider/resource_extension_schema.go
  internal/provider/resource_extension_schema_test.go
  internal/provider/resource_extension_test.go
Due: provider

fix(webhook): preserve imported secret headers on update
  internal/contentful-management-go/testing/handler_webhook_definition.go
  internal/contentful-management-go/testing/server_webhook_definition.go
  internal/contentful-management-go/testing/webhook_definition.go
  internal/contentful-management-go/testing/webhook_definition_test.go
  internal/provider/resource_mutation_request_conversion_barrier_test.go
  internal/provider/resource_webhook_test.go
  internal/provider/webhook_header_value_request.go
  internal/provider/webhook_headers_request.go
  internal/provider/webhook_headers_request_test.go
  internal/provider/webhook_model_request.go
  internal/provider/webhook_request_values_test.go
Due: contentful-management-go, provider

fix(app-definition): reject empty source URLs
  docs/resources/app_definition.md
  internal/provider/resource_app_definition_schema.go
  internal/provider/resource_app_definition_test.go
Due: provider

fix(space-enablement): validate coupled enablements
  docs/design/terraform-value-semantics.md
  docs/resources/space_enablements.md
  examples/resources/contentful_space_enablements/resource.tf
  internal/provider/request_configuration_converter_test.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_space_enablements_modify_plan_test.go
  internal/provider/resource_space_enablements_schema.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/space_enablements_model_request.go
  internal/provider/space_enablements_model_request_test.go
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/main.tf
Due: provider

fix(extension): avoid duplicate source diagnostics
  internal/provider/extension_model_request.go
  internal/provider/request_configuration_converter_test.go
Due: provider

refactor(provider): polish mutation safety checks
  internal/contentful-management-go/testing/handler_role.go
  internal/contentful-management-go/testing/handler_webhook_definition.go
  internal/contentful-management-go/testing/webhook_definition.go
  internal/contentful-management-go/testing/webhook_definition_test.go
  internal/provider/extension_model_response_test.go
  internal/provider/extension_model_test.go
  internal/provider/request_configuration_converter_test.go
  internal/provider/resource_app_definition_test.go
  internal/provider/resource_extension.go
  internal/provider/resource_extension_modify_plan_test.go
  internal/provider/resource_extension_test.go
  internal/provider/resource_space_enablements_modify_plan_test.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/resource_webhook_test.go
  internal/provider/space_enablements_model_request_test.go
  internal/provider/webhook_headers_request_test.go
Due: contentful-management-go, provider

test(provider): close semantic coverage gaps
  docs/design/terraform-value-semantics.md
  docs/research/extension-source-values.md
  internal/provider/app_definition_model_request_test.go
  internal/provider/resource_app_definition_test.go
  internal/provider/space_enablements_model_request_test.go
Due: provider

fix(space-enablement): preserve independent ownership
  docs/design/terraform-value-semantics.md
  docs/research/space-enablement-values.md
  docs/resources/space_enablements.md
  examples/resources/contentful_space_enablements/resource.tf
  internal/provider/resource_space_enablements.go
  internal/provider/resource_space_enablements_modify_plan_test.go
  internal/provider/resource_space_enablements_schema.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/space_enablements_model_request.go
  internal/provider/space_enablements_model_request_test.go
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/main.tf
Due: provider

fix(content-type): recover pending activation
  docs/resources/content_type.md
  internal/provider/content_type_model.go
  internal/provider/content_type_model_response.go
  internal/provider/content_type_model_response_test.go
  internal/provider/list_resource_content_type_test.go
  internal/provider/mutation_state_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_test.go
  internal/provider/testdata/content_type_model.go
Due: provider

fix(content-type): separate lifecycle update paths
  docs/design/terraform-value-semantics.md
  docs/resources/content_type.md
  internal/contentful-management-go/testing/content_type.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_lifecycle_test.go
  internal/contentful-management-go/testing/handler_content_type_metadata_test.go
  internal/provider/content_type_model_response.go
  internal/provider/mutation_state_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_content_type_lifecycle_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_test.go
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/2/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/3/main.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/3/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceTimeout/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceTimeout/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceTimeout/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceTimeout/2/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUnknownMetadata/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUnknownMetadata/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUnknownMetadata/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUnknownMetadata/2/vars.tf
Due: contentful-management-go, provider

refactor(taxonomy): isolate HTTP test fixtures
  internal/provider/resource_taxonomy_http_test.go
  internal/provider/resource_taxonomy_test.go
Due: provider

fix(contentful-management-go): model observed taxonomy lifecycle behavior
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/taxonomy-concept-scheme/request.yml
  internal/contentful-management-go/openapi/schemas/taxonomy-concept-scheme/taxonomy-concept-scheme.yml
  internal/contentful-management-go/testing/handler_taxonomy.go
  internal/contentful-management-go/testing/handler_taxonomy_http_test.go
  internal/contentful-management-go/testing/handler_taxonomy_test.go
Due: contentful-management-go

fix(taxonomy): preserve explicit empty localized maps
  docs/design/terraform-value-semantics.md
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_taxonomy_patch_oracle_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/taxonomy_mutation.go
  internal/provider/taxonomy_nullable_localized_string.go
  internal/provider/taxonomy_nullable_localized_string_test.go
  internal/provider/testdata/TestAccTaxonomyResourcesCreateUpdate/main.tf
Due: provider

fix(taxonomy): enforce prior-state version locking
  docs/design/terraform-value-semantics.md
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_taxonomy_http_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/resource_taxonomy_version.go
  internal/provider/resource_taxonomy_version_test.go
  internal/provider/taxonomy_model_conversion.go
Due: provider

fix(taxonomy): project collections by lifecycle ownership
  docs/design/terraform-value-semantics.md
  docs/resources/taxonomy_concept.md
  docs/resources/taxonomy_concept_scheme.md
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_taxonomy_conversion_barrier_test.go
  internal/provider/resource_taxonomy_http_test.go
  internal/provider/resource_taxonomy_schema.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/taxonomy_label_map.go
  internal/provider/taxonomy_model_conversion.go
  internal/provider/taxonomy_model_conversion_test.go
  internal/provider/taxonomy_models.go
  internal/provider/taxonomy_mutation.go
  internal/provider/taxonomy_patch.go
Due: provider

fix(taxonomy): validate response identity across lifecycles
  docs/design/terraform-value-semantics.md
  internal/provider/resource_taxonomy_http_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/taxonomy_model_conversion_test.go
  internal/provider/taxonomy_mutation.go
Due: provider

fix(contentful-management-go): model observed taxonomy lifecycle behavior
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/taxonomy-concept-scheme/request.yml
  internal/contentful-management-go/openapi/schemas/taxonomy-concept-scheme/taxonomy-concept-scheme.yml
  internal/contentful-management-go/testing/error_handler.go
  internal/contentful-management-go/testing/handler_taxonomy.go
  internal/contentful-management-go/testing/handler_taxonomy_http_test.go
  internal/contentful-management-go/testing/handler_taxonomy_test.go
Due: contentful-management-go

fix(taxonomy): enforce optimistic version locking
  docs/design/terraform-value-semantics.md
  docs/research/taxonomy-delete-version.md
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_taxonomy_http_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/resource_taxonomy_version.go
  internal/provider/resource_taxonomy_version_test.go
  internal/provider/taxonomy_model_conversion.go
Due: provider

fix(taxonomy): preserve explicit empty localized maps
  docs/design/terraform-value-semantics.md
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_taxonomy_http_test.go
  internal/provider/resource_taxonomy_patch_oracle_test.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/taxonomy_mutation.go
  internal/provider/taxonomy_nullable_localized_string.go
  internal/provider/taxonomy_nullable_localized_string_test.go
  internal/provider/testdata/TestAccTaxonomyResourcesCreateUpdate/main.tf
Due: provider
