Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

refactor(app-key): address final review findings
  internal/contentful-management-go/app_key_jwk.go
  internal/contentful-management-go/app_key_jwk_test.go
  internal/contentful-management-go/testing/app_key_store.go
  internal/contentful-management-go/testing/app_key_store_test.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/contentful-management-go/testing/handler_app_key_direct_test.go
  internal/provider/app_key_model_request.go
  internal/provider/resource_app_key_acceptance_mock_test.go
Due: contentful-management-go, provider

feat(app-key): manage caller-supplied public keys
  README.md
  docs/resources/app_key.md
  examples/resources/contentful_app_key/import-by-identity.tf
  examples/resources/contentful_app_key/import-by-string-id.tf
  examples/resources/contentful_app_key/import.sh
  examples/resources/contentful_app_key/resource.tf
  examples/resources/contentful_app_key/variables.tf
  internal/provider/app_key_model.go
  internal/provider/app_key_model_request.go
  internal/provider/app_key_model_request_test.go
  internal/provider/app_key_model_response.go
  internal/provider/contentful_provider.go
  internal/provider/resource_app_key.go
  internal/provider/resource_app_key_acceptance_live_test.go
  internal/provider/resource_app_key_acceptance_mock_test.go
  internal/provider/resource_app_key_acceptance_support_test.go
  internal/provider/resource_app_key_schema.go
Due: provider

feat(contentful-management-go): add app key API
  internal/contentful-management-go/app_key_jwk.go
  internal/contentful-management-go/app_key_jwk_test.go
  internal/contentful-management-go/app_key_sys.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-key/app-key.yml
  internal/contentful-management-go/openapi/schemas/app-key/collection.yml
  internal/contentful-management-go/openapi/schemas/app-key/data.yml
  internal/contentful-management-go/openapi/schemas/app-key/generated.yml
  internal/contentful-management-go/openapi/schemas/app-key/jwk.yml
  internal/contentful-management-go/openapi/schemas/app-key/request-data.yml
  internal/contentful-management-go/openapi/schemas/app-key/sys.yml
  internal/contentful-management-go/openapi/schemas/links/user-link.yml
  internal/contentful-management-go/openapi/schemas/sys/with-created-by.yml
  internal/contentful-management-go/openapi/schemas/sys/with-updated-by.yml
  internal/contentful-management-go/optdatetime.go
  internal/contentful-management-go/testing/app_key.go
  internal/contentful-management-go/testing/app_key_dsa.go
  internal/contentful-management-go/testing/error.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/contentful-management-go/testing/handler_app_key_direct_test.go
  internal/contentful-management-go/testing/handler_app_key_http_test.go
  internal/contentful-management-go/testing/handler_app_key_support_test.go
  internal/contentful-management-go/testing/server_app_key.go
  internal/contentful-management-go/user_link.go
Due: contentful-management-go

fix(app-key): align encoding and deletion verification
  docs/resources/app_key.md
  internal/contentful-management-go/app_key_jwk.go
  internal/contentful-management-go/app_key_jwk_test.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/provider/app_key_model_request.go
  internal/provider/resource_app_key_acceptance_destroy_test.go
  internal/provider/resource_app_key_acceptance_live_test.go
  internal/provider/resource_app_key_acceptance_mock_test.go
  internal/provider/resource_app_key_schema.go
Due: contentful-management-go, provider

refactor(contentful-management-go): simplify app key mock
  internal/contentful-management-go/testing/app_key.go
  internal/contentful-management-go/testing/app_key_store.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/contentful-management-go/testing/server_app_key.go
Due: contentful-management-go

refactor(contentful-management-go): remove generated app keys
  internal/contentful-management-go/app_key_jwk.go
  internal/contentful-management-go/app_key_jwk_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/app-key/data.yml
  internal/contentful-management-go/openapi/schemas/app-key/generated.yml
  internal/contentful-management-go/openapi/schemas/app-key/jwk.yml
  internal/contentful-management-go/openapi/schemas/app-key/request-data.yml
  internal/contentful-management-go/testing/app_key.go
  internal/contentful-management-go/testing/app_key_dsa.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/contentful-management-go/testing/handler_app_key_direct_test.go
  internal/contentful-management-go/testing/handler_app_key_http_test.go
  internal/contentful-management-go/testing/handler_app_key_support_test.go
  internal/contentful-management-go/testing/server_app_key.go
Due: contentful-management-go

fix(ci): skip live acceptance without secrets
  .github/workflows/test.yml
Due: none

feat(contentful-management-go): list organization teams
  internal/contentful-management-go/integration_tests/team_test.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/team/collection.yml
  internal/contentful-management-go/openapi/schemas/team/list-item-sys.yml
  internal/contentful-management-go/openapi/schemas/team/list-item.yml
  internal/contentful-management-go/testing/handler_team.go
Due: contentful-management-go

feat(provider): add organization teams data source
  docs/data-sources/teams.md
  examples/data-sources/contentful_teams/data-source.tf
  internal/provider/contentful_provider.go
  internal/provider/data_source_teams.go
  internal/provider/data_source_teams_internal_test.go
  internal/provider/data_source_teams_model.go
  internal/provider/data_source_teams_schema.go
  internal/provider/data_source_teams_test.go
  internal/provider/testdata/TestAccTeamsDataSource/main.tf
  internal/provider/testdata/TestAccTeamsDataSource/vars.tf
  internal/provider/testdata/TestAccTeamsDataSourceAPIError/main.tf
  internal/provider/testdata/TestAccTeamsDataSourceAPIError/vars.tf
  internal/provider/testdata/TestAccTeamsDataSourceAssignment/main.tf
  internal/provider/testdata/TestAccTeamsDataSourceAssignment/vars.tf
  internal/provider/testdata/TestAccTeamsDataSourceEmpty/main.tf
  internal/provider/testdata/TestAccTeamsDataSourceEmpty/vars.tf
  internal/provider/testdata/TestAccTeamsDataSourcePagination/main.tf
  internal/provider/testdata/TestAccTeamsDataSourcePagination/vars.tf
  internal/provider/testdata/TestAccTeamsDataSourcePaginationWithoutTotal/main.tf
  internal/provider/testdata/TestAccTeamsDataSourcePaginationWithoutTotal/vars.tf
Due: provider

ref(provider/team): configure a default description
  internal/provider/resource_team_schema.go
  internal/provider/resource_team_test.go
Due: provider

refactor(schema): use framework state plan modifiers
  internal/provider/resource_app_definition_schema.go
  internal/provider/resource_app_installation_schema.go
  internal/provider/resource_app_key_schema.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_delivery_api_key_schema.go
  internal/provider/resource_editor_interface_schema.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_environment_alias_schema.go
  internal/provider/resource_environment_schema.go
  internal/provider/resource_extension_schema.go
  internal/provider/resource_personal_access_token_schema.go
  internal/provider/resource_resource_provider_schema.go
  internal/provider/resource_resource_type_schema.go
  internal/provider/resource_role_schema.go
  internal/provider/resource_space_enablements_schema.go
  internal/provider/resource_tag_schema.go
  internal/provider/resource_taxonomy_schema.go
  internal/provider/resource_team_schema.go
  internal/provider/resource_team_space_membership_schema.go
  internal/provider/resource_webhook_schema.go
  internal/provider/use_state_for_unknown.go
  internal/provider/use_state_for_unknown_test.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_headers_schema.go
Due: provider

fix(schema): validate configurable collection children
  internal/provider/resource_app_definition_schema.go
  internal/provider/resource_app_installation_schema.go
  internal/provider/resource_collection_validation_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_delivery_api_key_schema.go
  internal/provider/resource_editor_interface_schema.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_extension_schema.go
  internal/provider/resource_personal_access_token_schema.go
  internal/provider/resource_role_schema.go
  internal/provider/resource_taxonomy_schema.go
  internal/provider/resource_team_space_membership_schema.go
  internal/provider/resource_webhook_schema.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_headers_schema.go
Due: provider

fix(entry): handle omitted response fields safely
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/server.go
  internal/contentful-management-go/testing/server_options.go
  internal/provider/entry_model_response.go
  internal/provider/entry_model_response_internal_test.go
  internal/provider/list_resource_entry.go
  internal/provider/list_resource_entry_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_test.go
  internal/provider/typed_map.go
  internal/provider/typed_map_test.go
Due: contentful-management-go, provider

fix(provider): make multipart imports transactional
  internal/provider/import_state.go
  internal/provider/import_state_test.go
Due: provider

fix(taxonomy): stop after conversion errors
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_taxonomy_conversion_barrier_test.go
  internal/provider/taxonomy_model_conversion_test.go
Due: provider

refactor(webhook): consolidate response filter decoding
  internal/provider/webhook_filters_response.go
  internal/provider/webhook_filters_response_test.go
Due: provider

fix(environment-status): publish converted state atomically
  internal/provider/data_source_environment_status_ready.go
  internal/provider/data_source_environment_status_ready_test.go
  internal/provider/environment_status_ready_state.go
  internal/provider/environment_status_ready_state_test.go
Due: provider

fix(provider): reject invalid request list elements
  internal/provider/environment_links.go
  internal/provider/environment_links_test.go
  internal/provider/personal_access_token_model_request.go
  internal/provider/personal_access_token_model_request_test.go
  internal/provider/request_string_list.go
  internal/provider/request_string_list_test.go
  internal/provider/team_space_membership_model_request.go
  internal/provider/team_space_membership_model_request_test.go
Due: provider

fix(delivery-api-key): round-trip environment absence
  docs/research/delivery-api-key-environments.md
  internal/provider/environment_links.go
  internal/provider/environment_links_test.go
Due: provider

fix(provider): handle unknown values safely
  docs/research/terraform-null-and-unknown-values.md
  internal/provider/app_definition_model_request.go
  internal/provider/app_installation_model_request.go
  internal/provider/app_installation_model_request_test.go
  internal/provider/content_type_metadata_request.go
  internal/provider/content_type_model_request.go
  internal/provider/content_type_model_request_test.go
  internal/provider/contentful_provider.go
  internal/provider/contentful_provider_test.go
  internal/provider/editor_interface_model_editor_layout_item.go
  internal/provider/editor_interface_model_editor_layout_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group_item.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/entry_model_request.go
  internal/provider/known_values.go
  internal/provider/known_values_test.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
  internal/provider/resource_taxonomy_test.go
  internal/provider/role_model_permissions_request.go
  internal/provider/role_model_permissions_response.go
  internal/provider/role_model_policies_request.go
  internal/provider/role_model_policies_response.go
  internal/provider/role_model_request_test.go
  internal/provider/role_model_response_actions_test.go
  internal/provider/taxonomy_model_conversion.go
  internal/provider/taxonomy_model_conversion_test.go
  internal/provider/taxonomy_models.go
  internal/provider/team_model_request.go
  internal/provider/webhook_filters_request.go
  internal/provider/webhook_filters_request_test.go
  internal/provider/webhook_header_value_request.go
  internal/provider/webhook_headers_request.go
  internal/provider/webhook_headers_request_test.go
  internal/provider/webhook_model_request.go
  internal/provider/webhook_transformation_value_request.go
Due: provider

fix(provider): harden unknown value handling
  docs/research/terraform-null-and-unknown-values.md
  internal/provider/app_installation_model_request.go
  internal/provider/content_type_metadata_request.go
  internal/provider/content_type_metadata_request_test.go
  internal/provider/content_type_model_request.go
  internal/provider/content_type_model_request_test.go
  internal/provider/contentful_provider.go
  internal/provider/contentful_provider_test.go
  internal/provider/data_source_environment_status_ready.go
  internal/provider/delivery_api_key_model_request.go
  internal/provider/editor_interface_model_editor_layout_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_request_test.go
  internal/provider/environment_links.go
  internal/provider/environment_status_ready_state.go
  internal/provider/environment_status_ready_state_test.go
  internal/provider/import_state_test.go
  internal/provider/known_object_collection.go
  internal/provider/known_object_collection_test.go
  internal/provider/known_values.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
  internal/provider/list_result.go
  internal/provider/list_result_test.go
  internal/provider/role_model_permissions_request.go
  internal/provider/role_model_policies_request.go
  internal/provider/role_model_request.go
  internal/provider/role_model_request_test.go
  internal/provider/taxonomy_model_conversion.go
  internal/provider/webhook_filters_request.go
  internal/provider/webhook_headers_request.go
  internal/provider/webhook_headers_request_test.go
  internal/provider/webhook_model_request.go
Due: provider

test(provider): capture remaining value handling regressions
  internal/provider/content_type_model_request_test.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/known_values_test.go
  internal/provider/resource_taxonomy_conversion_barrier_test.go
  internal/provider/taxonomy_model_conversion_test.go
Due: provider

fix(editor-interface): enforce exact layout union selection
  internal/provider/editor_interface_group_request.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_editor_layout_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_field.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group_item.go
Due: provider

refactor(provider): centralize path-aware collection conversion
  internal/provider/app_definition_model_request.go
  internal/provider/app_installation_model_request.go
  internal/provider/app_key_model_request.go
  internal/provider/extension_model_request.go
  internal/provider/known_values.go
  internal/provider/personal_access_token_model_request.go
  internal/provider/role_model_permissions_request.go
  internal/provider/role_model_policies_request.go
  internal/provider/taxonomy_model_conversion.go
  internal/provider/taxonomy_models.go
  internal/provider/team_model_request.go
  internal/provider/webhook_filters_request.go
  internal/provider/webhook_header_value_request.go
  internal/provider/webhook_model_request.go
Due: provider

fix(provider): publish resource state atomically
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_key.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_state.go
  internal/provider/resource_tag.go
  internal/provider/resource_taxonomy_concept.go
  internal/provider/resource_taxonomy_concept_scheme.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_webhook.go
Due: provider

fix(content-type): enforce exact resource union selection
  internal/provider/content_type_metadata_request.go
  internal/provider/content_type_metadata_response.go
  internal/provider/content_type_model_request.go
  internal/provider/known_union.go
  internal/provider/webhook_filters_request.go
Due: provider
