Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

feat(provider): remove hand-rolled panicking must functions
  internal/provider/app_installation_model_request_test.go
  internal/provider/attr_values.go
  internal/provider/content_type_field_items_value.go
  internal/provider/content_type_field_items_value_test.go
  internal/provider/content_type_field_value.go
  internal/provider/content_type_field_value_test.go
  internal/provider/diags_must_test.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/role_model_permissions_response.go
  internal/provider/webhook_header_value.go
  internal/provider/webhook_header_value_test.go
  internal/provider/webhook_model_request_test.go
  internal/provider/webhook_transformation_value.go
  internal/provider/webhook_transformation_value_test.go
Due: provider

feat(provider/webhook): respect identifiers in responses and synthesise a standard resource id attribute
  docs/resources/webhook.md
  internal/provider/webhook_model_response.go
  internal/provider/webhook_resource_model.go
Due: provider

abstract diags appending
  internal/provider/app_installation_model_request.go
  internal/provider/content_type_model_fields.go
  internal/provider/diags_appender.go
Due: provider

feat(provider): introduce app definition datasource
  docs/data-sources/app_definition.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/ogen.yml
  internal/contentful-management-go/openapi.yml
  internal/provider/app_definition_data_source.go
  internal/provider/app_definition_data_source_model.go
  internal/provider/contentful_provider.go
Due: contentful-management-go, provider

style: format yaml files
  codecov.yml
  internal/contentful-management-go/ogen.yml
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(contentful-management-go): support space enablements
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/handle_space_enablements.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/space_enablements.go
  internal/contentful-management-testserver/testserver.go
Due: contentful-management-go, contentful-management-testserver

feat(provider): implement management of space enablements
  docs/resources/space_enablements.md
  examples/resources/contentful_space_enablements/import.sh
  examples/resources/contentful_space_enablements/resource.tf
  internal/contentful-management-testserver/handle_space_enablements.go
  internal/contentful-management-testserver/space_enablements.go
  internal/provider/contentful_provider.go
  internal/provider/space_enablements_model_request.go
  internal/provider/space_enablements_model_response.go
  internal/provider/space_enablements_resource.go
  internal/provider/space_enablements_resource_model.go
  internal/provider/space_enablements_resource_test.go
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/vars.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/vars.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceImport/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceImport/vars.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceImportNotFound/vars.tf
Due: contentful-management-testserver, provider

feat(provider): extract detailed error reasons
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

ref(provider/editor_interface): rename type of editor layout elements
  internal/provider/editor_interface_editor_layout_element_type.go
  internal/provider/editor_interface_editor_layout_element_value.go
  internal/provider/editor_interface_editor_layout_type.go
  internal/provider/editor_interface_editor_layout_value.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/editor_interface_resource_model.go
  internal/provider/model_type_test.go
Due: provider

hack
  docs/resources/editor_interface.md
  go.mod
  go.sum
  internal/provider/editor_interface_editor_layout_element_item_field_type.go
  internal/provider/editor_interface_editor_layout_element_item_field_value.go
  internal/provider/editor_interface_editor_layout_element_item_group_field_type.go
  internal/provider/editor_interface_editor_layout_element_item_group_field_value.go
  internal/provider/editor_interface_editor_layout_element_item_group_type.go
  internal/provider/editor_interface_editor_layout_element_item_group_value.go
  internal/provider/editor_interface_editor_layout_element_item_type.go
  internal/provider/editor_interface_editor_layout_element_item_value.go
  internal/provider/editor_interface_editor_layout_element_value.go
  internal/provider/editor_interface_resource.go
  internal/provider/editor_interface_resource_model.go
Due: provider

hack
  internal/provider/editor_interface_resource.go
  internal/provider/editor_interface_resource_model_v0.go
Due: provider

hack
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_request_test.go
Due: contentful-management-go, provider

hack
  internal/provider/editor_interface_model_editor_layout.go
Due: provider

list of
  internal/provider/content_type_model_fields.go
  internal/provider/content_type_model_request.go
  internal/provider/content_type_resource_model.go
  internal/provider/list_of_value.go
Due: provider

hack
  docs/resources/editor_interface.md
  go.mod
  go.sum
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/editor_interface_editor_layout_element_item_field_type.go
  internal/provider/editor_interface_editor_layout_element_item_field_value.go
  internal/provider/editor_interface_editor_layout_element_item_group_field_type.go
  internal/provider/editor_interface_editor_layout_element_item_group_field_value.go
  internal/provider/editor_interface_editor_layout_element_item_group_type.go
  internal/provider/editor_interface_editor_layout_element_item_group_value.go
  internal/provider/editor_interface_editor_layout_element_item_type.go
  internal/provider/editor_interface_editor_layout_element_item_value.go
  internal/provider/editor_interface_editor_layout_element_value.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/editor_interface_resource.go
  internal/provider/editor_interface_resource_model.go
  internal/provider/editor_interface_resource_model_v0.go
Due: contentful-management-go, provider

ref(provider): replace basetypes with types equivalents
  internal/provider/content_type_field_items_value.go
  internal/provider/content_type_field_value.go
  internal/provider/editor_interface_control_value.go
  internal/provider/editor_interface_editor_layout_value.go
  internal/provider/editor_interface_group_control_value.go
  internal/provider/editor_interface_sidebar_value.go
  internal/provider/role_model_permissions_response.go
  internal/provider/role_model_policies_response.go
  internal/provider/role_policy_value.go
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
  internal/provider/webhook_filter_equals_value.go
  internal/provider/webhook_filter_in_value.go
  internal/provider/webhook_filter_not_value.go
  internal/provider/webhook_filter_regexp_value.go
  internal/provider/webhook_filter_value.go
  internal/provider/webhook_filters_response.go
  internal/provider/webhook_header_type_test.go
  internal/provider/webhook_header_value.go
  internal/provider/webhook_transformation_type_test.go
  internal/provider/webhook_transformation_value.go
  internal/terraform-plugin-framework-reflection/test_invalid_value_test.go
  internal/terraform-plugin-framework-reflection/value_to_object_value.go
Due: provider, terraform-plugin-framework-reflection

feat(provider/personal_access_token): use typed list value for scopes
  internal/provider/personal_access_token_model_request.go
  internal/provider/personal_access_token_model_response.go
  internal/provider/personal_access_token_resource_model.go
  internal/provider/typed_list_string.go
  internal/provider/util/contentful_management.go
Due: provider

feat(provider/content_type): use typed list values
  internal/provider/content_type_field_items_value.go
  internal/provider/content_type_field_items_value_test.go
  internal/provider/content_type_field_value.go
  internal/provider/content_type_field_value_test.go
  internal/provider/content_type_model_fields.go
  internal/provider/content_type_model_request.go
  internal/provider/content_type_model_request_test.go
  internal/provider/content_type_resource_model.go
Due: provider

feat(provider/role): use typed list values
  internal/provider/role_model_policies_request.go
  internal/provider/role_model_policies_response.go
  internal/provider/role_policy_value.go
  internal/provider/role_resource_model.go
Due: provider

feat(provider/webhook): use typed list values
  internal/provider/webhook_filter_in_test.go
  internal/provider/webhook_filter_in_value.go
  internal/provider/webhook_filter_in_value_test.go
  internal/provider/webhook_filter_test.go
  internal/provider/webhook_filters_request.go
  internal/provider/webhook_filters_request_test.go
  internal/provider/webhook_filters_response.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_model_request.go
  internal/provider/webhook_model_request_test.go
  internal/provider/webhook_model_response.go
  internal/provider/webhook_resource_model.go
Due: provider

feat(provider/editor_interface): use typed list values
  internal/provider/editor_interface_editor_layout_value.go
  internal/provider/editor_interface_model_controls.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_group_controls.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/editor_interface_model_sidebar.go
  internal/provider/editor_interface_resource_model.go
Due: provider

feat(provider): implement generic typed list value type
  internal/provider/model_type_test.go
  internal/provider/typed_list.go
  internal/provider/typed_list_type.go
  internal/provider/typed_list_type_test.go
Due: provider

feat(provider): use typed list values for api key environment lists
  internal/provider/delivery_api_key_resource_model.go
  internal/provider/environment_links.go
  internal/provider/environment_links_test.go
  internal/provider/preview_api_key_data_source_model.go
Due: provider
