Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

ref(provider/personal_access_token): recreate entire model on each refresh
  internal/provider/personal_access_token_model_response.go
  internal/provider/personal_access_token_resource.go
Due: provider

ref(provider/editor_interface): recreate entire model on each refresh
  internal/provider/editor_interface_model_request_test.go
  internal/provider/editor_interface_model_response.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/editor_interface_resource.go
Due: provider

ref(provider/app_definition_resource_provider): recreate entire model on each refresh
  internal/provider/app_definition_resource_provider_resource.go
  internal/provider/app_definition_resource_provider_resource_model_response.go
Due: provider

ref(provider/content_type): recreate entire model on each refresh
  internal/provider/content_type_model_response.go
  internal/provider/content_type_resource.go
Due: provider

ref(provider/app_installation): recreate entire model on each refresh
  internal/provider/app_installation_model_response.go
  internal/provider/app_installation_model_response_test.go
  internal/provider/app_installation_resource.go
Due: provider

feat(contentful-management-go): implement content type metadata
  internal/contentful-management-go/oas_cfg_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/content_type.go
Due: contentful-management-go, contentful-management-testserver

feat(provider/content_type): model content type metadata
  docs/resources/content_type.md
  internal/contentful-management-go/oas_cfg_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/content_type_metadata_request.go
  internal/provider/content_type_metadata_response.go
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_type.go
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_value.go
  internal/provider/content_type_metadata_taxonomy_item_concept_type.go
  internal/provider/content_type_metadata_taxonomy_item_concept_value.go
  internal/provider/content_type_metadata_taxonomy_item_type.go
  internal/provider/content_type_metadata_taxonomy_item_value.go
  internal/provider/content_type_metadata_type.go
  internal/provider/content_type_metadata_value.go
  internal/provider/content_type_model_request.go
  internal/provider/content_type_model_response.go
  internal/provider/content_type_resource_model.go
  internal/provider/content_type_resource_test.go
  internal/provider/model_type_test.go
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/2/vars.tf
Due: contentful-management-go, provider

feat(contentful-management-go): implement content type metadata
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/content_type.go
Due: contentful-management-go, contentful-management-testserver

feat(provider/content_type): model content type metadata
  docs/resources/content_type.md
  internal/provider/content_type_metadata_request.go
  internal/provider/content_type_metadata_response.go
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_type.go
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_value.go
  internal/provider/content_type_metadata_taxonomy_item_concept_type.go
  internal/provider/content_type_metadata_taxonomy_item_concept_value.go
  internal/provider/content_type_metadata_taxonomy_item_type.go
  internal/provider/content_type_metadata_taxonomy_item_value.go
  internal/provider/content_type_metadata_type.go
  internal/provider/content_type_metadata_value.go
  internal/provider/content_type_model_request.go
  internal/provider/content_type_model_response.go
  internal/provider/content_type_resource_model.go
  internal/provider/content_type_resource_test.go
  internal/provider/model_type_test.go
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateMetadata/2/vars.tf
Due: provider

chore(github/workflows): introduce scheduled action to update indirect dependencies
  .github/workflows/update-indirect-dependencies.yml
Due: none

chore(github/workflows/update-indirect-dependencies): ignore errors when updating modules
  .github/workflows/update-indirect-dependencies.yml
Due: none

feat(provider): extract detailed validation failure error messages
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

chore(provider): treat mocked acceptance tests as acceptance tests
  internal/provider/contentful_provider_testing_test.go
Due: provider

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

feat(contentful-management-go): allow json or management response content types for error responses
  internal/contentful-management-go/integration_tests/users_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(provider): extract error messages from contentful management error responses
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

feat(provider): extract detailed error reasons
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

fix(provider/personal_access_token): preserve existing known token values
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/provider/personal_access_token_model_response.go
  internal/provider/personal_access_token_resource.go
  internal/provider/personal_access_token_resource_test.go
Due: contentful-management-testserver, provider

fix(contentful-management-testserver): preserve nil values when converting maps and slices
  internal/contentful-management-testserver/convert.go
Due: contentful-management-testserver

ref(provider): introduce use-state-for-unknown plan modifier that preserves known nulls
  internal/provider/app_definition_resource_provider_resource_model.go
  internal/provider/app_definition_resource_type_resource_model.go
  internal/provider/delivery_api_key_resource_model.go
  internal/provider/role_resource_model.go
  internal/provider/space_enablements_resource_model.go
  internal/provider/use_state_for_unknown.go
  internal/provider/webhook_header_value.go
  internal/provider/webhook_headers_schema.go
  internal/provider/webhook_resource_model.go
Due: provider
