Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

fix(provider): avoid misleading app event validation errors
  internal/provider/app_event_subscription_model_request.go
  internal/provider/app_event_subscription_model_response.go
  internal/provider/app_event_subscription_test.go
  internal/provider/resource_app_event_subscription.go
  internal/provider/resource_app_event_subscription_schema.go
  internal/provider/resource_app_event_subscription_test.go
Due: provider

docs(provider): simplify resource descriptions and examples
  docs/resources/app_event_subscription.md
  docs/resources/app_installation.md
  docs/resources/editor_interface.md
  docs/resources/environment_alias.md
  docs/resources/preview_environment.md
  docs/resources/resource_provider.md
  docs/resources/resource_type.md
  examples/resources/contentful_app_event_subscription/functions.tf
  examples/resources/contentful_app_event_subscription/resource.tf
  examples/resources/contentful_editor_interface/resource.tf
  examples/resources/contentful_resource_provider/resource.tf
  examples/resources/contentful_resource_type/resource.tf
  internal/provider/resource_app_event_subscription_schema.go
  internal/provider/resource_app_installation_schema.go
  internal/provider/resource_environment_alias_schema.go
  internal/provider/resource_resource_provider_schema.go
  templates/resources/app_event_subscription.md.tmpl
  templates/resources/preview_environment.md.tmpl
Due: provider

docs(provider): clarify app event subscription contracts and evidence
  docs/design/cma-test-server-conformance.md
  docs/research/app-framework/README.md
  docs/research/app-framework/events.md
  docs/resources/app_event_subscription.md
  templates/resources/app_event_subscription.md.tmpl
Due: none

docs(provider): explain app event subscription replacement hazards
  docs/resources/app_event_subscription.md
  templates/resources/app_event_subscription.md.tmpl
Due: none

test(provider): cover app event validation and cancellation
  internal/provider/app_event_subscription_test.go
  internal/provider/resource_app_event_subscription_test.go
Due: provider

fix(provider): prevent app event subscription mutation retries
  docs/design/contentful-http-retry-policy.md
  docs/resources/app_event_subscription.md
  internal/provider/app_event_subscription_test.go
  internal/provider/resource_app_event_subscription.go
  templates/resources/app_event_subscription.md.tmpl
Due: provider

test(provider): verify app event subscription recovery and replacement
  docs/design/cma-test-server-conformance.md
  internal/provider/resource_app_event_subscription_test.go
Due: provider

chore(lint): check gofumpt separately in CI
  .github/workflows/golangci.yml
  DEVELOPMENT.md
  internal/provider/resource_delete_remote_test.go
Due: provider

feat(contentful-management-go): support locale mutations
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/locale/data.yml
  internal/contentful-management-go/openapi/schemas/locale/sys.yml
  internal/contentful-management-go/testing/handler_locale.go
  internal/contentful-management-go/testing/handler_locale_test.go
  internal/contentful-management-go/testing/locale.go
Due: contentful-management-go

feat(provider): manage locales and expose locale list resource
  docs/design/README.md
  docs/design/locale.md
  docs/list-resources/locale.md
  docs/resources/locale.md
  examples/list-resources/contentful_locale/list-resource.tfquery.hcl
  examples/list-resources/contentful_locale/variables.tf
  examples/resources/contentful_locale/import-by-identity.tf
  examples/resources/contentful_locale/import-by-string-id.tf
  examples/resources/contentful_locale/resource.tf
  examples/resources/contentful_locale/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/list_resource_locale.go
  internal/provider/list_resource_locale_config.go
  internal/provider/list_resource_locale_test.go
  internal/provider/list_resource_request_test.go
  internal/provider/locale_model.go
  internal/provider/locale_model_request.go
  internal/provider/locale_model_request_test.go
  internal/provider/locale_model_response.go
  internal/provider/locale_model_response_test.go
  internal/provider/resource_locale.go
  internal/provider/resource_locale_checkpoint_test.go
  internal/provider/resource_locale_refresh_test.go
  internal/provider/resource_locale_schema.go
  internal/provider/resource_locale_test.go
  internal/provider/resource_private_version_barrier_test.go
  internal/provider/testdata/TestAccLocaleResourceCreateUpdateDelete/main.tf
  internal/provider/testdata/TestAccLocaleResourceCreateUpdateDelete/vars.tf
Due: provider

test(provider): include required translations in entry fixtures
  DEVELOPMENT.md
  internal/provider/resource_entry_test.go
Due: provider

refactor(contentful-management-go): clarify environment alias resolution
  internal/contentful-management-go/testing/handler_discovery.go
  internal/contentful-management-go/testing/locale.go
Due: contentful-management-go

test(provider): cover list pagination termination
  internal/provider/list_resource_pagination_test.go
Due: provider

docs(provider): clarify locale discovery semantics
  docs/data-sources/locale.md
  docs/data-sources/locales.md
  docs/design/configuration-data-sources.md
  docs/guides/existing-configuration.md
  internal/provider/data_source_locale_schema.go
  templates/guides/existing-configuration.md.tmpl
Due: provider

feat(contentful-management-go): support locale mutations
  docs/design/cma-test-server-conformance.md
  docs/research/README.md
  docs/research/locales.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/locale/data.yml
  internal/contentful-management-go/openapi/schemas/locale/sys.yml
  internal/contentful-management-go/testing/handler_discovery.go
  internal/contentful-management-go/testing/handler_environment.go
  internal/contentful-management-go/testing/handler_locale.go
  internal/contentful-management-go/testing/handler_locale_read_test.go
  internal/contentful-management-go/testing/handler_locale_test.go
  internal/contentful-management-go/testing/locale.go
Due: contentful-management-go

feat(provider): manage locales and expose locale list resource
  docs/design/README.md
  docs/design/locale.md
  docs/guides/existing-configuration.md
  docs/guides/resource-discovery.md
  docs/list-resources/locale.md
  docs/resources/locale.md
  examples/list-resources/contentful_locale/list-resource.tfquery.hcl
  examples/list-resources/contentful_locale/variables.tf
  examples/resources/contentful_locale/import-by-identity.tf
  examples/resources/contentful_locale/import-by-string-id.tf
  examples/resources/contentful_locale/resource.tf
  examples/resources/contentful_locale/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/list_resource_fetch_internal_test.go
  internal/provider/list_resource_locale.go
  internal/provider/list_resource_locale_config.go
  internal/provider/list_resource_locale_order_internal_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/list_resource_request_test.go
  internal/provider/locale_model.go
  internal/provider/locale_model_request.go
  internal/provider/locale_model_request_test.go
  internal/provider/locale_model_response.go
  internal/provider/locale_model_response_test.go
  internal/provider/resource_delete_remote_test.go
  internal/provider/resource_locale.go
  internal/provider/resource_locale_checkpoint_test.go
  internal/provider/resource_locale_lifecycle_test.go
  internal/provider/resource_locale_recovery_test.go
  internal/provider/resource_locale_schema.go
  internal/provider/resource_private_version_barrier_test.go
  templates/guides/existing-configuration.md.tmpl
  templates/guides/resource-discovery.md.tmpl
  templates/resources/locale.md.tmpl
Due: provider

test(contentful-management-go): model locale effects on content
  docs/design/cma-test-server-conformance.md
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_locale.go
  internal/contentful-management-go/testing/handler_locale_content_test.go
  internal/contentful-management-go/testing/locale_content.go
  internal/provider/resource_content_type_test.go
Due: contentful-management-go, provider

feat(contentful-management-go): add App Action management API endpoints
  docs/research/app-framework/actions.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-action/app-action.yml
  internal/contentful-management-go/openapi/schemas/app-action/collection.yml
  internal/contentful-management-go/openapi/schemas/app-action/data.yml
  internal/contentful-management-go/openapi/schemas/app-action/sys.yml
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_action.go
  internal/contentful-management-go/testing/handler_app_action_test.go
  internal/contentful-management-go/testing/handler_app_definition.go
Due: contentful-management-go

feat(provider): add App Action resource and data sources
  docs/data-sources/app_action.md
  docs/data-sources/app_actions.md
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  docs/research/app-framework/actions.md
  docs/resources/app_action.md
  examples/data-sources/contentful_app_action/data-source.tf
  examples/data-sources/contentful_app_actions/data-source.tf
  examples/resources/contentful_app_action/import-by-identity.tf
  examples/resources/contentful_app_action/import-by-string-id.tf
  examples/resources/contentful_app_action/import.sh
  examples/resources/contentful_app_action/resource.tf
  internal/provider/app_action_model.go
  internal/provider/app_action_model_request.go
  internal/provider/app_action_model_response.go
  internal/provider/app_action_model_test.go
  internal/provider/contentful_provider.go
  internal/provider/data_source_app_action.go
  internal/provider/data_source_app_action_internal_test.go
  internal/provider/data_source_app_action_schema.go
  internal/provider/data_source_app_actions.go
  internal/provider/resource_app_action.go
  internal/provider/resource_app_action_internal_test.go
  internal/provider/resource_app_action_lifecycle_test.go
  internal/provider/resource_app_action_schema.go
  internal/provider/resource_app_action_test.go
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

feat(provider): add App Action resource and data sources
  DEVELOPMENT.md
  docs/data-sources/app_action.md
  docs/data-sources/app_actions.md
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  docs/research/app-framework/actions.md
  docs/resources/app_action.md
  examples/data-sources/contentful_app_action/data-source.tf
  examples/data-sources/contentful_app_actions/data-source.tf
  examples/resources/contentful_app_action/import-by-identity.tf
  examples/resources/contentful_app_action/import-by-string-id.tf
  examples/resources/contentful_app_action/import.sh
  examples/resources/contentful_app_action/resource.tf
  internal/provider/app_action_model.go
  internal/provider/app_action_model_request.go
  internal/provider/app_action_model_response.go
  internal/provider/app_action_model_test.go
  internal/provider/contentful_provider.go
  internal/provider/data_source_app_action.go
  internal/provider/data_source_app_action_internal_test.go
  internal/provider/data_source_app_action_schema.go
  internal/provider/data_source_app_actions.go
  internal/provider/resource_app_action.go
  internal/provider/resource_app_action_fixture_test.go
  internal/provider/resource_app_action_internal_test.go
  internal/provider/resource_app_action_lifecycle_test.go
  internal/provider/resource_app_action_recovery_test.go
  internal/provider/resource_app_action_schema.go
  internal/provider/resource_app_action_test.go
  internal/provider/testdata/TestAccAppActionResourceLifecycle/main.tf
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

fix(provider): reject malformed validation error details
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

test(provider): consolidate lifecycle and mutation recovery tests
  docs/testing.md
  internal/provider/app_event_subscription_test.go
  internal/provider/data_source_discovery_test.go
  internal/provider/resource_app_event_subscription_test.go
  internal/provider/resource_locale_checkpoint_test.go
  internal/provider/resource_locale_recovery_test.go
  internal/provider/resource_webhook_signing_secret_internal_test.go
  internal/provider/resource_webhook_signing_secret_test.go
Due: provider

feat(provider): add App Action resource and data sources
  DEVELOPMENT.md
  docs/data-sources/app_action.md
  docs/data-sources/app_actions.md
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  docs/resources/app_action.md
  examples/data-sources/contentful_app_action/data-source.tf
  examples/data-sources/contentful_app_actions/data-source.tf
  examples/resources/contentful_app_action/import-by-identity.tf
  examples/resources/contentful_app_action/import-by-string-id.tf
  examples/resources/contentful_app_action/import.sh
  examples/resources/contentful_app_action/resource.tf
  internal/provider/app_action_model.go
  internal/provider/app_action_model_request.go
  internal/provider/app_action_model_response.go
  internal/provider/app_action_model_test.go
  internal/provider/contentful_provider.go
  internal/provider/data_source_app_action.go
  internal/provider/data_source_app_action_internal_test.go
  internal/provider/data_source_app_action_schema.go
  internal/provider/data_source_app_actions.go
  internal/provider/resource_app_action.go
  internal/provider/resource_app_action_faults_test.go
  internal/provider/resource_app_action_fixture_test.go
  internal/provider/resource_app_action_import_test.go
  internal/provider/resource_app_action_internal_test.go
  internal/provider/resource_app_action_lifecycle_test.go
  internal/provider/resource_app_action_process_test.go
  internal/provider/resource_app_action_recovery_test.go
  internal/provider/resource_app_action_schema.go
  internal/provider/resource_app_action_test.go
  internal/provider/testdata/TestAccAppActionResourceLifecycle/main.tf
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider
