Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

ref(provider): simplify identity model creation for multipart ids
  internal/provider/app_definition_model_response.go
  internal/provider/app_installation_model_response.go
  internal/provider/app_signing_secret_model_response.go
  internal/provider/content_type_model_response.go
  internal/provider/delivery_api_key_model_response.go
  internal/provider/editor_interface_model_response.go
  internal/provider/entry_model_response.go
  internal/provider/environment_alias_model_response.go
  internal/provider/environment_model_response.go
  internal/provider/extension_model_response.go
  internal/provider/id_identity_model.go
  internal/provider/resource_provider_model_response.go
  internal/provider/resource_type_model_response.go
  internal/provider/role_model_response.go
  internal/provider/webhook_model_response.go
Due: provider

fix: address golangci-lint findings
  internal/provider/resource_app_definition_schema.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_editor_interface_schema.go
Due: provider

chore(github/workflows): update golangci-lint to v2.6.2
  .github/workflows/golangci.yml
  internal/provider/contentful_provider_test.go
  internal/provider/data_source_app_definition.go
  internal/provider/data_source_marketplace_app_definition.go
  internal/provider/data_source_preview_api_key.go
  internal/provider/private_provider_data.go
  internal/provider/provider_data.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_definition_resource_provider.go
  internal/provider/resource_app_definition_resource_type.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_webhook.go
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
  internal/provider/util/jx.go
  internal/provider/util/jx_test.go
Due: provider

chore(deps): bump go to v1.25.4
  go.mod
Due: none

ref(contentful-management-go): update casing of api key to match golang style
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/handler_delivery_api_key.go
  internal/contentful-management-go/testing/handler_preview_api_key.go
  internal/provider/contentful_provider.go
  internal/provider/data_source_preview_api_key.go
  internal/provider/resource_delivery_api_key.go
Due: contentful-management-go, provider

fix(provider/content_type_counter): make concurrency safe
  internal/provider/content_type_counter.go
  internal/provider/content_type_counter_test.go
Due: provider

feat(contentful-management-go): implement team space membership management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/links/role-link.yml
  internal/contentful-management-go/openapi/schemas/links/team-link.yml
  internal/contentful-management-go/openapi/schemas/sys/with-team.yml
  internal/contentful-management-go/openapi/schemas/team-space-membership/data.yml
  internal/contentful-management-go/openapi/schemas/team-space-membership/sys.yml
  internal/contentful-management-go/openapi/schemas/team-space-membership/team-space-membership.yml
  internal/contentful-management-go/team_link.go
  internal/contentful-management-go/team_space_membership_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_team_space_membership.go
  internal/contentful-management-go/testing/server_team_space_membership.go
  internal/contentful-management-go/testing/team_space_membership.go
Due: contentful-management-go

feat(provider): introduce team space membership resource
  docs/resources/team_space_membership.md
  internal/provider/contentful_provider.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_team_space_membership_schema.go
  internal/provider/resource_team_space_membership_test.go
  internal/provider/team_space_membership_model.go
  internal/provider/team_space_membership_model_request.go
  internal/provider/team_space_membership_model_response.go
  internal/provider/testdata/TestAccTeamSpaceMembershipResource/main.tf
  internal/provider/testdata/TestAccTeamSpaceMembershipResource/vars.tf
  internal/provider/testdata/TestAccTeamSpaceMembershipResourceImport/main.tf
  internal/provider/testdata/TestAccTeamSpaceMembershipResourceImport/vars.tf
Due: provider

feat(contentful-management-go): implement team management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/openapi/schemas/team/data.yml
  internal/contentful-management-go/openapi/schemas/team/sys.yml
  internal/contentful-management-go/openapi/schemas/team/team.yml
  internal/contentful-management-go/team_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_definition.go
  internal/contentful-management-go/testing/handler_team.go
  internal/contentful-management-go/testing/server_team.go
  internal/contentful-management-go/testing/team.go
Due: contentful-management-go

feat(provider): introduce team resource
  docs/resources/team.md
  internal/contentful-management-go/nilstring.go
  internal/contentful-management-go/nilstring_test.go
  internal/provider/contentful_provider.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_team.go
  internal/provider/resource_team_schema.go
  internal/provider/resource_team_test.go
  internal/provider/team_model.go
  internal/provider/team_model_request.go
  internal/provider/team_model_response.go
  internal/provider/testdata/TestAccTeamResource/main.tf
  internal/provider/testdata/TestAccTeamResource/vars.tf
  internal/provider/testdata/TestAccTeamResourceImport/main.tf
  internal/provider/testdata/TestAccTeamResourceImport/vars.tf
Due: contentful-management-go, provider

ref(provider/content_type_counter): clarify member naming
  internal/provider/content_type_counter.go
Due: provider

test(provider): use mocked server for marketplace app definition test
  internal/provider/data_source_marketplace_app_definition_test.go
Due: provider

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
