Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

feat(provider/environment): expose environment status
  docs/resources/environment.md
  internal/contentful-management-go/environment_sys.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/environment/sys.yml
  internal/contentful-management-go/openapi/schemas/links/status-link.yml
  internal/contentful-management-go/openapi/schemas/sys/with-status.yml
  internal/contentful-management-go/status_link.go
  internal/provider/environment_model.go
  internal/provider/environment_model_response.go
  internal/provider/resource_environment_schema.go
  internal/provider/resource_environment_test.go
Due: contentful-management-go, provider

chore(deps): bump go to 1.26
  go.mod
Due: none

chore(github/workflows): bump golangci-lint to v2.9.0
  .github/workflows/golangci.yml
Due: none

ref(contentful-management-go): require environment statuses
  internal/contentful-management-go/environment_sys.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/sys/with-status.yml
  internal/provider/environment_model_response.go
Due: contentful-management-go, provider

feat(provider/environment): introduce a data source for waiting until an environment is ready
  README.md
  docs/data-sources/environment_status_ready.md
  examples/data-sources/contentful_environment_status_ready/data-source.tf
  internal/contentful-management-go/environment_sys.go
  internal/contentful-management-go/testing/environment.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_environment.go
  internal/contentful-management-go/testing/server.go
  internal/contentful-management-go/testing/server_content_type.go
  internal/contentful-management-go/testing/server_editor_interface.go
  internal/contentful-management-go/testing/server_entry.go
  internal/contentful-management-go/testing/server_environment.go
  internal/contentful-management-go/testing/server_space_enablements.go
  internal/contentful-management-go/testing/server_tag.go
  internal/provider/contentful_provider.go
  internal/provider/data_source_environment_status_ready.go
  internal/provider/data_source_environment_status_ready_schema.go
  internal/provider/data_source_environment_status_ready_test.go
  internal/provider/environment_status_ready_model.go
  internal/provider/environment_status_ready_model_response.go
  internal/provider/resource_environment_test.go
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSource/main.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSource/vars.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSourceNotFound/main.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSourceNotFound/vars.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSourcePolling/main.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSourcePolling/vars.tf
Due: contentful-management-go, provider

feat(provider/environment): introduce a data source which can be used to wait for an environment to be ready
  README.md
  docs/data-sources/environment_status_ready.md
  examples/data-sources/contentful_environment_status_ready/data-source.tf
  internal/contentful-management-go/environment_sys.go
  internal/contentful-management-go/testing/environment.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_environment.go
  internal/contentful-management-go/testing/server.go
  internal/contentful-management-go/testing/server_content_type.go
  internal/contentful-management-go/testing/server_editor_interface.go
  internal/contentful-management-go/testing/server_entry.go
  internal/contentful-management-go/testing/server_environment.go
  internal/contentful-management-go/testing/server_space_enablements.go
  internal/contentful-management-go/testing/server_tag.go
  internal/provider/contentful_provider.go
  internal/provider/data_source_environment_status_ready.go
  internal/provider/data_source_environment_status_ready_schema.go
  internal/provider/data_source_environment_status_ready_test.go
  internal/provider/environment_status_ready_model.go
  internal/provider/environment_status_ready_model_response.go
  internal/provider/resource_environment_test.go
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSource/main.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSource/vars.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSourceNotFound/main.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSourceNotFound/vars.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSourcePolling/main.tf
  internal/provider/testdata/TestAccEnvironmentStatusReadyDataSourcePolling/vars.tf
Due: contentful-management-go, provider

test(provider): parallelise acceptance tests when mocked
  internal/provider/contentful_provider_testing_test.go
  internal/provider/data_source_preview_api_key_test.go
  internal/provider/list_resource_content_type_test.go
  internal/provider/list_resource_entry_test.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_delivery_api_key_test.go
  internal/provider/resource_entry_test.go
  internal/provider/resource_environment_alias_test.go
  internal/provider/resource_environment_test.go
  internal/provider/resource_extension_test.go
  internal/provider/resource_personal_access_token_test.go
  internal/provider/resource_webhook_test.go
Due: provider

ref(contentful-management-go): loosen resource-link modelling to not require discrimination
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/content-type/resource-link.yml
  internal/provider/content_type_model_fields.go
  internal/provider/content_type_model_request.go
Due: contentful-management-go, provider

feat(contentful-management-go): add locale management client support
  internal/contentful-management-go/integration_tests/locales_test.go
  internal/contentful-management-go/locale_client.go
  internal/contentful-management-go/locale_sys.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_locale_http.go
  internal/contentful-management-go/testing/locale.go
  internal/contentful-management-go/testing/response.go
  internal/contentful-management-go/testing/server.go
  internal/contentful-management-go/testing/server_locale.go
Due: contentful-management-go

feat(provider): add contentful_locale resource
  README.md
  docs/resources/locale.md
  internal/provider/contentful_provider.go
  internal/provider/locale_model.go
  internal/provider/locale_model_request.go
  internal/provider/locale_model_response.go
  internal/provider/resource_locale.go
  internal/provider/resource_locale_schema.go
  internal/provider/resource_locale_test.go
  internal/provider/testdata/TestAccLocaleResourceCreateUpdate/main.tf
  internal/provider/testdata/TestAccLocaleResourceCreateUpdate/vars.tf
  internal/provider/testdata/TestAccLocaleResourceImport/main.tf
  internal/provider/testdata/TestAccLocaleResourceImport/vars.tf
  internal/provider/testdata/TestAccLocaleResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccLocaleResourceImportNotFound/vars.tf
Due: provider

feat(provider): add contentful_locale data source
  README.md
  docs/data-sources/locale.md
  internal/provider/contentful_provider.go
  internal/provider/data_source_locale.go
  internal/provider/data_source_locale_schema.go
  internal/provider/data_source_locale_test.go
  internal/provider/locale_data_source_model.go
  internal/provider/locale_data_source_model_response.go
  internal/provider/testdata/TestAccLocaleDataSource/main.tf
  internal/provider/testdata/TestAccLocaleDataSource/vars.tf
  internal/provider/testdata/TestAccLocaleDataSourceNotFound/main.tf
  internal/provider/testdata/TestAccLocaleDataSourceNotFound/vars.tf
Due: provider

feat(provider): respect rate limit response headers
  internal/provider/contentful_provider.go
  internal/provider/util/http_retry_contentful.go
  internal/provider/util/http_retry_contentful_test.go
Due: provider

fixup! feat(provider): respect rate limit response headers
  internal/provider/util/http_client_user_agent.go
  internal/provider/util/http_retry_contentful.go
  internal/provider/util/http_retry_contentful_test.go
  internal/provider/webhook_filters_request.go
Due: provider

chore(github/workflows): allow queuing of testacc jobs
  .github/workflows/test.yml
Due: none

feat(contentful-management-go/testing): implement rate limiting
  internal/contentful-management-go/testing/rate_limit.go
  internal/contentful-management-go/testing/rate_limit_test.go
  internal/contentful-management-go/testing/server.go
  internal/contentful-management-go/testing/server_options.go
  internal/contentful-management-go/testing/testclock_test.go
Due: contentful-management-go

feat(contentful-management-go/testing): default to a 5/s rate limit in tests
  internal/contentful-management-go/testing/rate_limit_test.go
  internal/contentful-management-go/testing/server_options.go
Due: contentful-management-go

feat(provider): respect contentful rate limit headers
  internal/provider/contentful_provider.go
  internal/provider/util/retry_backoff.go
  internal/provider/util/retry_backoff_test.go
Due: provider

ref(provider): add timeouts framework
  go.mod
  go.sum
  internal/provider/resource_timeouts.go
Due: provider

feat(provider/environment_status_ready): implement timeouts
  docs/data-sources/environment_status_ready.md
  internal/provider/data_source_environment_status_ready.go
  internal/provider/data_source_environment_status_ready_schema.go
  internal/provider/environment_status_ready_model.go
Due: provider

feat(provider/environment): implement timeouts
  docs/resources/environment.md
  internal/provider/environment_model.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_schema.go
Due: provider

feat(provider/environment_alias): implement timeouts
  docs/resources/environment_alias.md
  internal/provider/environment_alias_model.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_environment_alias_schema.go
Due: provider

feat(provider/app_definition): implement timeouts
  docs/data-sources/app_definition.md
  docs/data-sources/marketplace_app_definition.md
  docs/resources/app_definition.md
  internal/provider/app_definition_base_model.go
  internal/provider/app_definition_model_request.go
  internal/provider/app_definition_model_response.go
  internal/provider/data_source_app_definition.go
  internal/provider/data_source_app_definition_model.go
  internal/provider/data_source_app_definition_schema.go
  internal/provider/data_source_marketplace_app_definition.go
  internal/provider/data_source_marketplace_app_definition_schema.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_definition_model.go
  internal/provider/resource_app_definition_schema.go
Due: provider

feat(provider/editor_interface): implement timeouts
  docs/resources/editor_interface.md
  internal/provider/editor_interface_model.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_editor_interface_schema.go
Due: provider

feat(provider/entry): implement timeouts
  docs/resources/entry.md
  internal/provider/entry_model.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
Due: provider

feat(provider/content_type): implement timeouts
  docs/resources/content_type.md
  internal/provider/content_type_model.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_schema.go
Due: provider
