Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

fix(content-type): recover pending activation
  docs/resources/content_type.md
  internal/provider/content_type_model.go
  internal/provider/content_type_model_response.go
  internal/provider/content_type_model_response_test.go
  internal/provider/list_resource_content_type_test.go
  internal/provider/mutation_state_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_test.go
  internal/provider/testdata/content_type_model.go
Due: provider

fix(content-type): separate lifecycle update paths
  docs/design/terraform-value-semantics.md
  docs/resources/content_type.md
  internal/contentful-management-go/testing/content_type.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_lifecycle_test.go
  internal/contentful-management-go/testing/handler_content_type_metadata_test.go
  internal/provider/content_type_model_response.go
  internal/provider/mutation_state_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_content_type_lifecycle_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_content_type_upgrade_test.go
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/2/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/3/main.tf
  internal/provider/testdata/TestAccContentTypeResourceRemovePublishedField/3/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceTimeout/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceTimeout/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceTimeout/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceTimeout/2/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUnknownMetadata/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUnknownMetadata/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUnknownMetadata/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUnknownMetadata/2/vars.tf
Due: contentful-management-go, provider

fix(content-type): harden activation lifecycle
  docs/design/terraform-value-semantics.md
  docs/resources/content_type.md
  internal/contentful-management-go/testing/editor_interface.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/provider/content_type_model_response_test.go
  internal/provider/list_resource_content_type_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_content_type_lifecycle_test.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_content_type_upgrade_test.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_private_version_barrier_test.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_team.go
  internal/provider/resource_webhook.go
Due: contentful-management-go, provider

fix(contentful-management-go): make test stores zero-value safe
  internal/contentful-management-go/space_environment_map.go
  internal/contentful-management-go/space_environment_map_internal_test.go
  internal/contentful-management-go/space_environment_map_test.go
  internal/contentful-management-go/space_map.go
  internal/contentful-management-go/space_map_internal_test.go
  internal/contentful-management-go/space_map_test.go
  internal/contentful-management-go/testing/app_key_store_internal_test.go
  internal/contentful-management-go/testing/organization_map.go
  internal/contentful-management-go/testing/organization_map_internal_test.go
  internal/contentful-management-go/testing/organization_map_test.go
  internal/provider/content_type_counter_test.go
Due: contentful-management-go, provider

docs(research): record dependency provenance
  docs/research/dependency-provenance.md
Due: none

test(taxonomy): exclude rate-limited recorder attempts
  internal/provider/resource_taxonomy_http_recorder_test.go
  internal/provider/resource_taxonomy_http_test.go
Due: provider

docs(provider): synchronize surface documentation
  .github/workflows/test.yml
  README.md
  docs/resources/tag.md
  examples/resources/contentful_tag/import-by-identity.tf
  examples/resources/contentful_tag/import-by-string-id.tf
  examples/resources/contentful_tag/import.sh
  examples/resources/contentful_tag/resource.tf
  examples/resources/contentful_tag/variables.tf
  internal/provider/provider_documentation_test.go
Due: provider

fix(provider/app-signing-secret): align CMA semantics
  docs/research/app-signing-secret.md
  docs/resources/app_signing_secret.md
  internal/contentful-management-go/app_signing_secret_sys.go
  internal/contentful-management-go/oas_cfg_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/app-signing-secret/data.yml
  internal/contentful-management-go/openapi/schemas/app-signing-secret/request-data.yml
  internal/contentful-management-go/openapi/schemas/app-signing-secret/sys.yml
  internal/contentful-management-go/testing/app_signing_secret.go
  internal/contentful-management-go/testing/handler_app_signing_secret_http_test.go
  internal/provider/app_signing_secret_value_validator_test.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_app_signing_secret_logging_test.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_app_signing_secret_test.go
  internal/provider/testdata/TestAccAppSigningSecretImport/main.tf
  internal/provider/testdata/TestAccAppSigningSecretImport/vars.tf
Due: contentful-management-go, provider

fix(contentful-management): tolerate redaction format changes
  internal/contentful-management-go/integration_tests/app_signing_secret_test.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/app-signing-secret/data.yml
Due: contentful-management-go

fix(contentful-management): omit signing-secret audit metadata
  internal/contentful-management-go/app_signing_secret_sys.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/app-signing-secret/sys.yml
  internal/contentful-management-go/testing/app_signing_secret.go
  internal/contentful-management-go/testing/handler_app_signing_secret_http_test.go
Due: contentful-management-go

fix(teams): align collection pagination contract
  docs/research/cma-test-server-conformance.md
  internal/contentful-management-go/integration_tests/team_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi/schemas/team/collection.yml
  internal/contentful-management-go/testing/handler_team.go
  internal/contentful-management-go/testing/handler_team_conformance_test.go
  internal/provider/data_source_teams.go
  internal/provider/data_source_teams_test.go
  internal/provider/testdata/TestAccTeamsDataSourceRejectsMissingPaginationMetadata/main.tf
  internal/provider/testdata/TestAccTeamsDataSourceRejectsMissingPaginationMetadata/vars.tf
Due: contentful-management-go, provider

test(provider): verify entry list request conformance
  docs/research/cma-test-server-conformance.md
  internal/provider/list_resource_entry_unit_test.go
Due: provider

fix(contentful-management-go): align test server conformance
  docs/research/cma-test-server-conformance.md
  internal/contentful-management-go/client.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi/schemas/content-type/collection.yml
  internal/contentful-management-go/openapi/schemas/entry/collection.yml
  internal/contentful-management-go/testing/api_key.go
  internal/contentful-management-go/testing/error.go
  internal/contentful-management-go/testing/error_test.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_collection_conformance_test.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_lifecycle_test.go
  internal/contentful-management-go/testing/handler_content_type_test.go
  internal/contentful-management-go/testing/handler_delivery_api_key.go
  internal/contentful-management-go/testing/handler_delivery_api_key_conformance_test.go
  internal/contentful-management-go/testing/handler_editor_interface_test.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_entry_lifecycle_test.go
  internal/contentful-management-go/testing/rate_limit_test.go
  internal/contentful-management-go/testing/server.go
  internal/contentful-management-go/testing/server_options.go
  internal/provider/list_resource_entry_unit_test.go
  internal/provider/list_resource_pagination.go
  internal/provider/list_resource_pagination_test.go
  internal/provider/resource_entry_test.go
Due: contentful-management-go, provider

fix(contentful-management-go): refine conformance boundaries
  docs/research/cma-test-server-conformance.md
  internal/contentful-management-go/integration_tests/team_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi/schemas/content-type/collection.yml
  internal/contentful-management-go/openapi/schemas/entry/collection.yml
  internal/contentful-management-go/openapi/schemas/team/collection.yml
  internal/contentful-management-go/testing/api_key.go
  internal/contentful-management-go/testing/error_test.go
  internal/contentful-management-go/testing/handler_collection_conformance_test.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_content_type_lifecycle_test.go
  internal/contentful-management-go/testing/handler_content_type_metadata_test.go
  internal/contentful-management-go/testing/handler_content_type_test.go
  internal/contentful-management-go/testing/handler_delivery_api_key.go
  internal/contentful-management-go/testing/handler_delivery_api_key_conformance_test.go
  internal/contentful-management-go/testing/handler_editor_interface_test.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_entry_lifecycle_test.go
  internal/contentful-management-go/testing/handler_team.go
  internal/contentful-management-go/testing/handler_team_conformance_test.go
  internal/provider/data_source_teams.go
  internal/provider/data_source_teams_test.go
  internal/provider/list_resource_entry_unit_test.go
  internal/provider/list_resource_pagination.go
  internal/provider/list_resource_pagination_test.go
  internal/provider/testdata/TestAccTeamsDataSourcePaginationWithoutTotal/main.tf
  internal/provider/testdata/TestAccTeamsDataSourcePaginationWithoutTotal/vars.tf
Due: contentful-management-go, provider

test(contentful-management-go): strengthen conformance oracles
  docs/research/cma-test-server-conformance.md
  internal/contentful-management-go/testing/handler_delivery_api_key_conformance_test.go
  internal/contentful-management-go/testing/rate_limit_test.go
Due: contentful-management-go

fix(environment-status): stop polling failed environments
  docs/data-sources/environment_status_ready.md
  docs/research/cma-test-server-conformance.md
  internal/provider/data_source_environment_status_ready.go
  internal/provider/data_source_environment_status_ready_schema.go
  internal/provider/data_source_environment_status_ready_test.go
  internal/provider/environment_status_ready_state.go
  internal/provider/environment_status_ready_state_test.go
Due: provider

fix(release): preserve clean artifact provenance
  .gitignore
Due: none

fix(provider): avoid replaying ambiguous mutations
  README.md
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  internal/provider/contentful_http_client.go
  internal/provider/contentful_http_client_internal_test.go
  internal/provider/contentful_provider.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/util/retry_backoff.go
  internal/provider/util/retry_backoff_test.go
Due: provider

fix(entry): harden publication lifecycle
  docs/design/terraform-value-semantics.md
  docs/research/cma-test-server-conformance.md
  docs/research/entry-null-and-omission.md
  docs/research/entry-publication-lifecycle-evidence.md
  docs/research/entry-unpublish-version.md
  docs/resources/entry.md
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/entry_internal_test.go
  internal/contentful-management-go/testing/entry_test.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/handler_entry_lifecycle_test.go
  internal/provider/contentful_provider_testing_test.go
  internal/provider/entry_model.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/entry_model_response_internal_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_fields_test.go
  internal/provider/resource_entry_import_test.go
  internal/provider/resource_entry_lifecycle.go
  internal/provider/resource_entry_lifecycle_internal_test.go
  internal/provider/resource_entry_publication_recovery_test.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_test.go
  internal/provider/resource_entry_test_faults_test.go
  internal/provider/resource_entry_test_fixture_test.go
  internal/provider/resource_entry_test_recorder_test.go
  internal/provider/resource_entry_upgrade_test.go
  templates/resources/entry.md.tmpl
Due: contentful-management-go, provider

build(go): require Go 1.26.6
  .github/workflows/govulncheck.yml
  go.mod
Due: none

fix(space-enablement): align example and CMA fake
  docs/research/cma-test-server-conformance.md
  docs/resources/space_enablements.md
  examples/resources/contentful_space_enablements/resource.tf
  internal/contentful-management-go/testing/handler_space_enablements.go
  internal/contentful-management-go/testing/handler_space_enablements_test.go
  internal/provider/resource_space_enablements_schema.go
  internal/provider/resource_space_enablements_test.go
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccSpaceEnablementsResourceCreateUpdateDelete/2/main.tf
Due: contentful-management-go, provider

docs(provider/app-signing-secret): disclose state persistence
  docs/research/app-signing-secret.md
  docs/resources/app_signing_secret.md
  internal/provider/provider_documentation_test.go
  internal/provider/resource_app_signing_secret_schema.go
Due: provider

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
