Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

refactor(contentful-management-go): keep Role cursor offsets as native integers
  internal/contentful-management-go/testing/handler_role.go
Due: contentful-management-go

fix(provider): preserve Role pagination semantics
  docs/data-sources/roles.md
  docs/design/cma-test-server-conformance.md
  docs/design/configuration-data-sources.md
  docs/research/collections-and-errors.md
  internal/contentful-management-go/testing/handler_role.go
  internal/contentful-management-go/testing/handler_role_pagination_test.go
  internal/provider/data_source_role_response.go
  internal/provider/data_source_role_schema.go
  internal/provider/data_source_roles_pagination_internal_test.go
Due: contentful-management-go, provider

refactor(provider): trim unnecessary Role pagination changes
  docs/data-sources/roles.md
  docs/design/configuration-data-sources.md
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/schemas/role/collection.yml
  internal/provider/data_source_role_response.go
  internal/provider/data_source_role_schema.go
  internal/provider/data_source_roles_pagination_internal_test.go
Due: contentful-management-go, provider

docs(provider): correct Content Type discovery guidance
  docs/guides/resource-discovery.md
  templates/guides/resource-discovery.md.tmpl
Due: none

test(provider): encode Live Preview Variables response fixtures
  internal/provider/resource_live_preview_variables_protocol_test.go
Due: provider

test(provider): simplify Live Preview Variables response fixtures
  internal/provider/resource_live_preview_variables_protocol_test.go
Due: provider

test(provider): encode App Action response fixtures with generated models
  internal/provider/resource_app_action_import_test.go
  internal/provider/resource_app_action_test.go
Due: provider

test(provider): replace App Action JSON assembly with literal requests
  internal/provider/resource_app_action_import_test.go
  internal/provider/resource_app_action_test.go
Due: provider

feat(provider): expose signing secret timestamps
  docs/design/webhook-signing-secret.md
  docs/resources/app_signing_secret.md
  docs/resources/webhook_signing_secret.md
  internal/contentful-management-go/integration_tests/app_signing_secret_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi/schemas/app-signing-secret/sys.yml
  internal/contentful-management-go/openapi/schemas/webhook-signing-secret/sys.yml
  internal/provider/app_signing_secret_model.go
  internal/provider/app_signing_secret_model_response.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_signing_secret_fixture_test.go
  internal/provider/resource_signing_secret_timestamps_test.go
  internal/provider/resource_webhook_signing_secret.go
  internal/provider/resource_webhook_signing_secret_schema.go
  internal/provider/signing_secret_plan.go
  internal/provider/webhook_signing_secret_model.go
  internal/provider/webhook_signing_secret_model_response.go
Due: contentful-management-go, provider

docs(provider): record signing secret API evidence
  docs/research/README.md
  docs/research/app-framework/request-signing.md
  docs/research/signing-secret-versions.md
  docs/research/webhook-signing-secret.md
Due: none

feat(provider): support write-only signing secret values
  docs/design/README.md
  docs/design/signing-secret-planning.md
  docs/design/signing-secret-write-only.md
  docs/design/terraform-value-semantics.md
  docs/design/webhook-signing-secret.md
  docs/guides/secrets-and-state.md
  docs/research/README.md
  docs/resources/app_signing_secret.md
  docs/resources/webhook_signing_secret.md
  examples/resources/contentful_app_signing_secret/write_only.tf
  examples/resources/contentful_webhook_signing_secret/write_only.tf
  go.mod
  internal/provider/app_signing_secret_model.go
  internal/provider/app_signing_secret_model_request.go
  internal/provider/app_signing_secret_model_response.go
  internal/provider/app_signing_secret_value_validator_test.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_app_signing_secret_logging_test.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_mutation_request_conversion_barrier_test.go
  internal/provider/resource_signing_secret_protocol_test.go
  internal/provider/resource_signing_secret_recovery_test.go
  internal/provider/resource_signing_secret_saved_plan_test.go
  internal/provider/resource_signing_secret_timeout_update_test.go
  internal/provider/resource_signing_secret_write_only_test.go
  internal/provider/resource_webhook_signing_secret.go
  internal/provider/resource_webhook_signing_secret_internal_test.go
  internal/provider/resource_webhook_signing_secret_schema.go
  internal/provider/signing_secret_plan.go
  internal/provider/signing_secret_value.go
  internal/provider/testdata/write_only_secret_pr542.json
  internal/provider/webhook_signing_secret_model.go
  internal/provider/webhook_signing_secret_model_request.go
  internal/provider/write_only_secret.go
  internal/provider/write_only_secret_internal_test.go
  templates/guides/secrets-and-state.md
  templates/resources/app_signing_secret.md.tmpl
  templates/resources/webhook_signing_secret.md.tmpl
Due: provider

docs(agents): clarify test and documentation review criteria
  AGENTS.md
  docs/design/provider-documentation.md
  docs/testing.md
Due: none

docs: define JSON test fixture conventions
  docs/testing.md
Due: none

test(contentful-management-go): encode JSON fixtures from Go objects
  internal/contentful-management-go/integration_tests/json_fixture_test.go
  internal/contentful-management-go/integration_tests/live_preview_variables_test.go
  internal/contentful-management-go/integration_tests/preview_environment_test.go
  internal/contentful-management-go/json_fixture_test.go
  internal/contentful-management-go/preview_environment_data_test.go
  internal/contentful-management-go/testing/entry_internal_test.go
  internal/contentful-management-go/testing/entry_test.go
  internal/contentful-management-go/testing/handler_app_action_test.go
  internal/contentful-management-go/testing/handler_content_type_metadata_test.go
  internal/contentful-management-go/testing/handler_content_type_put_test.go
  internal/contentful-management-go/testing/handler_editor_interface_test.go
  internal/contentful-management-go/testing/handler_entry_put_test.go
  internal/contentful-management-go/testing/handler_live_preview_variables_http_test.go
  internal/contentful-management-go/testing/handler_locale_test.go
  internal/contentful-management-go/testing/handler_taxonomy_http_test.go
  internal/contentful-management-go/testing/handler_taxonomy_test.go
  internal/contentful-management-go/testing/handler_webhook_definition_http_test.go
  internal/contentful-management-go/testing/handler_webhook_signing_secret_http_test.go
  internal/contentful-management-go/testing/json_fixture_internal_test.go
  internal/contentful-management-go/testing/json_fixture_test.go
Due: contentful-management-go

test(provider): reject ignored import assertions
  internal/provider/acceptance_validation_test.go
  internal/provider/contentful_provider_acceptance_support_test.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_content_type_upgrade_test.go
  internal/provider/resource_entry_upgrade_test.go
  internal/provider/resource_extension_upgrade_test.go
Due: provider

fix(provider): retry rate-limited mutations consistently
  docs/design/cma-test-server-conformance.md
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  docs/design/webhook-signing-secret.md
  docs/guides/secrets-and-state.md
  docs/resources/app_action.md
  docs/resources/app_event_subscription.md
  docs/resources/content_type.md
  docs/resources/entry.md
  internal/provider/app_event_subscription_test.go
  internal/provider/contentful_http_client.go
  internal/provider/contentful_http_client_internal_test.go
  internal/provider/contentful_http_redirect_internal_test.go
  internal/provider/contentful_provider_acceptance_support_test.go
  internal/provider/resource_app_action.go
  internal/provider/resource_app_action_internal_test.go
  internal/provider/resource_app_action_schema.go
  internal/provider/resource_app_event_subscription.go
  internal/provider/resource_content_type.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_faults_test.go
  internal/provider/resource_entry_publication_test.go
  internal/provider/resource_webhook_signing_secret.go
  internal/provider/resource_webhook_signing_secret_internal_test.go
  templates/guides/secrets-and-state.md
  templates/resources/app_event_subscription.md.tmpl
  templates/resources/content_type.md.tmpl
  templates/resources/entry.md.tmpl
Due: provider

docs(provider): qualify signing secret replacement recovery
  docs/guides/secrets-and-state.md
  docs/resources/app_signing_secret.md
  docs/resources/webhook_signing_secret.md
  templates/guides/secrets-and-state.md
  templates/resources/app_signing_secret.md.tmpl
  templates/resources/webhook_signing_secret.md.tmpl
Due: none

feat(contentful-management-go): model Role cursor pagination
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/role/collection.yml
Due: contentful-management-go

feat(provider): traverse Role cursor collections
  DEVELOPMENT.md
  docs/design/README.md
  docs/design/cma-test-server-conformance.md
  docs/design/configuration-data-sources.md
  docs/research/collections-and-errors.md
  docs/research/configuration-discovery.md
  internal/contentful-management-go/testing/handler_role.go
  internal/contentful-management-go/testing/handler_role_pagination_test.go
  internal/provider/data_source_discovery_internal_test.go
  internal/provider/data_source_role_internal_test.go
  internal/provider/data_source_role_response.go
  internal/provider/data_source_role_test.go
  internal/provider/data_source_roles_live_test.go
  internal/provider/data_source_roles_pagination_internal_test.go
  internal/provider/data_source_roles_pagination_recorder_test.go
  internal/provider/testdata/TestAccRolesDataSourceLivePagination/main.tf
Due: contentful-management-go, provider
