Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

chore(deps-dev): bump golangci-lint to v2.3.0
  .github/workflows/golangci.yml
  .golangci.yml
  internal/contentful-management-testserver/handle_me_test.go
  internal/contentful-management-testserver/handle_organization_app_definitions.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_enablements.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/handle_space_environment_extensions.go
  internal/contentful-management-testserver/handle_space_roles.go
  internal/contentful-management-testserver/handle_space_webhooks.go
  internal/contentful-management-testserver/request.go
  internal/provider/app_definition_model_test.go
  internal/provider/extension_model_test.go
  internal/provider/private_provider_data_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_extension.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_webhook.go
  internal/provider/typed_list.go
  internal/provider/typed_map.go
  internal/provider/util/jx.go
Due: contentful-management-testserver, provider

ref(contentful-management-go): simplify error response handling for both json and contentful management json content types
  internal/contentful-management-go/integration_tests/users_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/response_error.go
  internal/provider/data_source_preview_api_key.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_definition_resource_provider.go
  internal/provider/resource_app_definition_resource_type.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_webhook.go
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: contentful-management-go, provider

ref(contentful-management-go): update package name to contentfulmanagement
  internal/contentful-management-go/access_token_security_source.go
  internal/contentful-management-go/client.go
  internal/contentful-management-go/client_test.go
  internal/contentful-management-go/oas_cfg_gen.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/ogen_http_client.go
  internal/contentful-management-go/optbool.go
  internal/contentful-management-go/optbool_test.go
  internal/contentful-management-go/optnildatetime.go
  internal/contentful-management-go/optnildatetime_test.go
  internal/contentful-management-go/optnilint.go
  internal/contentful-management-go/optnilint_test.go
  internal/contentful-management-go/optnilstring.go
  internal/contentful-management-go/optnilstring_test.go
  internal/contentful-management-go/optnilwebhookdefinitionfilterarray.go
  internal/contentful-management-go/optstring.go
  internal/contentful-management-go/optstring_test.go
  internal/contentful-management-go/response_error.go
Due: contentful-management-go

feat(provider): introduce app definition datasource
  docs/data-sources/app_definition.md
  internal/provider/contentful_provider.go
  internal/provider/data_source_app_definition.go
  internal/provider/data_source_app_definition_schema.go
  internal/provider/data_source_app_definition_test.go
  internal/provider/testdata/TestAccAppDefinitionDataSource/main.tf
  internal/provider/testdata/TestAccAppDefinitionDataSource/vars.tf
Due: provider

feat(provider): introduce marketplace app definition datasource
  docs/data-sources/marketplace_app_definition.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_marketplace_app_definition.go
  internal/contentful-management-go/testing/server_marketplace_app_definition.go
  internal/provider/contentful_provider.go
  internal/provider/data_source_marketplace_app_definition.go
  internal/provider/data_source_marketplace_app_definition_schema.go
  internal/provider/data_source_marketplace_app_definition_test.go
  internal/provider/testdata/TestAccMarketplaceAppDefinitionDataSource/main.tf
  internal/provider/testdata/TestAccMarketplaceAppDefinitionDataSource/vars.tf
Due: contentful-management-go, provider

chore(github/workflows): pin actions to release commits
  .github/workflows/go-dependency-submission.yml
  .github/workflows/gogenerate.yml
  .github/workflows/golangci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-indirect-dependencies.yml
Due: none

ref(contentful-management-go): remove unnecessary special-cased nonexistent resource ids
  internal/contentful-management-go/testing/handler_app_definition.go
  internal/contentful-management-go/testing/handler_app_definition_resource_provider.go
  internal/contentful-management-go/testing/handler_app_definition_resource_type.go
  internal/contentful-management-go/testing/handler_app_installation.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_delivery_api_key.go
  internal/contentful-management-go/testing/handler_editor_interface.go
  internal/contentful-management-go/testing/handler_extension.go
  internal/contentful-management-go/testing/handler_personal_access_token.go
  internal/contentful-management-go/testing/handler_preview_api_key.go
  internal/contentful-management-go/testing/handler_role.go
  internal/contentful-management-go/testing/handler_space_enablements.go
  internal/contentful-management-go/testing/handler_webhook_definition.go
  internal/contentful-management-go/testing/resource_id.go
Due: contentful-management-go

ref(contentful-management-go): restore special-cased nonexistent resource ids
  internal/contentful-management-go/testing/handler_app_definition.go
  internal/contentful-management-go/testing/handler_app_definition_resource_provider.go
  internal/contentful-management-go/testing/handler_app_definition_resource_type.go
  internal/contentful-management-go/testing/handler_app_installation.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_delivery_api_key.go
  internal/contentful-management-go/testing/handler_editor_interface.go
  internal/contentful-management-go/testing/handler_extension.go
  internal/contentful-management-go/testing/handler_personal_access_token.go
  internal/contentful-management-go/testing/handler_preview_api_key.go
  internal/contentful-management-go/testing/handler_role.go
  internal/contentful-management-go/testing/handler_space_enablements.go
  internal/contentful-management-go/testing/handler_webhook_definition.go
  internal/contentful-management-go/testing/resource_id.go
Due: contentful-management-go

feat(provider): introduce app signing secret resource
  docs/resources/app_signing_secret.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/app_signing_secret.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_definition_resource_provider.go
  internal/contentful-management-go/testing/handler_app_signing_secret.go
  internal/contentful-management-go/testing/server_app_signing_secret.go
  internal/provider/app_signing_secret_model.go
  internal/provider/app_signing_secret_model_request.go
  internal/provider/app_signing_secret_model_response.go
  internal/provider/contentful_provider.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_app_signing_secret_test.go
  internal/provider/testdata/TestAccAppSigningSecretImport/main.tf
  internal/provider/testdata/TestAccAppSigningSecretImport/vars.tf
  internal/provider/testdata/TestAccAppSigningSecretResource/main.tf
  internal/provider/testdata/TestAccAppSigningSecretResource/vars.tf
Due: contentful-management-go, provider

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
