Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

feat(provider): consistently use state for unknown resource identifiers
  internal/provider/resource_app_installation_schema.go
  internal/provider/resource_content_type_schema.go
  internal/provider/resource_delivery_api_key_schema.go
  internal/provider/resource_editor_interface_schema.go
  internal/provider/resource_personal_access_token_schema.go
  internal/provider/resource_resource_type_schema.go
  internal/provider/resource_role_schema.go
  internal/provider/resource_space_enablements_schema.go
  internal/provider/resource_webhook_schema.go
Due: provider

feat(provider/role): replace roles if their space id is changed
  internal/provider/resource_role_schema.go
Due: provider

feat(provider/space_enablements): replace space enablements if their space id is changed
  internal/provider/resource_space_enablements_schema.go
Due: provider

res
  internal/provider/resource_entry.go
Due: provider

.
  internal/provider/entry_model_response.go
  internal/provider/resource_entry.go
Due: provider

serde
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
Due: provider

publish
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

res
  internal/provider/resource_content_type.go
  internal/provider/resource_entry.go
Due: provider

feat(contentful-management-go): implement content entry management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_entry.go
Due: contentful-management-go

.
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler_entry.go
Due: contentful-management-go

tests
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/server.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceCreate/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/main.tf
  internal/provider/testdata/TestAccEntryResourceImport/main.tf
  internal/provider/testdata/TestAccEntryResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/main.tf
Due: contentful-management-go, provider

entry-content-type
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

.
  internal/provider/resource_entry.go
Due: provider

feat(contentful-management-go): implement content entry publishing
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler_entry.go
Due: contentful-management-go

.
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/entry_model_request.go
  internal/provider/resource_entry.go
  internal/provider/util/response.go
Due: contentful-management-go, provider

.
  internal/provider/entry_model.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
Due: provider

res
  internal/provider/entry_model.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
Due: provider

.
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
Due: provider

fixup! feat(contentful-management-go): implement content entry publishing
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

.
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/entry_model.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry_schema.go
Due: contentful-management-go, provider

.
  internal/provider/resource_entry.go
  internal/provider/util/response.go
Due: provider

.
  internal/contentful-management-go/testing/handler_entry.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry.go
  internal/provider/util/response.go
Due: contentful-management-go, provider

.
  docs/resources/entry.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-go/testing/handler_entry.go
  internal/provider/entry_model.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceCreateWithID/main.tf
Due: contentful-management-go, provider

.
  internal/provider/entry_model_request.go
  internal/provider/resource_entry.go
Due: provider

.
  docs/resources/entry.md
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceCreate/main.tf
  internal/provider/testdata/TestAccEntryResourceCreateWithID/main.tf
Due: provider

.
  internal/contentful-management-go/testing/entry.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_entry.go
  internal/contentful-management-go/testing/server.go
  internal/contentful-management-go/testing/server_entry.go
  internal/provider/contentful_provider.go
  internal/provider/resource_entry_test.go
Due: contentful-management-go, provider

.
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceUpdate/1/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/main.tf
Due: provider

tests
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/1/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/2/main.tf
Due: provider

.
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
Due: provider

.
  internal/contentful-management-go/testing/handler_entry.go
  internal/provider/entry_model_request.go
  internal/provider/resource_content_type.go
  internal/provider/resource_entry.go
Due: contentful-management-go, provider

.
  internal/provider/resource_entry_schema.go
  internal/provider/use_state_for_unknown.go
Due: provider

.
  internal/provider/resource_entry_test.go
Due: provider
