Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

fix(webhook): report unsupported term properties
  internal/provider/webhook_filters_response.go
  internal/provider/webhook_filters_response_test.go
Due: provider

feat(provider): log CMA response retry decisions
  internal/provider/contentful_http_client.go
  internal/provider/contentful_http_client_internal_test.go
Due: provider

docs(entry): repair destroy evidence links
  docs/research/entry-destroy-lifecycle.md
Due: none

chore(lint): update golangci-lint
  .github/workflows/golangci.yml
  .golangci-lint-version
  .golangci.yml
  AGENTS.md
  DEVELOPMENT.md
  internal/contentful-management-go/testing/error_handler.go
  internal/provider/resource_state_test.go
  internal/provider/typed_object_type.go
  tools/tools.go
Due: contentful-management-go, provider

fix(webhook): preserve basic password state
  docs/design/terraform-value-semantics.md
  docs/research/cma-test-server-conformance.md
  docs/resources/webhook.md
  internal/contentful-management-go/testing/webhook_definition.go
  internal/contentful-management-go/testing/webhook_definition_test.go
  internal/provider/resource_secret_presentation_test.go
  internal/provider/resource_webhook.go
  internal/provider/resource_webhook_basic_password_test.go
  internal/provider/resource_webhook_schema.go
  internal/provider/webhook_basic_password_response_test.go
  internal/provider/webhook_model_response.go
Due: contentful-management-go, provider

fix(entry): reject duplicate metadata links
  docs/design/terraform-value-semantics.md
  docs/research/entry-publication-lifecycle-evidence.md
  docs/resources/entry.md
  internal/provider/resource_entry_fields_test.go
  internal/provider/resource_entry_schema.go
Due: provider

fix(webhook): require at least one topic
  docs/research/cma-test-server-conformance.md
  docs/resources/webhook.md
  examples/resources/contentful_webhook/resource.tf
  internal/contentful-management-go/testing/error_handler.go
  internal/contentful-management-go/testing/handler_webhook_definition.go
  internal/contentful-management-go/testing/handler_webhook_definition_http_test.go
  internal/provider/resource_secret_presentation_test.go
  internal/provider/resource_webhook_basic_password_test.go
  internal/provider/resource_webhook_mutation_reconciliation_test.go
  internal/provider/resource_webhook_schema.go
  internal/provider/resource_webhook_test.go
  internal/provider/testdata/TestAccWebhookResourceImport/main.tf
  internal/provider/testdata/TestAccWebhookResourceImportNotFound/main.tf
Due: contentful-management-go, provider

docs(provider): record mutation value evidence
  docs/design/terraform-value-semantics.md
  docs/research/cma-test-server-conformance.md
  docs/resources/editor_interface.md
  docs/resources/webhook.md
  internal/provider/resource_editor_interface_schema.go
  internal/provider/resource_webhook_schema.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_headers_schema.go
Due: provider

fix(provider): reconcile complete mutation responses
  docs/design/terraform-value-semantics.md
  internal/provider/editor_interface_model_response.go
  internal/provider/mutation_reconciliation_complete_plan_test.go
  internal/provider/mutation_response_equivalence.go
  internal/provider/mutation_state_test.go
  internal/provider/resource_mutation_reconciliation_callers_test.go
  internal/provider/resource_webhook_mutation_reconciliation_test.go
  internal/provider/role_model_response.go
  internal/provider/webhook_basic_password_response_test.go
  internal/provider/webhook_filters_response_test.go
  internal/provider/webhook_model_response.go
Due: provider

build(tools): use Go tool directives
  go.mod
  internal/contentful-management-go/client.go
  main.go
  tools/tools.go
Due: contentful-management-go

refactor(provider): consolidate request string policies
  internal/provider/app_definition_model_request.go
  internal/provider/app_request_string.go
  internal/provider/extension_model_request.go
  internal/provider/taxonomy_model_conversion.go
  internal/provider/taxonomy_model_conversion_test.go
Due: provider

refactor(provider): standardize identifier plan modifiers
  internal/provider/resource_entry_schema.go
  internal/provider/resource_extension_schema.go
  internal/provider/resource_extension_test.go
Due: provider

refactor(provider): simplify terminal lifecycle control flow
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_key.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_tag.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_webhook.go
Due: provider

refactor(provider): simplify infallible response projection
  internal/provider/app_signing_secret_model_response.go
  internal/provider/data_source_preview_api_key.go
  internal/provider/delivery_api_key_model_response.go
  internal/provider/environment_alias_model_response.go
  internal/provider/environment_links.go
  internal/provider/environment_links_test.go
  internal/provider/environment_model_response.go
  internal/provider/environment_status_ready_model_response.go
  internal/provider/environment_status_ready_state.go
  internal/provider/environment_status_ready_state_test.go
  internal/provider/personal_access_token_model_response.go
  internal/provider/preview_api_key_model_response.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_provider_model_response.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_type_model_response.go
  internal/provider/space_enablements_model_response.go
  internal/provider/tag_model_response.go
  internal/provider/team_model_response.go
  internal/provider/team_model_response_test.go
  internal/provider/team_space_membership_model_response.go
Due: provider

fix(provider): clarify import diagnostics
  internal/provider/import_state.go
  internal/provider/import_state_test.go
  internal/provider/resource_app_installation_test.go
  internal/provider/resource_content_type_test.go
  internal/provider/resource_editor_interface_test.go
  internal/provider/resource_entry_test.go
Due: provider

fix(provider): correct app definition text
  docs/resources/app_definition.md
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_definition_schema.go
Due: provider

fix(provider): log delete operations
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_app_signing_secret_logging_test.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_webhook.go
Due: provider

fix(provider): log list operations
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
  internal/provider/list_resource_entry_unit_test.go
Due: provider

fix(release): restore published release trigger
  .github/workflows/release.yml
  .goreleaser.yml
  docs/releasing.md
Due: none

fix(provider): report cancelled environment readiness waits
  internal/provider/data_source_environment_status_ready.go
  internal/provider/data_source_environment_status_ready_internal_test.go
Due: provider

ci(generate): make generation reproducible
  .github/workflows/gogenerate.yml
  DEVELOPMENT.md
  main.go
Due: none

docs(provider): explain environment readiness timeouts
  docs/data-sources/environment_status_ready.md
  docs/guides/operation-timeouts.md
  docs/resources/environment.md
  examples/data-sources/contentful_environment_status_ready/data-source.tf
  examples/resources/contentful_environment/resource.tf
  internal/provider/data_source_environment_status_ready_schema.go
  internal/provider/resource_environment_schema.go
  templates/guides/operation-timeouts.md
  templates/resources/environment.md.tmpl
Due: provider

test(personal-access-token): reproduce timeout update failure
  internal/provider/resource_personal_access_token_timeout_test.go
Due: provider
