Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

ref(provider): centralize resource lifecycle state
  internal/provider/contentful_resource_read.go
  internal/provider/contentful_resource_version.go
  internal/provider/private_provider_data_test.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_webhook.go
Due: provider

fix(provider): improve configuration diagnostics
  docs/index.md
  internal/provider/contentful_provider.go
  internal/provider/contentful_provider_test.go
Due: provider

docs(development): document development workflow
  DEVELOPMENT.md
  README.md
Due: none

ref(provider): centralize missing-resource reads
  internal/provider/contentful_resource_read.go
  internal/provider/resource_app_definition.go
  internal/provider/resource_app_installation.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_personal_access_token.go
  internal/provider/resource_resource_provider.go
  internal/provider/resource_resource_type.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_team.go
  internal/provider/resource_team_space_membership.go
  internal/provider/resource_webhook.go
Due: provider

ref(provider): centralize resource version state
  internal/provider/contentful_resource_version.go
  internal/provider/private_provider_data_test.go
  internal/provider/resource_content_type.go
  internal/provider/resource_delivery_api_key.go
  internal/provider/resource_editor_interface.go
  internal/provider/resource_entry.go
  internal/provider/resource_environment.go
  internal/provider/resource_environment_alias.go
  internal/provider/resource_extension.go
  internal/provider/resource_role.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_tag.go
  internal/provider/resource_team.go
  internal/provider/resource_webhook.go
Due: provider

fixup! fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/resource_locale_test.go
Due: provider

feat(contentful-management-go): implement locales
  internal/contentful-management-go/locale_sys.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/locale/collection.yml
  internal/contentful-management-go/openapi/schemas/locale/data.yml
  internal/contentful-management-go/openapi/schemas/locale/locale.yml
  internal/contentful-management-go/openapi/schemas/locale/sys.yml
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_content_type.go
  internal/contentful-management-go/testing/handler_locale.go
  internal/contentful-management-go/testing/locale.go
  internal/contentful-management-go/testing/server_locale.go
Due: contentful-management-go

fixup! fixup! fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/resource_locale_test.go
Due: provider

feat(provider): implement locale resources
  docs/data-sources/locale.md
  docs/list-resources/locale.md
  docs/resources/locale.md
  examples/data-sources/contentful_locale/data-source.tf
  examples/data-sources/contentful_locale/variables.tf
  examples/list-resources/contentful_locale/list-resource.tfquery.hcl
  examples/list-resources/contentful_locale/variables.tf
  examples/resources/contentful_locale/import-by-identity.tf
  examples/resources/contentful_locale/import-by-string-id.tf
  examples/resources/contentful_locale/resource.tf
  examples/resources/contentful_locale/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/data_source_locale.go
  internal/provider/data_source_locale_model.go
  internal/provider/data_source_locale_schema.go
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_locale.go
  internal/provider/list_resource_locale_config.go
  internal/provider/list_resource_locale_test.go
  internal/provider/locale_model.go
  internal/provider/locale_model_request.go
  internal/provider/locale_model_response.go
  internal/provider/resource_locale.go
  internal/provider/resource_locale_schema.go
  internal/provider/resource_locale_test.go
  internal/provider/testdata/TestAccLocaleDataSource/main.tf
  internal/provider/testdata/TestAccLocaleDataSource/vars.tf
  internal/provider/testdata/TestAccLocaleDataSourceNotFound/main.tf
  internal/provider/testdata/TestAccLocaleDataSourceNotFound/vars.tf
  internal/provider/testdata/TestAccLocaleResource/main.tf
  internal/provider/testdata/TestAccLocaleResource/vars.tf
  internal/provider/testdata/TestAccLocaleResourceImport/main.tf
  internal/provider/testdata/TestAccLocaleResourceImport/vars.tf
Due: provider

fixup! feat(provider): implement locale resources
  internal/provider/data_source_locale_test.go
  internal/provider/list_resource_locale_test.go
  internal/provider/locale_model_response.go
Due: provider

fixup! feat(provider/entry): encode localised entry fields in schema
  internal/provider/entry_model_fields_test.go
Due: provider

feat(cmd/terraform-provider-contentful-migrate): add config migration tool
  cmd/terraform-provider-contentful-migrate/main.go
  go.mod
  internal/migrate/entry_fields.go
  internal/migrate/entry_fields_test.go
  internal/migrate/migrate.go
Due: none

fixup! fix(internal/provider): allow computed null entry fields
  docs/resources/entry.md
Due: none

test(internal/provider): make entry acceptance JSON assertion order-independent
  internal/provider/resource_entry_test.go
Due: provider

fix(internal/provider): preserve raw null entry field values
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry_state_upgrade_test.go
Due: provider

fix(internal/provider): allow nullable entry fields state
  internal/provider/resource_entry_schema.go
Due: provider

fix(internal/provider): allow computed null entry fields
  internal/provider/resource_entry_schema.go
Due: provider

fixup! feat(provider/entry): encode localised entry fields in schema
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry_state_upgrade.go
  internal/provider/resource_entry_state_upgrade_test.go
  internal/provider/resource_entry_test.go
Due: provider

feat(provider/entry): encode localised entry fields in schema
  docs/resources/entry.md
  examples/resources/contentful_entry/resource.tf
  internal/provider/entry_model.go
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_request.go
  internal/provider/entry_model_response.go
  internal/provider/list_resource_entry_test.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_schema.go
  internal/provider/resource_entry_state_upgrade.go
  internal/provider/resource_entry_state_upgrade_test.go
  internal/provider/resource_entry_test.go
  internal/provider/testdata/TestAccEntryResourceCreate/main.tf
  internal/provider/testdata/TestAccEntryResourceCreateWithID/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/3/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/4/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/5/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/6/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/7/main.tf
  internal/provider/testdata/TestAccEntryResourceDeleted/8/main.tf
  internal/provider/testdata/TestAccEntryResourceImport/main.tf
  internal/provider/testdata/TestAccEntryResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccEntryResourceImportPropertyOrderDiff/main.tf
  internal/provider/testdata/TestAccEntryResourceImportWhitespaceDiff/main.tf
  internal/provider/testdata/TestAccEntryResourceMetadataConcepts/main.tf
  internal/provider/testdata/TestAccEntryResourceMetadataTags/main.tf
  internal/provider/testdata/TestAccEntryResourceMissingFields/main.tf
  internal/provider/testdata/TestAccEntryResourceUpdate/main.tf
  internal/provider/testdata/entry_model.go
Due: provider

fixup! fixup! feat(provider/entry): encode localised entry fields in schema
  internal/provider/entry_model_fields_test.go
  internal/provider/entry_model_response.go
  internal/provider/resource_entry.go
  internal/provider/resource_entry_fields_merge_test.go
  internal/provider/resource_entry_state_upgrade.go
  internal/provider/resource_entry_state_upgrade_test.go
Due: provider

ci(golangci): update lint binary
  .github/workflows/golangci.yml
Due: none

support(provider): write-only secret arguments
  docs/resources/app_signing_secret.md
  docs/resources/webhook.md
  docs/write-only-and-ephemeral-secrets.md
  internal/provider/app_signing_secret_model.go
  internal/provider/app_signing_secret_model_request.go
  internal/provider/app_signing_secret_model_response.go
  internal/provider/resource_app_signing_secret.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_webhook.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_header_value.go
  internal/provider/webhook_header_value_request.go
  internal/provider/webhook_header_value_response.go
  internal/provider/webhook_header_value_test.go
  internal/provider/webhook_headers_schema.go
  internal/provider/webhook_model_request.go
  internal/provider/webhook_model_request_test.go
  internal/provider/write_only_resource_models_test.go
  internal/provider/write_only_secret.go
  internal/provider/write_only_secret_test.go
Due: provider

fix(provider): preserve absent webhook headers
  internal/provider/resource_webhook.go
  internal/provider/webhook_headers_response.go
  internal/provider/webhook_headers_response_test.go
  internal/provider/webhook_model_response.go
Due: provider

feat(contentful-management-go): support application/json team responses
  internal/contentful-management-go/integration_tests/team_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/team_response.go
  internal/contentful-management-go/team_response_test.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_team.go
  internal/contentful-management-go/testing/response_content_type.go
  internal/contentful-management-go/testing/server_team.go
  internal/provider/resource_team.go
  internal/provider/resource_team_test.go
  internal/provider/team_model_response_test.go
Due: contentful-management-go, provider

refactor(contentful-management): normalize response content types
  internal/contentful-management-go/integration_tests/client_test.go
  internal/contentful-management-go/integration_tests/team_test.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/ogen.yml
  internal/contentful-management-go/ogen_http_client.go
  internal/contentful-management-go/ogen_http_client_test.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/response_error.go
  internal/contentful-management-go/team_response.go
  internal/contentful-management-go/team_response_test.go
  internal/contentful-management-go/testing/error.go
  internal/contentful-management-go/testing/error_test.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_me_test.go
  internal/contentful-management-go/testing/handler_space_enablements.go
  internal/contentful-management-go/testing/handler_team.go
  internal/contentful-management-go/testing/response_content_type.go
  internal/contentful-management-go/testing/server_team.go
  internal/provider/contentful_provider.go
  internal/provider/list_resource_pagination_test.go
  internal/provider/resource_space_enablements.go
  internal/provider/resource_team.go
  internal/provider/resource_team_test.go
  internal/provider/util/contentful_management_test.go
  internal/provider/util/http_client_user_agent.go
Due: contentful-management-go, provider

test(provider): improve test coverage
  internal/provider/editor_interface_layout_response_test.go
  internal/provider/import_state_test.go
  internal/provider/resource_team_space_membership_test.go
  internal/provider/role_model_response_actions_test.go
  internal/provider/team_space_membership_model_request_test.go
  internal/provider/typed_framework_test.go
  internal/provider/typed_list_type_test.go
  internal/provider/typed_map_type_test.go
  internal/provider/typed_object_type_test.go
  internal/provider/use_state_for_unknown_test.go
Due: provider

ref(provider/team): configure a default description
  internal/provider/resource_team_schema.go
  internal/provider/resource_team_test.go
Due: provider

docs(agents): remove golangci-lint cache note
  AGENTS.md
Due: none

feat(app-key): add management API support
  internal/contentful-management-go/app_key_sys.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/app-key/app-key.yml
  internal/contentful-management-go/openapi/schemas/app-key/collection.yml
  internal/contentful-management-go/openapi/schemas/app-key/data.yml
  internal/contentful-management-go/openapi/schemas/app-key/generated.yml
  internal/contentful-management-go/openapi/schemas/app-key/jwk.yml
  internal/contentful-management-go/openapi/schemas/app-key/request-data.yml
  internal/contentful-management-go/openapi/schemas/app-key/sys.yml
  internal/contentful-management-go/optdatetime.go
  internal/contentful-management-go/testing/app_key.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_app_key.go
  internal/contentful-management-go/testing/server_app_key.go
Due: contentful-management-go

feat(app-key): add Terraform resource
  internal/provider/app_key_jwk_plan_modifier.go
  internal/provider/app_key_model.go
  internal/provider/app_key_model_request.go
  internal/provider/app_key_model_response.go
  internal/provider/contentful_provider.go
  internal/provider/resource_app_key.go
  internal/provider/resource_app_key_schema.go
Due: provider
