Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

feat(provider/editor_interface): use typed list values
  internal/provider/editor_interface_editor_layout_value.go
  internal/provider/editor_interface_model_controls.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_group_controls.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/editor_interface_model_sidebar.go
  internal/provider/editor_interface_resource_model.go
Due: provider

feat(provider/personal_access_token): use typed list value for scopes
  internal/provider/personal_access_token_model_request.go
  internal/provider/personal_access_token_model_response.go
  internal/provider/personal_access_token_resource_model.go
  internal/provider/typed_list_string.go
  internal/provider/util/contentful_management.go
Due: provider

feat(provider/webhook): use typed list values
  internal/provider/webhook_filter_in_test.go
  internal/provider/webhook_filter_in_value.go
  internal/provider/webhook_filter_in_value_test.go
  internal/provider/webhook_filter_test.go
  internal/provider/webhook_filters_request.go
  internal/provider/webhook_filters_request_test.go
  internal/provider/webhook_filters_response.go
  internal/provider/webhook_filters_schema.go
  internal/provider/webhook_model_request.go
  internal/provider/webhook_model_request_test.go
  internal/provider/webhook_model_response.go
  internal/provider/webhook_resource_model.go
Due: provider

feat(provider): implement generic typed list value type
  internal/provider/model_type_test.go
  internal/provider/typed_list.go
  internal/provider/typed_list_type.go
  internal/provider/typed_list_type_test.go
Due: provider

feat(provider): implement generic typed map value type
  internal/provider/model_type_test.go
  internal/provider/typed_map.go
  internal/provider/typed_map_type.go
Due: provider

feat(provider/role): use typed map values
  internal/provider/role_model_permissions_request.go
  internal/provider/role_model_permissions_response.go
  internal/provider/role_resource_model.go
Due: provider

feat(provider/webhook): use typed map values
  internal/provider/webhook_headers_request.go
  internal/provider/webhook_headers_response.go
  internal/provider/webhook_headers_schema.go
  internal/provider/webhook_model_request_test.go
  internal/provider/webhook_resource_model.go
Due: provider

feat(provider): implement generic typed map value type
  .golangci.yml
  internal/provider/model_type_test.go
  internal/provider/typed_map.go
  internal/provider/typed_map_test.go
  internal/provider/typed_map_type.go
Due: provider

fix(provider/typedlist): correctly handle conversion of null and unknown list values
  internal/provider/typed_list_type.go
Due: provider

chore(deps): bump indirect dependencies
  go.mod
  go.sum
Due: none

test(provider): test to-object-value, value-from-object roundtrips
  internal/provider/model_type_test.go
Due: provider

feat(provider/editor_interface): model editor layout structure
  docs/resources/editor_interface.md
  go.mod
  go.sum
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/editor_interface.go
  internal/provider/editor_interface_editor_layout_item_group_item_field_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_field_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_item_field_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_item_field_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_item_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_item_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_group_value.go
  internal/provider/editor_interface_editor_layout_item_group_item_type.go
  internal/provider/editor_interface_editor_layout_item_group_item_value.go
  internal/provider/editor_interface_editor_layout_item_group_type.go
  internal/provider/editor_interface_editor_layout_item_group_value.go
  internal/provider/editor_interface_editor_layout_item_type.go
  internal/provider/editor_interface_editor_layout_item_value.go
  internal/provider/editor_interface_editor_layout_type.go
  internal/provider/editor_interface_editor_layout_value.go
  internal/provider/editor_interface_model_editor_layout.go
  internal/provider/editor_interface_model_editor_layout_item.go
  internal/provider/editor_interface_model_editor_layout_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_field.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group.go
  internal/provider/editor_interface_model_editor_layout_item_group_item_group_item.go
  internal/provider/editor_interface_model_request.go
  internal/provider/editor_interface_model_request_test.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/editor_interface_resource_model.go
  internal/provider/model_type_test.go
  internal/provider/testdata/TestAccEditorInterfaceResourceUpdate/6/main.tf
Due: contentful-management-go, contentful-management-testserver, provider

chore(github/workflows/test): test with terraform 1.11
  .github/workflows/test.yml
Due: none

style(provider/content_type_counter): reorder unexported function after exported functions
  internal/provider/content_type_counter.go
Due: provider

chore(github/workflows/golangci): enable golangci-lint-action cache
  .github/workflows/golangci.yml
Due: none

chore(github/workflows/golangci): bump golangci-lint to v2.1.5
  .github/workflows/golangci.yml
Due: none

feat(provider): extract detailed error reasons
  internal/provider/util/contentful_management.go
  internal/provider/util/contentful_management_test.go
Due: provider

feat(contentful-management-go): support allowed_resources on content type fields
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(provider/content_type): support cross-space and external resource links
  .golangci.yml
  docs/resources/content_type.md
  internal/contentful-management-testserver/content_type.go
  internal/provider/content_type_field_allowed_resource_item_contentful_entry_type.go
  internal/provider/content_type_field_allowed_resource_item_contentful_entry_value.go
  internal/provider/content_type_field_allowed_resource_item_external_type.go
  internal/provider/content_type_field_allowed_resource_item_external_value.go
  internal/provider/content_type_field_allowed_resource_item_type.go
  internal/provider/content_type_field_allowed_resource_item_value.go
  internal/provider/content_type_field_value.go
  internal/provider/content_type_field_value_test.go
  internal/provider/content_type_model_fields.go
  internal/provider/content_type_model_request.go
  internal/provider/content_type_resource_test.go
  internal/provider/model_type_test.go
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceLinks/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceLinks/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceLinks/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceLinks/2/vars.tf
Due: contentful-management-testserver, provider

feat(provider): manage app resource provider definitions
  docs/resources/app_definition_resource_provider.md
  examples/resources/contentful_app_definition_resource_provider/import.sh
  examples/resources/contentful_app_definition_resource_provider/resource.tf
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/app_definition_resource_provider.go
  internal/contentful-management-testserver/handle_organization_app_definitions.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/organization_map.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/app_definition_resource_provider_resource.go
  internal/provider/app_definition_resource_provider_resource_model.go
  internal/provider/app_definition_resource_provider_resource_model_request.go
  internal/provider/app_definition_resource_provider_resource_model_response.go
  internal/provider/app_definition_resource_provider_resource_test.go
  internal/provider/contentful_provider.go
  internal/provider/preview_api_key_data_source.go
  internal/provider/testdata/TestAccAppDefinitionResourceProviderImport/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderImport/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderResource/1/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderResource/1/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderResource/2/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceProviderResource/2/vars.tf
  internal/provider/webhook_resource.go
Due: contentful-management-go, contentful-management-testserver, provider

feat(provider): manage app resource type definitions
  docs/resources/app_definition_resource_type.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/app_definition_resource_type.go
  internal/contentful-management-testserver/handle_organization_app_definitions.go
  internal/contentful-management-testserver/testserver.go
  internal/provider/app_definition_resource_type_resource.go
  internal/provider/app_definition_resource_type_resource_model.go
  internal/provider/app_definition_resource_type_resource_model_request.go
  internal/provider/app_definition_resource_type_resource_model_response.go
  internal/provider/app_definition_resource_type_resource_test.go
  internal/provider/contentful_provider.go
  internal/provider/testdata/TestAccAppDefinitionResourceTypeImport/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeImport/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeResource/1/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeResource/1/vars.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeResource/2/main.tf
  internal/provider/testdata/TestAccAppDefinitionResourceTypeResource/2/vars.tf
Due: contentful-management-go, contentful-management-testserver, provider

chore(provider/role): simplify types
  internal/provider/model_type_test.go
  internal/provider/role_model_permissions_request.go
  internal/provider/role_model_permissions_response.go
  internal/provider/role_model_policies_request.go
  internal/provider/role_model_policies_response.go
  internal/provider/role_policy_type.go
  internal/provider/role_policy_value.go
  internal/provider/role_policy_value_test.go
  internal/provider/role_resource_model.go
Due: provider

ref(contentful-management-go): use shared parameter definitions
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

ref: simplify 2xx response decoding
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/app_installation_resource.go
  internal/provider/content_type_resource.go
  internal/provider/delivery_api_key_resource.go
  internal/provider/editor_interface_resource.go
  internal/provider/personal_access_token_resource.go
  internal/provider/role_resource.go
  internal/provider/space_enablements_resource.go
  internal/provider/webhook_resource.go
Due: contentful-management-go, provider
