Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, provider

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

style(provider/app_installation): align variable naming with fields type
  internal/provider/app_installation_model.go
Due: provider

fix(contentful-management-go): correct nullability of content_type.description
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/content_type_model.go
Due: contentful-management-go, provider

feat(contentful-management-go): handle content type links in editor interface resource responses
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(contentful-management-go): handle app definition links in app installation resource responses
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

ref(contentful-management-go): simplify base-sys-with-space-environment
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(provider): accept server url and access token as provider options
  internal/provider/contentful_provider.go
Due: provider

feat(provider): introduce mockability of resource tests
  internal/provider/app_installation_resource_test.go
  internal/provider/content_type_resource_test.go
  internal/provider/contentful_provider_testing_test.go
  internal/provider/delivery_api_key_resource_test.go
  internal/provider/editor_interface_resource_test.go
  internal/provider/personal_access_token_resource_test.go
  internal/provider/preview_api_key_data_source_test.go
  internal/provider/role_resource_test.go
  internal/provider/webhook_resource_test.go
Due: provider

feat(contentful-management-go): implement a test server
  .golangci.yml
  codecov.yml
  internal/contentful-management-testserver/api_key.go
  internal/contentful-management-testserver/app_installation.go
  internal/contentful-management-testserver/content_type.go
  internal/contentful-management-testserver/convert.go
  internal/contentful-management-testserver/editor_interface.go
  internal/contentful-management-testserver/error_bad_request.go
  internal/contentful-management-testserver/error_handler.go
  internal/contentful-management-testserver/error_not_found.go
  internal/contentful-management-testserver/error_response.go
  internal/contentful-management-testserver/handle_me.go
  internal/contentful-management-testserver/handle_personal_access_tokens.go
  internal/contentful-management-testserver/handle_space_api_keys.go
  internal/contentful-management-testserver/handle_space_environment_app_installations.go
  internal/contentful-management-testserver/handle_space_environment_content_types.go
  internal/contentful-management-testserver/handle_space_preview_api_keys.go
  internal/contentful-management-testserver/handle_space_roles.go
  internal/contentful-management-testserver/handle_space_webhooks.go
  internal/contentful-management-testserver/personal_access_token.go
  internal/contentful-management-testserver/pointer.go
  internal/contentful-management-testserver/preview_api_key.go
  internal/contentful-management-testserver/request.go
  internal/contentful-management-testserver/resource_id.go
  internal/contentful-management-testserver/response.go
  internal/contentful-management-testserver/role.go
  internal/contentful-management-testserver/space_environment_map.go
  internal/contentful-management-testserver/space_map.go
  internal/contentful-management-testserver/testserver.go
  internal/contentful-management-testserver/webhook_definition.go
Due: none

test(provider): implement mocked resource tests
  internal/provider/app_installation_resource_test.go
  internal/provider/content_type_resource_test.go
  internal/provider/delivery_api_key_resource_test.go
  internal/provider/editor_interface_resource_test.go
  internal/provider/personal_access_token_resource_test.go
  internal/provider/preview_api_key_data_source_test.go
  internal/provider/role_resource_test.go
  internal/provider/testdata/TestAccRoleResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccRoleResourceCreateUpdateDelete/1/vars.tf
  internal/provider/testdata/TestAccRoleResourceCreateUpdateDelete/2/main.tf
  internal/provider/testdata/TestAccRoleResourceCreateUpdateDelete/2/vars.tf
  internal/provider/webhook_resource_test.go
Due: provider

chore(github/workflows): run mocked resource tests
  .github/workflows/test.yml
Due: none

test(provider/role): test deleting a deleted resource
  internal/contentful-management-testserver/handle_space_roles.go
  internal/provider/role_resource_test.go
  internal/provider/testdata/TestAccRoleResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/1/vars.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/2/vars.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/3/main.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/3/vars.tf
Due: provider

test(provider): implement mocked resource tests
  internal/provider/app_installation_resource_test.go
  internal/provider/content_type_resource_test.go
  internal/provider/delivery_api_key_resource_test.go
  internal/provider/editor_interface_resource_test.go
  internal/provider/personal_access_token_resource_test.go
  internal/provider/preview_api_key_data_source_test.go
  internal/provider/role_resource_test.go
  internal/provider/testdata/TestAccRoleResourceImportNotFound/main.tf
  internal/provider/webhook_resource_test.go
Due: provider

test(provider/role): implement mocked role resource test
  internal/provider/role_resource_test.go
  internal/provider/testdata/TestAccRoleResourceCreateUpdateDelete/1/main.tf
  internal/provider/testdata/TestAccRoleResourceCreateUpdateDelete/1/vars.tf
  internal/provider/testdata/TestAccRoleResourceCreateUpdateDelete/2/main.tf
  internal/provider/testdata/TestAccRoleResourceCreateUpdateDelete/2/vars.tf
Due: provider

test(provider/role): test deleting a deleted resource
  internal/provider/role_resource_test.go
  internal/provider/testdata/TestAccRoleResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/1/vars.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/2/vars.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/3/main.tf
  internal/provider/testdata/TestAccRoleResourceDeleted/3/vars.tf
Due: provider

ref(provider/role): use hand-rolled resource model
  internal/provider/role_model.go
  internal/provider/role_model_policies_request.go
  internal/provider/role_model_policies_response.go
  internal/provider/role_model_request_test.go
  internal/provider/role_model_response.go
  internal/provider/role_policy_type.go
  internal/provider/role_policy_value.go
  internal/provider/role_policy_value_test.go
  internal/provider/role_resource.go
  internal/provider/role_resource_gen.go
  internal/provider/role_resource_schema.go
  internal/provider/webhook_filter_not_value.go
  specification.json
Due: provider

test(provider): consolidate model type equals tests
  internal/provider/model_type_test.go
  internal/provider/webhook_filter_test.go
  internal/provider/webhook_header_type_test.go
  internal/provider/webhook_transformation_type_test.go
Due: provider

test(provider): consolidate model value from terraform value tests
  internal/provider/model_type_test.go
  internal/provider/webhook_filter_test.go
  internal/provider/webhook_header_type_test.go
  internal/provider/webhook_transformation_type_test.go
Due: provider

ref(provider/app_installation): use hand-rolled model type
  internal/provider/app_installation_model.go
  internal/provider/app_installation_model_request.go
  internal/provider/app_installation_model_request_test.go
  internal/provider/app_installation_model_response.go
  internal/provider/app_installation_model_response_test.go
  internal/provider/app_installation_resource.go
  internal/provider/app_installation_resource_schema.go
  specification.json
Due: provider

feat(provider/app_installation): respect identifiers in responses
  internal/provider/app_installation_model_response.go
  internal/provider/app_installation_model_response_test.go
Due: provider

test(provider/app_installation): simplify test module variables
  internal/provider/app_installation_resource_test.go
  internal/provider/testdata/TestAccAppInstallationResource/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResource/1/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceCreateNotFound/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceCreateNotFound/1/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/1/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/2/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/2/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/3/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceDeleted/3/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceImport/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceImport/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceImportNotFound/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceImportNotFound/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/1/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/1/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/2/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/2/vars.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/3/main.tf
  internal/provider/testdata/TestAccAppInstallationResourceUpdate/3/vars.tf
Due: provider

feat(provider/app_installation): synthesise a standard resource id attribute
  docs/resources/app_installation.md
  internal/provider/app_installation_model.go
  internal/provider/app_installation_model_response.go
  internal/provider/app_installation_model_response_test.go
  internal/provider/app_installation_resource_schema.go
  internal/provider/app_installation_resource_test.go
Due: provider
