Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 0%
    patch:
      default:
        informational: true

comment:
  layout: "condensed_header,condensed_files,diff,flags,components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        threshold: 0%
  individual_components:
    - component_id: contentful-management-go
      name: contentful-management-go
      paths:
        - internal/contentful-management-go/**
      statuses:
        - type: project
          informational: true
    - component_id: contentful-management-testserver
      name: contentful-management-testserver
      paths:
        - internal/contentful-management-testserver/**
      statuses:
        - type: project
          informational: true
    - component_id: provider
      name: provider
      paths:
        - internal/provider/**
    - component_id: terraform-plugin-framework-reflection
      name: terraform-plugin-framework-reflection
      paths:
        - internal/terraform-plugin-framework-reflection/**

ignore:
  - 'main.go'
  - 'internal/contentful-management-go/*_gen.go'

chore(github/workflows/golangci): skip cache
  .github/workflows/golangci.yml
Due: none

ref(contentful-management-go): use shared parameter definitions
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

ref: simplify 2xx response decoding
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/provider/app_installation_resource.go
  internal/provider/content_type_resource.go
  internal/provider/delivery_api_key_resource.go
  internal/provider/editor_interface_resource.go
  internal/provider/personal_access_token_resource.go
  internal/provider/role_resource.go
  internal/provider/space_enablements_resource.go
  internal/provider/webhook_resource.go
Due: contentful-management-go, provider

feat(provider): support ui extensions
  docs/resources/extension.md
  internal/provider/contentful_provider.go
  internal/provider/extension_model_request.go
  internal/provider/extension_model_response.go
  internal/provider/extension_resource.go
  internal/provider/extension_resource_model.go
Due: provider

feat(contentful-management-go): support ui extension management
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
Due: contentful-management-go

feat(contentful-management-testserver): support ui extensions
  internal/contentful-management-testserver/extension.go
  internal/contentful-management-testserver/handle_space_environment_extensions.go
  internal/contentful-management-testserver/testserver.go
Due: contentful-management-testserver

ref(provider/app_definition_resource_provider): recreate entire model on each refresh
  internal/provider/app_definition_resource_provider_resource.go
  internal/provider/app_definition_resource_provider_resource_model_response.go
Due: provider

ref(provider/app_definition_resource_type): recreate entire model on each refresh
  internal/provider/app_definition_resource_type_resource.go
  internal/provider/app_definition_resource_type_resource_model_response.go
Due: provider

ref(provider/webhook): recreate entire model on each refresh
  internal/provider/webhook_headers_response.go
  internal/provider/webhook_model_response.go
  internal/provider/webhook_resource.go
Due: provider

ref(provider/editor_interface): recreate entire model on each refresh
  internal/provider/editor_interface_model_request_test.go
  internal/provider/editor_interface_model_response.go
  internal/provider/editor_interface_model_response_test.go
  internal/provider/editor_interface_resource.go
Due: provider

ref(provider/preview_api_key): recreate entire model on each refresh
  internal/provider/preview_api_key_data_source.go
  internal/provider/preview_api_key_model_response.go
Due: provider

ref(provider/space_enablements): recreate entire model on each refresh
  internal/provider/space_enablements_model_response.go
  internal/provider/space_enablements_resource.go
Due: provider

ref(provider/content_type): recreate entire model on each refresh
  internal/provider/content_type_model_response.go
  internal/provider/content_type_resource.go
Due: provider

ref(provider/app_installation): recreate entire model on each refresh
  internal/provider/app_installation_model_response.go
  internal/provider/app_installation_model_response_test.go
  internal/provider/app_installation_resource.go
Due: provider

ref(provider/role): recreate entire model on each refresh
  internal/provider/role_model_request_test.go
  internal/provider/role_model_response.go
  internal/provider/role_resource.go
Due: provider

ref(provider/delivery_api_key): recreate entire model on each refresh
  internal/provider/delivery_api_key_model_response.go
  internal/provider/delivery_api_key_resource.go
Due: provider

ref(provider/personal_access_token): recreate entire model on each refresh
  internal/provider/personal_access_token_model_response.go
  internal/provider/personal_access_token_resource.go
Due: provider

feat(contentful-management-go): implement content type metadata
  internal/contentful-management-go/oas_cfg_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi.yml
  internal/contentful-management-testserver/content_type.go
Due: contentful-management-go, contentful-management-testserver

fixup! fixup! feat(provider/content_type): model content type metadata
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_value.go
  internal/provider/content_type_metadata_taxonomy_item_concept_value.go
  internal/provider/content_type_metadata_taxonomy_item_value.go
  internal/provider/content_type_metadata_value.go
Due: provider

fixup! feat(provider/content_type): model content type metadata
  docs/resources/content_type.md
  internal/provider/content_type_metadata_annotation_assignment_type.go
  internal/provider/content_type_metadata_annotation_assignment_value.go
  internal/provider/content_type_metadata_annotations_type.go
  internal/provider/content_type_metadata_annotations_value.go
  internal/provider/content_type_metadata_value.go
  internal/provider/content_type_resource_test.go
  internal/provider/model_type_test.go
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/2/main.tf
Due: provider

feat(provider/content_type): model content type metadata
  docs/resources/content_type.md
  internal/provider/content_type_metadata_annotation_assignment_type.go
  internal/provider/content_type_metadata_annotation_assignment_value.go
  internal/provider/content_type_metadata_annotations_type.go
  internal/provider/content_type_metadata_annotations_value.go
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_type.go
  internal/provider/content_type_metadata_taxonomy_item_concept_scheme_value.go
  internal/provider/content_type_metadata_taxonomy_item_concept_type.go
  internal/provider/content_type_metadata_taxonomy_item_concept_value.go
  internal/provider/content_type_metadata_taxonomy_item_type.go
  internal/provider/content_type_metadata_taxonomy_item_value.go
  internal/provider/content_type_metadata_type.go
  internal/provider/content_type_metadata_value.go
  internal/provider/content_type_resource_model.go
  internal/provider/content_type_resource_test.go
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/1/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/1/vars.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/2/main.tf
  internal/provider/testdata/TestAccContentTypeResourceUpdateResourceMetadata/2/vars.tf
Due: provider
