Repository cysp/terraform-provider-contentful: changes, and which Codecov flags are due for each by the changed paths.
All: contentful-management-go, contentful-management-testserver, provider, terraform-plugin-framework-reflection

docs(resource): put configuration before recovery details
  docs/resources/content_type.md
  docs/resources/entry.md
  docs/resources/live_preview_variables.md
  docs/resources/preview_environment.md
  templates/resources/content_type.md.tmpl
  templates/resources/entry.md.tmpl
  templates/resources/live_preview_variables.md.tmpl
  templates/resources/preview_environment.md.tmpl
Due: none

docs(provider): improve setup and workflow guides
  README.md
  docs/guides/secrets-and-state.md
  docs/index.md
  docs/list-resources/content_type.md
  docs/list-resources/entry.md
  examples/guides/resource-discovery/query.tfquery.hcl
  internal/provider/contentful_provider.go
  templates/guides/operation-timeouts.md
  templates/guides/operation-timeouts.md.tmpl
  templates/guides/resource-discovery.md
  templates/guides/resource-discovery.md.tmpl
  templates/guides/secrets-and-state.md
  templates/index.md.tmpl
  templates/list-resources.md.tmpl
Due: provider

docs: clarify documentation authoring and release workflows
  DEVELOPMENT.md
  docs/releasing.md
  docs/research/provider-documentation.md
Due: none

docs: organize design contracts and endpoint evidence
  docs/design/README.md
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  docs/research/app-signing-secret.md
  docs/research/cma-test-server-conformance.md
  docs/research/content-preview-environments.md
  docs/research/delivery-api-key-environments.md
  docs/research/entry-and-content-type-put-headers.md
  docs/research/entry-destroy-lifecycle.md
  docs/research/entry-null-and-omission.md
  docs/research/entry-publication-lifecycle-evidence.md
  docs/research/entry-unpublish-version.md
  docs/research/extension-source-values.md
  docs/research/live-preview-variables.md
  docs/research/space-enablement-values.md
  docs/research/taxonomy-version.md
Due: none

docs(provider): lead timeout guidance with configuration
  docs/guides/operation-timeouts.md
  docs/index.md
  examples/guides/operation-timeouts/timeouts.tf
  templates/guides/operation-timeouts.md.tmpl
  templates/index.md.tmpl
Due: none

docs(research): add App Framework resource and API reference
  docs/design/README.md
  docs/research/app-event-resources.md
Due: none

docs(research): organize durable Contentful API references
  DEVELOPMENT.md
  docs/design/README.md
  docs/design/cma-test-server-conformance.md
  docs/design/content-preview-environments.md
  docs/design/entry-publication-evidence.md
  docs/design/provider-documentation.md
  docs/design/terraform-value-semantics.md
  docs/research/README.md
  docs/research/app-event-resources.md
  docs/research/app-framework/README.md
  docs/research/app-framework/actions.md
  docs/research/app-framework/configuration.md
  docs/research/app-framework/deployment.md
  docs/research/app-framework/events.md
  docs/research/app-framework/functions.md
  docs/research/app-framework/identity.md
  docs/research/app-framework/native-external-references.md
  docs/research/app-framework/request-signing.md
  docs/research/app-signing-secret.md
  docs/research/collections-and-errors.md
  docs/research/content-preview-environments.md
  docs/research/delivery-api-key-environments.md
  docs/research/delivery-api-keys.md
  docs/research/editor-interfaces.md
  docs/research/entry-and-content-type-put-headers.md
  docs/research/entry-destroy-lifecycle.md
  docs/research/entry-fields.md
  docs/research/entry-lifecycle.md
  docs/research/entry-metadata.md
  docs/research/entry-null-and-omission.md
  docs/research/entry-publication-lifecycle-evidence.md
  docs/research/entry-unpublish-version.md
  docs/research/environment-readiness.md
  docs/research/extension-source-values.md
  docs/research/live-preview-variables.md
  docs/research/space-enablement-values.md
  docs/research/space-enablements.md
  docs/research/taxonomy.md
  docs/research/ui-extensions.md
  docs/research/webhooks.md
Due: none

docs(research): incorporate observed Contentful response contracts
  docs/research/README.md
  docs/research/app-framework/README.md
  docs/research/app-framework/actions.md
  docs/research/app-framework/configuration.md
  docs/research/app-framework/deployment.md
  docs/research/app-framework/functions.md
  docs/research/app-framework/native-external-references.md
  docs/research/collections-and-errors.md
  docs/research/editor-interfaces.md
  docs/research/environment-aliases.md
  docs/research/locales.md
  docs/research/space-access.md
  docs/research/taxonomy.md
  docs/research/ui-config.md
  docs/research/webhooks.md
Due: none

test: simplify fixtures and acceptance verification
  .github/workflows/test.yml
  DEVELOPMENT.md
  docs/testing.md
  internal/provider/contentful_provider_acceptance_support_test.go
  internal/provider/resource_app_key_acceptance_live_test.go
  internal/provider/resource_app_key_acceptance_mock_test.go
  internal/provider/resource_app_key_acceptance_support_test.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_delete_remote_test.go
  internal/provider/resource_entry_publication_test.go
  internal/provider/resource_secret_presentation_test.go
  internal/provider/resource_team_test.go
  internal/provider/taxonomy_model_conversion_test.go
Due: provider

docs(provider): clarify parameter lifecycle and authoring guidance
  DEVELOPMENT.md
  docs/design/provider-documentation.md
  docs/guides/secrets-and-state.md
  docs/resources/app_installation.md
  docs/resources/editor_interface.md
  internal/provider/resource_app_installation_schema.go
  internal/provider/resource_editor_interface_schema.go
  templates/guides/secrets-and-state.md
Due: provider

test: simplify acceptance verification
  .github/workflows/test.yml
  DEVELOPMENT.md
  docs/testing.md
  internal/provider/contentful_provider_acceptance_support_test.go
  internal/provider/resource_content_type_activation_test.go
  internal/provider/resource_entry_publication_test.go
  internal/provider/resource_secret_presentation_test.go
  internal/provider/resource_team_test.go
  internal/provider/taxonomy_model_conversion_test.go
Due: provider

docs(agents): define commit scope conventions
  AGENTS.md
Due: none

feat(contentful-management-go): add webhook signing secret support
  docs/design/cma-test-server-conformance.md
  docs/research/webhook-signing-secret.md
  docs/research/webhooks.md
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_request_decoders_gen.go
  internal/contentful-management-go/oas_request_encoders_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/webhook-signing-secret/data.yml
  internal/contentful-management-go/openapi/schemas/webhook-signing-secret/request-data.yml
  internal/contentful-management-go/openapi/schemas/webhook-signing-secret/sys.yml
  internal/contentful-management-go/openapi/schemas/webhook-signing-secret/webhook-signing-secret.yml
  internal/contentful-management-go/testing/error_handler.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_webhook_signing_secret.go
  internal/contentful-management-go/testing/handler_webhook_signing_secret_http_test.go
Due: contentful-management-go

fix(provider): enforce no-retry policy across HTTP redirects
  docs/design/contentful-http-retry-policy.md
  internal/provider/contentful_http_client.go
  internal/provider/contentful_http_redirect_internal_test.go
Due: provider

refactor(provider): share signing secret error redaction
  internal/provider/resource_app_signing_secret.go
  internal/provider/signing_secret_diagnostics.go
  internal/provider/signing_secret_diagnostics_internal_test.go
Due: provider

feat(provider): manage space webhook signing secrets
  docs/design/cma-test-server-conformance.md
  docs/design/contentful-http-retry-policy.md
  docs/design/terraform-value-semantics.md
  docs/design/webhook-signing-secret.md
  docs/guides/secrets-and-state.md
  docs/research/webhook-signing-secret.md
  docs/resources/webhook_signing_secret.md
  examples/resources/contentful_webhook_signing_secret/import-by-identity.tf
  examples/resources/contentful_webhook_signing_secret/import-by-string-id.tf
  examples/resources/contentful_webhook_signing_secret/import.sh
  examples/resources/contentful_webhook_signing_secret/resource.tf
  examples/resources/contentful_webhook_signing_secret/variables.tf
  internal/provider/contentful_provider.go
  internal/provider/resource_app_signing_secret_schema.go
  internal/provider/resource_webhook_signing_secret.go
  internal/provider/resource_webhook_signing_secret_internal_test.go
  internal/provider/resource_webhook_signing_secret_schema.go
  internal/provider/resource_webhook_signing_secret_test.go
  internal/provider/webhook_signing_secret_model.go
  internal/provider/webhook_signing_secret_model_request.go
  internal/provider/webhook_signing_secret_model_response.go
  templates/guides/secrets-and-state.md
  templates/resources/webhook_signing_secret.md.tmpl
Due: provider

feat(contentful-management-go): support configuration discovery endpoints
  internal/contentful-management-go/environment_alias_sys.go
  internal/contentful-management-go/oas_client_gen.go
  internal/contentful-management-go/oas_handlers_gen.go
  internal/contentful-management-go/oas_interfaces_gen.go
  internal/contentful-management-go/oas_json_gen.go
  internal/contentful-management-go/oas_operations_gen.go
  internal/contentful-management-go/oas_parameters_gen.go
  internal/contentful-management-go/oas_response_decoders_gen.go
  internal/contentful-management-go/oas_response_encoders_gen.go
  internal/contentful-management-go/oas_router_gen.go
  internal/contentful-management-go/oas_schemas_gen.go
  internal/contentful-management-go/oas_security_gen.go
  internal/contentful-management-go/oas_server_gen.go
  internal/contentful-management-go/oas_validators_gen.go
  internal/contentful-management-go/openapi/openapi.yml
  internal/contentful-management-go/openapi/schemas/environment-alias/collection.yml
  internal/contentful-management-go/openapi/schemas/environment-alias/sys.yml
  internal/contentful-management-go/openapi/schemas/environment/collection.yml
  internal/contentful-management-go/openapi/schemas/environment/sys.yml
  internal/contentful-management-go/openapi/schemas/locale/collection.yml
  internal/contentful-management-go/openapi/schemas/locale/locale.yml
  internal/contentful-management-go/openapi/schemas/locale/sys.yml
  internal/contentful-management-go/openapi/schemas/space/collection.yml
  internal/contentful-management-go/openapi/schemas/space/space.yml
  internal/contentful-management-go/openapi/schemas/space/sys.yml
  internal/contentful-management-go/space_map.go
  internal/contentful-management-go/testing/handler.go
  internal/contentful-management-go/testing/handler_discovery.go
  internal/contentful-management-go/testing/handler_environment.go
  internal/provider/data_source_environment_status_ready_internal_test.go
  internal/provider/data_source_environment_status_ready_test.go
Due: contentful-management-go, provider

refactor(provider): type collection fetch boundaries
  internal/provider/contentful_collection.go
  internal/provider/data_source_teams.go
  internal/provider/list_resource_content_type.go
  internal/provider/list_resource_entry.go
  internal/provider/list_resource_fetch_internal_test.go
  internal/provider/list_resource_pagination.go
  internal/provider/list_resource_pagination_test.go
Due: provider

test(provider): verify app event subscription recovery and replacement
  docs/design/cma-test-server-conformance.md
  internal/provider/resource_app_event_subscription_test.go
Due: provider

Path conditions:
  contentful-management-go: any of: internal/contentful-management-go/**, but not: main.go, internal/contentful-management-go/*_gen.go
  contentful-management-testserver: any of: internal/contentful-management-testserver/**, but not: main.go, internal/contentful-management-go/*_gen.go
  provider: any of: internal/provider/**, but not: main.go, internal/contentful-management-go/*_gen.go
  terraform-plugin-framework-reflection: any of: internal/terraform-plugin-framework-reflection/**, but not: main.go, internal/contentful-management-go/*_gen.go
